{include file="./public/head" /}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="LAY-component-form-setval" lay-filter="example">

                  <div class="layui-form-item">

                      <label for="username" class="layui-form-label">
                          <span class="x-red">*</span>名称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="cat_name" name="cat_name" required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                      <div class="layui-form-mid layui-word-aux">
                          <span class="x-red">*</span>分类名称
                      </div>
                  </div>
                    <div class="layui-form-item">

                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>ico-logo
                        </label>
                        <div class="layui-input-inline">
                            <input type="hidden" id="headimg" name="files" required="" autocomplete="off" class="layui-input">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="test1">上传图片</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="demo1"  width="120px" height="120px">
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>上传分类图片
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>排序
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="sort_order" name="sort_order" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>数字越大，越往前
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">是否显示</label>
                        <div class="layui-input-block">
                            <input type="radio" name="show_in_nav" value="0" title="显示" checked="">
                            <input type="radio" name="show_in_nav" value="1" title="隐藏">
                            <input type="radio" name="sex" value="禁" title="禁用" disabled="">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">上级选择</label>
                            <div class="layui-input-inline">
                                <select name="parent_id">
                                    <option value="0">请选择权限所属分类</option>
                                    {volist name="categorylsit" id="v"}
                                        <option value="{$v.cat_id}">{$v.cat_name}</option>
                                        {volist name="elist" id="vv"}
                                            {if $v.cat_id == $vv.parent_id}
                                                <optgroup label="——{$vv.cat_name}"></optgroup>
                                                <!--<option value="{$vv.id}">——{$vv.name}</option>-->
                                            {/if}
                                        {/volist}
                                    {/volist}
                                </select>
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                <span class="x-red">*</span>默认一级
                            </div>
                        </div>
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          提交
                      </button>
                  </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                    function(data) {
                        // console.log(data.field);return ;
                        //发异步，把数据提交给php
                        $.ajax({
                            url:'/vcategoryadd',
                            type:'post',
                            data:data.field,
                            success:function(data) {
                                // console.log(data);return;
                                if(data.code =="200" ){
                                    // console.log(data.data);return ;
                                    // view("添加成功！");
                                    layer.alert("增加成功", {
                                            icon: 6
                                        },
                                        function() {
                                            //关闭当前frame
                                            xadmin.close();

                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });
                                    // window.location.reload();

                                }else{
                                    alert(data.message);
                                    // view(data.msg);
                                }
                            },
                            error : function() {
                                // view("异常！");
                                alert("异常！");
                            }
                        });
                        return false;
                    });

            });
        </script>
        <script>
            layui.use('upload', function(){
                var $ = layui.jquery
                    ,upload = layui.upload;

                //普通图片上传
                var uploadInst = upload.render({
                    elem: '#test1'
                    ,url: '/vupload'
                    ,before: function(obj){
                        //预读本地文件示例，不支持ie8
                        obj.preview(function(index, file, result){
                            $('#demo1').attr('src', result); //图片链接（base64）
                        });
                    }
                    ,done: function(res){
                        if(res.code == 200){
                            $('#headimg').val(res.data);
                        }
                        // console.log(res.data);
                        // return ;
                        //如果上传失败
                        if(res.code == 100){
                            return layer.msg('上传失败');
                        }
                        //上传成功

                    }
                    ,error: function(){
                        //演示失败状态，并实现重传
                        var demoText = $('#demoText');
                        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                        demoText.find('.demo-reload').on('click', function(){
                            uploadInst.upload();
                        });
                    }
                });
            });
        </script>
    </body>

</html>
