blockquote[data-v-6fc7e12e],
body[data-v-6fc7e12e],
button[data-v-6fc7e12e],
code[data-v-6fc7e12e],
dd[data-v-6fc7e12e],
div[data-v-6fc7e12e],
dl[data-v-6fc7e12e],
dt[data-v-6fc7e12e],
fieldset[data-v-6fc7e12e],
form[data-v-6fc7e12e],
h1[data-v-6fc7e12e],
h2[data-v-6fc7e12e],
h3[data-v-6fc7e12e],
h4[data-v-6fc7e12e],
h5[data-v-6fc7e12e],
h6[data-v-6fc7e12e],
input[data-v-6fc7e12e],
legend[data-v-6fc7e12e],
li[data-v-6fc7e12e],
ol[data-v-6fc7e12e],
p[data-v-6fc7e12e],
pre[data-v-6fc7e12e],
td[data-v-6fc7e12e],
textarea[data-v-6fc7e12e],
th[data-v-6fc7e12e],
ul[data-v-6fc7e12e] {
	margin: 0;
	padding: 0
}

body[data-v-6fc7e12e] {
	background: #fff;
	color: #000;
	font-size: .373333rem;
	font-family: fzhei-b01sregular
}

caption[data-v-6fc7e12e],
td[data-v-6fc7e12e],
th[data-v-6fc7e12e] {
	font-size: .373333rem
}

h1[data-v-6fc7e12e],
h2[data-v-6fc7e12e],
h3[data-v-6fc7e12e],
h4[data-v-6fc7e12e],
h5[data-v-6fc7e12e],
h6[data-v-6fc7e12e] {
	font-size: 100%
}

h5[data-v-6fc7e12e] {
	font-weight: unset
}

address[data-v-6fc7e12e],
caption[data-v-6fc7e12e],
cite[data-v-6fc7e12e],
code[data-v-6fc7e12e],
dfn[data-v-6fc7e12e],
em[data-v-6fc7e12e],
th[data-v-6fc7e12e],
var[data-v-6fc7e12e] {
	font-style: normal;
	font-weight: 400
}

a[data-v-6fc7e12e] {
	text-decoration: none;
	outline: none;
	color: #bfbfbe
}

a[data-v-6fc7e12e]:visited {
	color: #bfbfbe
}

.rich_content img[data-v-6fc7e12e] {
	width: 100% !important;
	height: 100% !important
}

img[data-v-6fc7e12e] {
	border: none
}

li[data-v-6fc7e12e],
ol[data-v-6fc7e12e],
ul[data-v-6fc7e12e] {
	list-style: none
}

li[data-v-6fc7e12e] {
	vertical-align: top
}

button[data-v-6fc7e12e],
input[data-v-6fc7e12e],
select[data-v-6fc7e12e],
textarea[data-v-6fc7e12e] {
	font: .373333rem Microsoft yahei, Verdana, Helvetica, Arial, sans-serif
}

input[data-v-6fc7e12e] {
	border: none;
	outline: none
}

input[data-v-6fc7e12e]:focus {
	outline: none
}

table[data-v-6fc7e12e] {
	border-collapse: collapse
}

button[data-v-6fc7e12e] {
	border: none;
	border-radius: 5Px
}

.clearfix[data-v-6fc7e12e]:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix[data-v-6fc7e12e] {
	*zoom: 1
}

.icon[data-v-6fc7e12e] {
	width: 1em;
	height: 1em;
	vertical-align: -.15em;
	fill: currentColor;
	overflow: hidden
}

.page-enter-active[data-v-6fc7e12e],
.page-leave-active[data-v-6fc7e12e] {
	-webkit-transition: opacity .5s;
	transition: opacity .5s
}

.page-enter[data-v-6fc7e12e],
.page-leave-active[data-v-6fc7e12e] {
	opacity: 0
}

.expand-enter-active[data-v-6fc7e12e],
.expand-leave-active[data-v-6fc7e12e] {
	-webkit-transition: height 1s ease-in-out;
	transition: height 1s ease-in-out;
	overflow: hidden
}

.expand-enter[data-v-6fc7e12e],
.expand-leave-to[data-v-6fc7e12e] {
	height: 0
}

.slide-right-enter[data-v-6fc7e12e],
.slide-right-leave-to[data-v-6fc7e12e] {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0)
}

.slide-right-enter-to[data-v-6fc7e12e],
.slide-right-leave[data-v-6fc7e12e] {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

.slide-right-enter-active[data-v-6fc7e12e],
.slide-right-leave-active[data-v-6fc7e12e] {
	-webkit-transition: all .3s linear;
	transition: all .3s linear
}

.slide-left-enter[data-v-6fc7e12e],
.slide-right-leave-active[data-v-6fc7e12e] {
	opacity: 0;
	-webkit-transform: translate(.8rem);
	transform: translate(.8rem)
}

.slide-left-leave-active[data-v-6fc7e12e],
.slide-right-enter[data-v-6fc7e12e] {
	opacity: 0;
	-webkit-transform: translate(-.8rem);
	transform: translate(-.8rem)
}

.more_goods .title[data-v-6fc7e12e] {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	padding: .266667rem;
	border-bottom: 1px solid #dcdcdc
}

.more_goods .title h2[data-v-6fc7e12e] {
	font-size: .426667rem;
	color: #a01e03
}

.more_goods .title a[data-v-6fc7e12e] {
	color: #a01e03
}

.sort_container[data-v-6fc7e12e] {
	background: #fff;
	height: .8rem;
	border-bottom: .026667rem solid #eee
}

.sort_container[data-v-6fc7e12e],
.sort_container ul[data-v-6fc7e12e] {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.sort_container ul[data-v-6fc7e12e] {
	-webkit-box-pack: justify;
	justify-content: space-around;
	color: #9b9b9b;
	height: .533333rem;
	font-size: .32rem;
	width: 100%
}

.sort_container ul li[data-v-6fc7e12e] {
	width: 25%;
	text-align: center
}

.sort_container ul li.active[data-v-6fc7e12e],
.sort_container ul li span.active[data-v-6fc7e12e] {
	color: #252525
}

.sort_container ul .price_sort_li[data-v-6fc7e12e] {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center
}

.icon.active[data-v-6fc7e12e] {
	color: #252525
}

.icon-sort-asc[data-v-6fc7e12e] {
	position: absolute;
	top: -.213333rem;
	left: 0
}

.icon-sortdesc[data-v-6fc7e12e] {
	position: absolute;
	top: -.106667rem;
	left: 0
}
