.xgplayer-skin-default {
	background: #000;
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-ms-user-select: none
}

.xgplayer-skin-default * {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

.xgplayer-skin-default.xgplayer-rotate-fullscreen {
	position: absolute;
	top: 0;
	left: 100%;
	bottom: 0;
	right: 0;
	height: 100vw !important;
	width: 100vh !important;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}

.xgplayer-skin-default.xgplayer-is-fullscreen {
	width: 100% !important;
	height: 100% !important;
	padding-top: 0 !important;
	z-index: 9999
}

.xgplayer-skin-default.xgplayer-is-fullscreen.xgplayer-inactive {
	cursor: none
}

.xgplayer-skin-default video {
	width: 100%;
	height: 100%;
	outline: none
}

.xgplayer-skin-default .xgplayer-none {
	display: none
}

@-webkit-keyframes loadingRotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes loadingRotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@-webkit-keyframes loadingDashOffset {
	0% {
		stroke-dashoffset: 236
	}

	to {
		stroke-dashoffset: 0
	}
}

@keyframes loadingDashOffset {
	0% {
		stroke-dashoffset: 236
	}

	to {
		stroke-dashoffset: 0
	}
}

.xgplayer-skin-default .xgplayer-play,
.xgplayer-skin-default .xgplayer-play-img {
	width: 45px;
	position: relative;
	-webkit-order: 0;
	-moz-box-ordinal-group: 1;
	order: 0;
	display: block;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 8px
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-icon,
.xgplayer-skin-default .xgplayer-play .xgplayer-icon {
	margin-top: 3px;
	width: 32px
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-icon div,
.xgplayer-skin-default .xgplayer-play .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-icon .xgplayer-icon-play,
.xgplayer-skin-default .xgplayer-play .xgplayer-icon .xgplayer-icon-play {
	display: block
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-icon .xgplayer-icon-pause,
.xgplayer-skin-default .xgplayer-play .xgplayer-icon .xgplayer-icon-pause {
	display: none
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-tips .xgplayer-tip-play,
.xgplayer-skin-default .xgplayer-play .xgplayer-tips .xgplayer-tip-play {
	display: block
}

.xgplayer-skin-default .xgplayer-play-img .xgplayer-tips .xgplayer-tip-pause,
.xgplayer-skin-default .xgplayer-play .xgplayer-tips .xgplayer-tip-pause {
	display: none
}

.xgplayer-skin-default .xgplayer-play-img:hover,
.xgplayer-skin-default .xgplayer-play:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-play-img:hover .xgplayer-tips,
.xgplayer-skin-default .xgplayer-play:hover .xgplayer-tips {
	display: block
}

.xgplayer-skin-default.xgplayer-playing .xgplayer-play-img .xgplayer-icon .xgplayer-icon-play,
.xgplayer-skin-default.xgplayer-playing .xgplayer-play .xgplayer-icon .xgplayer-icon-play {
	display: none
}

.xgplayer-skin-default.xgplayer-playing .xgplayer-play-img .xgplayer-icon .xgplayer-icon-pause,
.xgplayer-skin-default.xgplayer-playing .xgplayer-play .xgplayer-icon .xgplayer-icon-pause {
	display: block
}

.xgplayer-skin-default.xgplayer-playing .xgplayer-play-img .xgplayer-tips .xgplayer-tip-play,
.xgplayer-skin-default.xgplayer-playing .xgplayer-play .xgplayer-tips .xgplayer-tip-play {
	display: none
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-play-img .xgplayer-icon .xgplayer-icon-play,
.xgplayer-skin-default.xgplayer-pause .xgplayer-play .xgplayer-icon .xgplayer-icon-play,
.xgplayer-skin-default.xgplayer-playing .xgplayer-play-img .xgplayer-tips .xgplayer-tip-pause,
.xgplayer-skin-default.xgplayer-playing .xgplayer-play .xgplayer-tips .xgplayer-tip-pause {
	display: block
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-play-img .xgplayer-icon .xgplayer-icon-pause,
.xgplayer-skin-default.xgplayer-pause .xgplayer-play .xgplayer-icon .xgplayer-icon-pause {
	display: none
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-play-img .xgplayer-tips .xgplayer-tip-play,
.xgplayer-skin-default.xgplayer-pause .xgplayer-play .xgplayer-tips .xgplayer-tip-play {
	display: block
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-play-img .xgplayer-tips .xgplayer-tip-pause,
.xgplayer-skin-default.xgplayer-pause .xgplayer-play .xgplayer-tips .xgplayer-tip-pause {
	display: none
}

.xgplayer-skin-default .xgplayer-start {
	border-radius: 50%;
	display: inline-block;
	width: 70px;
	height: 70px;
	background: rgba(0, 0, 0, .38);
	overflow: hidden;
	text-align: center;
	line-height: 70px;
	vertical-align: middle;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 115;
	margin: -35px auto auto -35px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-start div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-start div svg {
	fill: hsla(0, 0%, 100%, .7);
	margin: 14px
}

.xgplayer-skin-default .xgplayer-start .xgplayer-icon-play {
	display: block
}

.xgplayer-skin-default .xgplayer-start .xgplayer-icon-pause {
	display: none
}

.xgplayer-skin-default .xgplayer-start:hover {
	opacity: .85
}

.xgplayer-skin-default.xgplayer-playing .xgplayer-start,
.xgplayer-skin-default.xgplayer-playing .xgplayer-start .xgplayer-icon-play {
	display: none
}

.xgplayer-skin-default.xgplayer-playing .xgplayer-start .xgplayer-icon-pause {
	display: block
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-start {
	display: inline-block
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-start .xgplayer-icon-play {
	display: block
}

.xgplayer-skin-default.replay .xgplayer-start,
.xgplayer-skin-default.xgplayer-pause .xgplayer-start .xgplayer-icon-pause {
	display: none
}

.xgplayer-skin-default.replay .xgplayer-start .xgplayer-icon-play {
	display: block
}

.xgplayer-skin-default.replay .xgplayer-start .xgplayer-icon-pause {
	display: none
}

.xgplayer-skin-default .xgplayer-enter {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 120
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div {
	width: 12%;
	height: 26%;
	background-color: hsla(0, 0%, 100%, .7);
	position: absolute;
	left: 44%;
	top: 37%;
	opacity: 0;
	border-radius: 30px;
	-webkit-animation: fade 1s linear infinite;
	animation: fade 1s linear infinite
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar1 {
	-webkit-transform: rotate(0deg) translateY(-142%);
	-ms-transform: rotate(0deg) translateY(-142%);
	transform: rotate(0deg) translateY(-142%);
	-webkit-animation-delay: 0s;
	animation-delay: 0s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar2 {
	-webkit-transform: rotate(30deg) translateY(-142%);
	-ms-transform: rotate(30deg) translateY(-142%);
	transform: rotate(30deg) translateY(-142%);
	-webkit-animation-delay: -.9163s;
	animation-delay: -.9163s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar3 {
	-webkit-transform: rotate(60deg) translateY(-142%);
	-ms-transform: rotate(60deg) translateY(-142%);
	transform: rotate(60deg) translateY(-142%);
	-webkit-animation-delay: -.833s;
	animation-delay: -.833s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar4 {
	-webkit-transform: rotate(90deg) translateY(-142%);
	-ms-transform: rotate(90deg) translateY(-142%);
	transform: rotate(90deg) translateY(-142%);
	-webkit-animation-delay: -.7497s;
	animation-delay: -.7497s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar5 {
	-webkit-transform: rotate(120deg) translateY(-142%);
	-ms-transform: rotate(120deg) translateY(-142%);
	transform: rotate(120deg) translateY(-142%);
	-webkit-animation-delay: -.6664s;
	animation-delay: -.6664s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar6 {
	-webkit-transform: rotate(150deg) translateY(-142%);
	-ms-transform: rotate(150deg) translateY(-142%);
	transform: rotate(150deg) translateY(-142%);
	-webkit-animation-delay: -.5831s;
	animation-delay: -.5831s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar7 {
	-webkit-transform: rotate(180deg) translateY(-142%);
	-ms-transform: rotate(180deg) translateY(-142%);
	transform: rotate(180deg) translateY(-142%);
	-webkit-animation-delay: -.4998s;
	animation-delay: -.4998s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar8 {
	-webkit-transform: rotate(210deg) translateY(-142%);
	-ms-transform: rotate(210deg) translateY(-142%);
	transform: rotate(210deg) translateY(-142%);
	-webkit-animation-delay: -.4165s;
	animation-delay: -.4165s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar9 {
	-webkit-transform: rotate(240deg) translateY(-142%);
	-ms-transform: rotate(240deg) translateY(-142%);
	transform: rotate(240deg) translateY(-142%);
	-webkit-animation-delay: -.3332s;
	animation-delay: -.3332s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar10 {
	-webkit-transform: rotate(270deg) translateY(-142%);
	-ms-transform: rotate(270deg) translateY(-142%);
	transform: rotate(270deg) translateY(-142%);
	-webkit-animation-delay: -.2499s;
	animation-delay: -.2499s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar11 {
	-webkit-transform: rotate(300deg) translateY(-142%);
	-ms-transform: rotate(300deg) translateY(-142%);
	transform: rotate(300deg) translateY(-142%);
	-webkit-animation-delay: -.1666s;
	animation-delay: -.1666s
}

.xgplayer-skin-default .xgplayer-enter .xgplayer-enter-spinner div.xgplayer-enter-bar12 {
	-webkit-transform: rotate(330deg) translateY(-142%);
	-ms-transform: rotate(330deg) translateY(-142%);
	transform: rotate(330deg) translateY(-142%);
	-webkit-animation-delay: -.0833s;
	animation-delay: -.0833s
}

@-webkit-keyframes fade {
	0% {
		opacity: 1
	}

	to {
		opacity: .25
	}
}

.xgplayer-skin-default.xgplayer-is-enter .xgplayer-enter {
	display: block
}

.xgplayer-skin-default .xgplayer-poster {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-size: cover;
	background-position: 50%
}

.xgplayer-skin-default.xgplayer-nostart .xgplayer-poster {
	display: block
}

.xgplayer-skin-default .xgplayer-placeholder {
	-webkit-flex: 1;
	-moz-box-flex: 1;
	flex: 1;
	-webkit-order: 3;
	-moz-box-ordinal-group: 4;
	order: 3;
	display: block
}

.xgplayer-skin-default .xgplayer-fullscreen,
.xgplayer-skin-default .xgplayer-fullscreen-img {
	position: relative;
	-webkit-order: 13;
	-moz-box-ordinal-group: 14;
	order: 13;
	display: block;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 3px
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-icon,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-icon {
	margin-top: 3px
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-icon div,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-icon .xgplayer-icon-requestfull,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-icon .xgplayer-icon-requestfull {
	display: block
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-icon .xgplayer-icon-exitfull,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-icon .xgplayer-icon-exitfull {
	display: none
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-tips,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-tips {
	position: absolute;
	right: 0;
	left: auto
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-tips .xgplayer-tip-requestfull,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-tips .xgplayer-tip-requestfull {
	display: block
}

.xgplayer-skin-default .xgplayer-fullscreen-img .xgplayer-tips .xgplayer-tip-exitfull,
.xgplayer-skin-default .xgplayer-fullscreen .xgplayer-tips .xgplayer-tip-exitfull {
	display: none
}

.xgplayer-skin-default .xgplayer-fullscreen-img:hover,
.xgplayer-skin-default .xgplayer-fullscreen:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-fullscreen-img:hover .xgplayer-tips,
.xgplayer-skin-default .xgplayer-fullscreen:hover .xgplayer-tips {
	display: block
}

.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen-img .xgplayer-icon .xgplayer-icon-requestfull,
.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen .xgplayer-icon .xgplayer-icon-requestfull {
	display: none
}

.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen-img .xgplayer-icon .xgplayer-icon-exitfull,
.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen .xgplayer-icon .xgplayer-icon-exitfull {
	display: block
}

.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen-img .xgplayer-tips .xgplayer-tip-requestfull,
.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen .xgplayer-tips .xgplayer-tip-requestfull {
	display: none
}

.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen-img .xgplayer-tips .xgplayer-tip-exitfull,
.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-fullscreen .xgplayer-tips .xgplayer-tip-exitfull {
	display: block
}

.xgplayer-skin-default .xgplayer-cssfullscreen,
.xgplayer-skin-default .xgplayer-cssfullscreen-img {
	position: relative;
	-webkit-order: 12;
	-moz-box-ordinal-group: 13;
	order: 12;
	display: block;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-icon,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-icon {
	width: 32px;
	margin-top: 5px
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-icon div,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-icon .xgplayer-icon-requestfull,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-icon .xgplayer-icon-requestfull {
	display: block
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-icon .xgplayer-icon-exitfull,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-icon .xgplayer-icon-exitfull {
	display: none
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-tips,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-tips {
	margin-left: -40px
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-tips .xgplayer-tip-requestfull,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-tips .xgplayer-tip-requestfull {
	display: block
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img .xgplayer-tips .xgplayer-tip-exitfull,
.xgplayer-skin-default .xgplayer-cssfullscreen .xgplayer-tips .xgplayer-tip-exitfull {
	display: none
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img:hover,
.xgplayer-skin-default .xgplayer-cssfullscreen:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-cssfullscreen-img:hover .xgplayer-tips,
.xgplayer-skin-default .xgplayer-cssfullscreen:hover .xgplayer-tips {
	display: block
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-icon .xgplayer-icon-requestfull,
.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-icon .xgplayer-icon-requestfull {
	display: none
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-icon .xgplayer-icon-exitfull,
.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-icon .xgplayer-icon-exitfull {
	display: block
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-tips,
.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-tips {
	margin-left: -47px
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-tips .xgplayer-tip-requestfull,
.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-tips .xgplayer-tip-requestfull {
	display: none
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-tips .xgplayer-tip-exitfull,
.xgplayer-skin-default.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-tips .xgplayer-tip-exitfull {
	display: block
}

.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-cssfullscreen,
.xgplayer-skin-default.xgplayer-is-fullscreen .xgplayer-cssfullscreen-img {
	display: none
}

.xgplayer-skin-default.xgplayer-is-cssfullscreen {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 99999 !important
}

.lang-is-en .xgplayer-cssfullscreen-img .xgplayer-tips,
.lang-is-en .xgplayer-cssfullscreen .xgplayer-tips,
.lang-is-en.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-tips,
.lang-is-en.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-tips {
	margin-left: -46px
}

.lang-is-jp .xgplayer-cssfullscreen-img .xgplayer-tips,
.lang-is-jp .xgplayer-cssfullscreen .xgplayer-tips {
	margin-left: -120px
}

.lang-is-jp.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen-img .xgplayer-tips,
.lang-is-jp.xgplayer-is-cssfullscreen .xgplayer-cssfullscreen .xgplayer-tips {
	margin-left: -60px
}

.xgplayer-skin-default .xgplayer-volume {
	outline: none;
	-webkit-order: 4;
	-moz-box-ordinal-group: 5;
	order: 4;
	width: 40px;
	height: 40px;
	display: block;
	position: relative;
	z-index: 18
}

.xgplayer-skin-default .xgplayer-volume .xgplayer-icon {
	margin-top: 8px;
	cursor: pointer;
	position: absolute;
	bottom: -9px
}

.xgplayer-skin-default .xgplayer-volume .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-volume .xgplayer-icon .xgplayer-icon-large {
	display: block
}

.xgplayer-skin-default .xgplayer-volume .xgplayer-icon .xgplayer-icon-muted,
.xgplayer-skin-default .xgplayer-volume .xgplayer-icon .xgplayer-icon-small {
	display: none
}

.xgplayer-skin-default .xgplayer-slider {
	display: none;
	position: absolute;
	width: 28px;
	height: 92px;
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	bottom: 42px;
	outline: none
}

.xgplayer-skin-default .xgplayer-slider:after {
	content: " ";
	display: block;
	height: 15px;
	width: 28px;
	position: absolute;
	bottom: -15px;
	left: 0;
	z-index: 20
}

.xgplayer-skin-default .xgplayer-bar,
.xgplayer-skin-default .xgplayer-drag {
	display: block;
	position: absolute;
	bottom: 6px;
	left: 12px;
	background: hsla(0, 0%, 100%, .3);
	border-radius: 100px;
	width: 4px;
	height: 76px;
	outline: none;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-drag {
	bottom: 0;
	left: 0;
	background: #fa1f41;
	max-height: 76px
}

.xgplayer-skin-default .xgplayer-drag:after {
	content: " ";
	display: inline-block;
	width: 8px;
	height: 8px;
	background: #fff;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .26);
	position: absolute;
	border-radius: 50%;
	left: -2px;
	top: -6px
}

.xgplayer-skin-default.xgplayer-volume-active .xgplayer-slider,
.xgplayer-skin-default.xgplayer-volume-large .xgplayer-volume .xgplayer-icon .xgplayer-icon-large {
	display: block
}

.xgplayer-skin-default.xgplayer-volume-large .xgplayer-volume .xgplayer-icon .xgplayer-icon-muted,
.xgplayer-skin-default.xgplayer-volume-large .xgplayer-volume .xgplayer-icon .xgplayer-icon-small,
.xgplayer-skin-default.xgplayer-volume-small .xgplayer-volume .xgplayer-icon .xgplayer-icon-large {
	display: none
}

.xgplayer-skin-default.xgplayer-volume-small .xgplayer-volume .xgplayer-icon .xgplayer-icon-small {
	display: block
}

.xgplayer-skin-default.xgplayer-volume-muted .xgplayer-volume .xgplayer-icon .xgplayer-icon-large,
.xgplayer-skin-default.xgplayer-volume-muted .xgplayer-volume .xgplayer-icon .xgplayer-icon-small,
.xgplayer-skin-default.xgplayer-volume-small .xgplayer-volume .xgplayer-icon .xgplayer-icon-muted {
	display: none
}

.xgplayer-skin-default.xgplayer-volume-muted .xgplayer-volume .xgplayer-icon .xgplayer-icon-muted {
	display: block
}

.xgplayer-skin-default.xgplayer-mobile .xgplayer-volume .xgplayer-slider {
	display: none
}

.xgplayer-skin-default .xgplayer-definition {
	-webkit-order: 5;
	-moz-box-ordinal-group: 6;
	order: 5;
	width: 60px;
	height: 42px;
	z-index: 18;
	position: relative;
	outline: none;
	display: none;
	cursor: default;
	margin-left: 10px;
	margin-top: -7px
}

.xgplayer-skin-default .xgplayer-definition ul {
	display: none;
	list-style: none;
	width: 78px;
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	position: absolute;
	bottom: 42px;
	left: 0;
	text-align: center;
	white-space: nowrap;
	margin-left: -10px;
	z-index: 26;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-definition ul li {
	opacity: .7;
	font-family: PingFangSC-Regular;
	font-size: 11px;
	color: hsla(0, 0%, 100%, .8);
	padding: 6px 13px
}

.xgplayer-skin-default .xgplayer-definition ul li.selected,
.xgplayer-skin-default .xgplayer-definition ul li:hover {
	color: #fff;
	opacity: 1
}

.xgplayer-skin-default .xgplayer-definition .name {
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	cursor: pointer;
	color: hsla(0, 0%, 100%, .8);
	position: absolute;
	bottom: 5px;
	width: 60px;
	height: 20px;
	line-height: 20px;
	background: rgba(0, 0, 0, .38);
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle
}

.xgplayer-skin-default.xgplayer-definition-active .xgplayer-definition ul,
.xgplayer-skin-default.xgplayer-is-definition .xgplayer-definition {
	display: block
}

.xgplayer-skin-default .xgplayer-time {
	-webkit-order: 2;
	-moz-box-ordinal-group: 3;
	order: 2;
	font-family: ArialMT;
	font-size: 13px;
	color: #fff;
	line-height: 40px;
	height: 40px;
	text-align: center;
	display: inline-block
}

.xgplayer-skin-default .xgplayer-time span:after {
	content: "/";
	display: inline-block;
	padding: 0 3px
}

.xgplayer-skin-default .xgplayer-time em {
	color: hsla(0, 0%, 100%, .5)
}

.xgplayer-skin-default .xgplayer-controls {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .37), rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
	z-index: 10
}

.xgplayer-skin-default.no-controls .xgplayer-controls,
.xgplayer-skin-default.xgplayer-inactive .xgplayer-controls,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls>*,
.xgplayer-skin-default.xgplayer-nostart .xgplayer-controls {
	display: none
}

.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-cssfullscreen,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-definition,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-fullscreen,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-live,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-placeholder,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-play,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-play-img,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-reload,
.xgplayer-skin-default.xgplayer-is-live .xgplayer-controls .xgplayer-volume {
	display: block
}

.xgplayer-skin-default .xgplayer-live {
	display: block;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	-webkit-order: 1;
	-moz-box-ordinal-group: 2;
	order: 1
}

.xgplayer-skin-default .xgplayer-loading {
	display: none;
	width: 100px;
	height: 100px;
	overflow: hidden;
	-webkit-transform: scale(.7);
	-ms-transform: scale(.7);
	transform: scale(.7);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -50px auto auto -50px
}

.xgplayer-skin-default .xgplayer-loading svg {
	border-radius: 50%;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-animation: loadingRotate 1s linear infinite;
	animation: loadingRotate 1s linear infinite
}

.xgplayer-skin-default .xgplayer-loading svg path {
	stroke: #ddd;
	stroke-dasharray: 236;
	-webkit-animation: loadingDashOffset 2s linear infinite;
	animation: loadingDashOffset 2s linear infinite;
	animation-direction: alternate-reverse;
	fill: none;
	stroke-width: 12px
}

.xgplayer-skin-default.xgplayer-nostart .xgplayer-loading {
	display: none
}

.xgplayer-skin-default.xgplayer-pause .xgplayer-loading {
	display: none !important
}

.xgplayer-skin-default.xgplayer-isloading .xgplayer-loading {
	display: block
}

.xgplayer-skin-default .xgplayer-progress {
	display: block;
	position: absolute;
	height: 20px;
	line-height: 20px;
	left: 12px;
	right: 12px;
	outline: none;
	top: -15px;
	z-index: 35
}

.xgplayer-skin-default .xgplayer-progress-outer {
	background: hsla(0, 0%, 100%, .3);
	display: block;
	height: 3px;
	line-height: 3px;
	margin-top: 8.5px;
	width: 100%;
	position: relative;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-progress-cache,
.xgplayer-skin-default .xgplayer-progress-played {
	display: block;
	height: 100%;
	line-height: 1;
	position: absolute;
	left: 0;
	top: 0
}

.xgplayer-skin-default .xgplayer-progress-cache {
	width: 0;
	background: hsla(0, 0%, 100%, .5)
}

.xgplayer-skin-default .xgplayer-progress-played {
	display: block;
	width: 0;
	background-image: linear-gradient(-90deg, #fa1f41, #e31106);
	border-radius: 0 1.5px 1.5px 0
}

.xgplayer-skin-default .xgplayer-progress-btn {
	display: none;
	position: absolute;
	left: 0;
	top: -5px;
	width: 13px;
	height: 13px;
	border-radius: 30px;
	background: #fff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, .26);
	left: 100%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%)
}

.xgplayer-skin-default .xgplayer-progress-point {
	position: absolute
}

.xgplayer-skin-default .xgplayer-progress-point.xgplayer-tips {
	margin-left: 0;
	top: -25px;
	display: none;
	z-index: 100
}

.xgplayer-skin-default .xgplayer-progress-dot {
	display: inline-block;
	position: absolute;
	height: 3px;
	width: 5px;
	top: 0;
	background: #fff;
	border-radius: 6px;
	z-index: 16
}

.xgplayer-skin-default .xgplayer-progress-dot .xgplayer-progress-tip {
	position: absolute;
	left: 0;
	top: -40px;
	height: auto;
	line-height: 30px;
	width: auto;
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	transform: scale(.8);
	background: rgba(0, 0, 0, .3);
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, .8);
	cursor: default;
	white-space: nowrap;
	display: none
}

.xgplayer-skin-default .xgplayer-progress-dot-show .xgplayer-progress-tip {
	display: block
}

.xgplayer-skin-default .xgplayer-progress-thumbnail {
	position: absolute;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.xgplayer-skin-default .xgplayer-progress-thumbnail.xgplayer-tips {
	margin-left: 0;
	display: none;
	z-index: 99
}

.xgplayer-skin-default .xgplayer-progress:focus .xgplayer-progress-outer,
.xgplayer-skin-default .xgplayer-progress:hover .xgplayer-progress-outer {
	height: 6px;
	margin-top: 7px
}

.xgplayer-skin-default .xgplayer-progress:focus .xgplayer-progress-dot,
.xgplayer-skin-default .xgplayer-progress:hover .xgplayer-progress-dot {
	height: 6px
}

.xgplayer-skin-default .xgplayer-progress:focus .xgplayer-progress-btn,
.xgplayer-skin-default .xgplayer-progress:hover .xgplayer-progress-btn {
	display: block;
	top: -3px
}

.xgplayer-skin-default.xgplayer-definition-active .xgplayer-progress,
.xgplayer-skin-default.xgplayer-playbackrate-active .xgplayer-progress,
.xgplayer-skin-default.xgplayer-texttrack-active .xgplayer-progress,
.xgplayer-skin-default.xgplayer-volume-active .xgplayer-progress {
	z-index: 15
}

.xgplayer-skin-default.xgplayer-mobile .xgplayer-progress-btn {
	display: block !important
}

.xgplayer-skin-default.xgplayer-mobile .xgplayer-progress:focus .xgplayer-progress-outer,
.xgplayer-skin-default.xgplayer-mobile .xgplayer-progress:hover .xgplayer-progress-outer {
	height: 3px !important;
	margin-top: 8.5px !important
}

.xgplayer-skin-default.xgplayer-mobile .xgplayer-progress:focus .xgplayer-progress-btn,
.xgplayer-skin-default.xgplayer-mobile .xgplayer-progress:hover .xgplayer-progress-btn {
	display: block !important;
	top: -5px !important
}

.xgplayer-skin-default .xgplayer-replay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 105;
	display: none;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	background: rgba(0, 0, 0, .54);
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column
}

.xgplayer-skin-default .xgplayer-replay svg {
	background: rgba(0, 0, 0, .58);
	border-radius: 100%;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-replay svg path {
	-webkit-transform: translate(20px, 21px);
	-ms-transform: translate(20px, 21px);
	transform: translate(20px, 21px);
	fill: #ddd
}

.xgplayer-skin-default .xgplayer-replay svg:hover {
	background: rgba(0, 0, 0, .38)
}

.xgplayer-skin-default .xgplayer-replay svg:hover path {
	fill: #fff
}

.xgplayer-skin-default .xgplayer-replay .xgplayer-replay-txt {
	display: inline-block;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #fff;
	line-height: 34px
}

.xgplayer-skin-default.xgplayer.xgplayer-ended .xgplayer-controls {
	display: none
}

.xgplayer-skin-default.xgplayer.xgplayer-ended .xgplayer-replay {
	display: -webkit-flex;
	display: -moz-box;
	display: flex
}

.xgplayer-skin-default .xgplayer-playbackrate {
	-webkit-order: 8;
	-moz-box-ordinal-group: 9;
	order: 8;
	width: 60px;
	height: 20px;
	z-index: 18;
	position: relative;
	display: inline-block;
	cursor: default
}

.xgplayer-skin-default .xgplayer-playbackrate ul {
	display: none;
	list-style: none;
	width: 78px;
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	position: absolute;
	bottom: 20px;
	left: 0;
	text-align: left;
	white-space: nowrap;
	z-index: 26;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-playbackrate ul li {
	opacity: .7;
	font-family: PingFangSC-Regular;
	font-size: 11px;
	color: hsla(0, 0%, 100%, .8);
	position: relative;
	padding: 4px 0;
	text-align: center
}

.xgplayer-skin-default .xgplayer-playbackrate ul li.selected,
.xgplayer-skin-default .xgplayer-playbackrate ul li:hover {
	color: #fff;
	opacity: 1
}

.xgplayer-skin-default .xgplayer-playbackrate ul li:first-child {
	position: relative;
	margin-top: 12px
}

.xgplayer-skin-default .xgplayer-playbackrate ul li:last-child {
	position: relative;
	margin-bottom: 12px
}

.xgplayer-skin-default .xgplayer-playbackrate .name {
	height: 20px;
	position: relative;
	top: 11px;
	text-align: center;
	background: rgba(0, 0, 0, .38);
	color: hsla(0, 0%, 100%, .8);
	border-radius: 10px;
	line-height: 20px
}

.xgplayer-skin-default .xgplayer-playbackrate span {
	position: relative;
	top: 19px;
	font-weight: 700;
	text-shadow: 0 0 4px rgba(0, 0, 0, .6)
}

.xgplayer-skin-default .xgplayer-playbackrate:hover {
	opacity: 1
}

.xgplayer-skin-default.xgplayer-playbackrate-active .xgplayer-playbackrate ul {
	display: block
}

.xgplayer-skin-default .xgplayer-download {
	position: relative;
	-webkit-order: 9;
	-moz-box-ordinal-group: 10;
	order: 9;
	display: block;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-download .xgplayer-icon {
	margin-top: 3px
}

.xgplayer-skin-default .xgplayer-download .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-download .xgplayer-icon svg {
	position: relative;
	top: 5px;
	left: 5px
}

.xgplayer-skin-default .xgplayer-download .xgplayer-tips {
	margin-left: -20px
}

.xgplayer-skin-default .xgplayer-download .xgplayer-tips .xgplayer-tip-download {
	display: block
}

.xgplayer-skin-default .xgplayer-download:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-download:hover .xgplayer-tips {
	display: block
}

.lang-is-en .xgplayer-download .xgplayer-tips {
	margin-left: -32px
}

.lang-is-jp .xgplayer-download .xgplayer-tips {
	margin-left: -40px
}

.xgplayer-skin-default .danmu-switch {
	-webkit-order: 6;
	-moz-box-ordinal-group: 7;
	order: 6;
	z-index: 26
}

.xgplayer-skin-default .xgplayer-danmu {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	overflow: hidden;
	z-index: 9;
	outline: none
}

.xgplayer-skin-default .xgplayer-danmu>* {
	position: absolute;
	white-space: nowrap;
	z-index: 9
}

.xgplayer-skin-default .xgplayer-danmu.xgplayer-has-danmu {
	display: block
}

.xgplayer-skin-default .xgplayer-panel {
	outline: none;
	-webkit-order: 7;
	-moz-box-ordinal-group: 8;
	order: 7;
	width: 40px;
	height: 40px;
	display: inline-block;
	position: relative;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	color: hsla(0, 0%, 100%, .8);
	z-index: 36
}

.xgplayer-skin-default .xgplayer-panel .xgplayer-panel-icon {
	cursor: pointer;
	position: absolute;
	margin-left: 5px;
	top: 10px
}

.xgplayer-skin-default .xgplayer-panel-active {
	display: block !important;
	bottom: 30px
}

.xgplayer-skin-default .xgplayer-panel-slider {
	z-index: 36;
	display: none;
	position: absolute;
	width: 230px;
	height: 230px;
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	padding: 10px 20px;
	outline: none;
	left: -115px;
	bottom: 40px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-hidemode {
	padding-bottom: 10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-hidemode-radio li {
	display: inline;
	list-style: none;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-hidemode ul {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-hidemode li {
	margin: 0 12px;
	font-size: 11px;
	color: #aaa
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-hidemode-font {
	margin-bottom: 10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency {
	display: block;
	margin-top: 10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-line {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
	width: 150px;
	height: 4px;
	background: #aaa;
	border-radius: 4px;
	border-style: none;
	margin-left: 10px;
	margin-top: -2px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-line::-moz-focus-outer {
	border: 0 !important
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-color::-webkit-slider-runnable-track {
	outline: none;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-color::-moz-range-track {
	outline: none;
	background-color: #aaa;
	border-color: transparent;
	cursor: pointer;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-color::-ms-track {
	outline: none;
	background-color: #aaa;
	color: transparent;
	border-color: transparent;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-bar::-webkit-slider-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	margin-top: -4px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-bar::-moz-range-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 0;
	width: 0;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-bar::-ms-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-transparency .xgplayer-transparency-bar::-moz-range-progress {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 4px;
	background: linear-gradient(90deg, #f85959, #f85959 100%, #aaa)
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea {
	display: block;
	margin-top: 8px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-name {
	display: inline-block;
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-control {
	display: inline-block
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-control-up {
	width: 150px;
	margin-left: 10px;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	color: #aaa
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-control-down {
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-control-down-dots {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	width: 150px;
	margin-left: 10px;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-threequarters,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-twoquarters {
	margin-left: -6px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea-full {
	margin-right: 3px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-line {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
	width: 150px;
	height: 4px;
	background: #aaa;
	border-radius: 4px;
	border-style: none;
	margin-left: 10px;
	margin-top: -2px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-line::-moz-focus-outer {
	border: 0 !important
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-color::-webkit-slider-runnable-track {
	outline: none;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-color::-moz-range-track {
	outline: none;
	background-color: #aaa;
	border-color: transparent;
	cursor: pointer;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-color::-ms-track {
	outline: none;
	background-color: #aaa;
	color: transparent;
	border-color: transparent;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-bar::-webkit-slider-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	margin-top: -4px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-bar::-moz-range-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 0;
	width: 0;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-bar::-ms-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-full-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-onequarters-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-threequarters-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-twoquarters-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-showarea .xgplayer-showarea-zero-dot {
	width: 3px;
	height: 3px;
	border: 3px solid #aaa;
	border-radius: 50%;
	background-color: #aaa;
	position: relative;
	top: 16px;
	z-index: -1
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed {
	display: block
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed-name {
	display: inline-block;
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed-control {
	display: inline-block
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed-control-up {
	width: 150px;
	margin-left: 10px;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	color: #aaa
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed-control-down {
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed-control-down-dots {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	width: 150px;
	margin-left: 10px;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-line {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
	width: 150px;
	height: 4px;
	background: #aaa;
	border-radius: 4px;
	border-style: none;
	margin-left: 10px;
	margin-top: -2px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-line::-moz-focus-outer {
	border: 0 !important
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-color::-webkit-slider-runnable-track {
	outline: none;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-color::-moz-range-track {
	outline: none;
	background-color: #aaa;
	border-color: transparent;
	cursor: pointer;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-color::-ms-track {
	outline: none;
	background-color: #aaa;
	color: transparent;
	border-color: transparent;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-bar::-webkit-slider-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	margin-top: -4px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-bar::-moz-range-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 0;
	width: 0;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-bar::-ms-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-large-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-middle-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmuspeed .xgplayer-danmuspeed-small-dot {
	width: 3px;
	height: 3px;
	border: 3px solid #aaa;
	border-radius: 50%;
	background-color: #aaa;
	position: relative;
	top: 16px;
	z-index: -1
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont {
	display: block
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont-name {
	display: inline-block;
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont-control {
	display: inline-block
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont-control-up {
	width: 150px;
	margin-left: 10px;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	color: #aaa
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont-control-down {
	position: relative;
	top: -10px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont-control-down-dots {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	width: 150px;
	margin-left: 10px;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-line {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
	width: 150px;
	height: 4px;
	background: #aaa;
	border-radius: 4px;
	border-style: none;
	margin-left: 10px;
	margin-top: -2px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-line::-moz-focus-outer {
	border: 0 !important
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-color::-webkit-slider-runnable-track {
	outline: none;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-color::-moz-range-track {
	outline: none;
	background-color: #aaa;
	border-color: transparent;
	cursor: pointer;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-color::-ms-track {
	outline: none;
	background-color: #aaa;
	color: transparent;
	border-color: transparent;
	width: 150px;
	height: 4px;
	border-radius: 4px
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-bar::-webkit-slider-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	margin-top: -4px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-bar::-moz-range-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 0;
	width: 0;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-bar::-ms-thumb {
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 6px solid #f85959;
	height: 6px;
	width: 6px;
	border-radius: 6px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-large-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-middle-dot,
.xgplayer-skin-default .xgplayer-panel-slider .xgplayer-danmufont .xgplayer-danmufont-small-dot {
	width: 3px;
	height: 3px;
	border: 3px solid #aaa;
	border-radius: 50%;
	background-color: #aaa;
	position: relative;
	top: 16px;
	z-index: -1
}

.xgplayer-skin-default .xgplayer-playnext {
	position: relative;
	-webkit-order: 1;
	-moz-box-ordinal-group: 2;
	order: 1;
	display: block;
	cursor: pointer;
	top: -2px
}

.xgplayer-skin-default .xgplayer-playnext .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-playnext .xgplayer-tips .xgplayer-tip-playnext {
	display: block
}

.xgplayer-skin-default .xgplayer-playnext:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-playnext:hover .xgplayer-tips {
	display: block
}

.lang-is-en .xgplayer-playnext .xgplayer-tips {
	margin-left: -25px
}

.lang-is-jp .xgplayer-playnext .xgplayer-tips {
	margin-left: -38px
}

.xgplayer-skin-default .xgplayer-pip {
	-webkit-order: 9;
	-moz-box-ordinal-group: 10;
	order: 9;
	position: relative;
	outline: none;
	display: block;
	cursor: pointer;
	height: 20px;
	top: 8px
}

.xgplayer-skin-default .xgplayer-pip .name {
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	color: hsla(0, 0%, 100%, .8)
}

.xgplayer-skin-default .xgplayer-pip .name span {
	width: 60px;
	height: 20px;
	line-height: 20px;
	background: rgba(0, 0, 0, .38);
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle
}

.xgplayer-skin-default .xgplayer-pip-lay {
	position: absolute;
	top: 26px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 130;
	cursor: pointer;
	background-color: transparent;
	display: none
}

.xgplayer-skin-default .xgplayer-pip-lay div {
	width: 100%;
	height: 100%
}

.xgplayer-skin-default .xgplayer-pip-drag {
	cursor: move;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background-image: linear-gradient(rgba(0, 0, 0, .3), transparent);
	z-index: 130;
	display: none
}

.xgplayer-skin-default.xgplayer-pip-active {
	position: fixed;
	right: 0;
	bottom: 200px;
	width: 320px !important;
	height: 180px !important;
	z-index: 110 !important
}

.xgplayer-skin-default.xgplayer-pip-active .xgplayer-controls,
.xgplayer-skin-default.xgplayer-pip-active .xgplayer-danmu {
	display: none
}

.xgplayer-skin-default.xgplayer-pip-active .xgplayer-pip-lay {
	display: block
}

.xgplayer-skin-default.xgplayer-pip-active .xgplayer-pip-drag {
	display: -webkit-flex;
	display: -moz-box;
	display: flex
}

.xgplayer-skin-default.xgplayer-inactive .xgplayer-pip-drag {
	display: none
}

.lang-is-jp .xgplayer-pip .name span {
	width: 70px;
	height: 20px
}

.xgplayer-skin-default .xgplayer-rotate {
	position: relative;
	-webkit-order: 10;
	-moz-box-ordinal-group: 11;
	order: 10;
	display: block;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-rotate .xgplayer-icon {
	margin-top: 7px;
	width: 26px
}

.xgplayer-skin-default .xgplayer-rotate .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-rotate .xgplayer-tips {
	margin-left: -22px
}

.xgplayer-skin-default .xgplayer-rotate .xgplayer-tips .xgplayer-tip-rotate {
	display: block
}

.xgplayer-skin-default .xgplayer-rotate:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-rotate:hover .xgplayer-tips {
	display: block
}

.lang-is-en .xgplayer-rotate .xgplayer-tips {
	margin-left: -26px
}

.lang-is-jp .xgplayer-rotate .xgplayer-tips {
	margin-left: -38px
}

.xgplayer-skin-default .xgplayer-reload {
	position: relative;
	-webkit-order: 1;
	-moz-box-ordinal-group: 2;
	order: 1;
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-reload .xgplayer-icon {
	margin-top: 7px;
	width: 26px
}

.xgplayer-skin-default .xgplayer-reload .xgplayer-icon div {
	position: absolute
}

.xgplayer-skin-default .xgplayer-reload .xgplayer-tips {
	margin-left: -22px
}

.xgplayer-skin-default .xgplayer-reload .xgplayer-tips .xgplayer-tip-reload {
	display: block
}

.xgplayer-skin-default .xgplayer-reload:hover {
	opacity: .85
}

.xgplayer-skin-default .xgplayer-reload:hover .xgplayer-tips {
	display: block
}

.lang-is-en .xgplayer-reload .xgplayer-tips {
	margin-left: -26px
}

.lang-is-jp .xgplayer-reload .xgplayer-tips {
	margin-left: -38px
}

.xgplayer-skin-default .xgplayer-screenshot {
	-webkit-order: 11;
	-moz-box-ordinal-group: 12;
	order: 11;
	position: relative;
	outline: none;
	display: block;
	cursor: pointer;
	height: 20px;
	top: 8px
}

.xgplayer-skin-default .xgplayer-screenshot .name {
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	color: hsla(0, 0%, 100%, .8)
}

.xgplayer-skin-default .xgplayer-screenshot .name span {
	width: 60px;
	height: 20px;
	line-height: 20px;
	background: rgba(0, 0, 0, .38);
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle
}

.lang-is-en .xgplayer-screenshot .name span,
.lang-is-jp .xgplayer-screenshot .name span {
	width: 75px;
	height: 20px
}

.xgplayer-skin-default .xgplayer-texttrack {
	-webkit-order: 7;
	-moz-box-ordinal-group: 8;
	order: 7;
	width: 60px;
	height: 150px;
	z-index: 18;
	position: relative;
	outline: none;
	display: none;
	cursor: default;
	margin-top: -119px
}

.xgplayer-skin-default .xgplayer-texttrack ul {
	display: none;
	list-style: none;
	width: 78px;
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	position: absolute;
	bottom: 30px;
	left: 0;
	text-align: center;
	white-space: nowrap;
	margin-left: -10px;
	z-index: 26;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-texttrack ul li {
	opacity: .7;
	font-family: PingFangSC-Regular;
	font-size: 11px;
	color: hsla(0, 0%, 100%, .8);
	padding: 6px 13px
}

.xgplayer-skin-default .xgplayer-texttrack ul li.selected,
.xgplayer-skin-default .xgplayer-texttrack ul li:hover {
	color: #fff;
	opacity: 1
}

.xgplayer-skin-default .xgplayer-texttrack .name {
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 13px;
	cursor: pointer;
	color: hsla(0, 0%, 100%, .8);
	position: absolute;
	bottom: 0;
	width: 60px;
	height: 20px;
	line-height: 20px;
	background: rgba(0, 0, 0, .38);
	border-radius: 10px;
	display: inline-block;
	vertical-align: middle
}

.xgplayer-skin-default.xgplayer-is-texttrack .xgplayer-texttrack,
.xgplayer-skin-default.xgplayer-texttrack-active .xgplayer-texttrack ul {
	display: block
}

.xgplayer-skin-default .xgplayer-icon {
	display: block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	fill: #fff
}

.xgplayer-skin-default .xgplayer-tips {
	background: rgba(0, 0, 0, .54);
	border-radius: 1px;
	display: none;
	position: absolute;
	font-family: PingFangSC-Regular;
	font-size: 11px;
	color: #fff;
	padding: 2px 4px;
	text-align: center;
	top: -30px;
	left: 50%;
	margin-left: -16px;
	width: auto;
	white-space: nowrap
}

.xgplayer-skin-default.xgplayer-mobile .xgplayer-tips {
	display: none !important
}

.xgplayer-skin-default .xgplayer-error {
	background: #000;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 125;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 100%;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center
}

.xgplayer-skin-default .xgplayer-error .xgplayer-error-refresh {
	color: #fa1f41;
	padding: 0 3px;
	cursor: pointer
}

.xgplayer-skin-default .xgplayer-error .xgplayer-error-text {
	line-height: 18px;
	margin: auto 6px
}

.xgplayer-skin-default.xgplayer-is-error .xgplayer-error {
	display: -webkit-flex;
	display: -moz-box;
	display: flex
}

.xgplayer-skin-default .xgplayer-memoryplay-spot {
	position: absolute;
	height: 32px;
	left: 10px;
	bottom: 46px;
	background: rgba(0, 0, 0, .5);
	border-radius: 32px;
	line-height: 32px;
	color: #ddd;
	z-index: 15;
	padding: 0 32px 0 16px
}

.xgplayer-skin-default .xgplayer-memoryplay-spot .xgplayer-lasttime {
	color: red;
	font-weight: 700
}

.xgplayer-skin-default .xgplayer-memoryplay-spot .btn-close {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 10px;
	top: 2px;
	cursor: pointer;
	color: #fff;
	font-size: 16px
}

.danmu {
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-ms-user-select: none
}

.danmu>* {
	position: absolute;
	white-space: nowrap
}

.danmu-switch {
	width: 32px;
	height: 20px;
	border-radius: 100px;
	background-color: #ccc;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	cursor: pointer;
	position: relative;
	text-align: center;
	margin: 10px auto
}

.danmu-switch.danmu-switch-active {
	padding-left: 12px;
	background-color: #f85959
}

.danmu-switch span.txt {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	border-radius: 100px;
	background-color: #ffffff;
	-webkit-box-shadow: -2px 0 0 0 rgba(0, 0, 0, .04);
	box-shadow: -2px 0 0 0 rgba(0, 0, 0, .04);
	font-family: PingFangSC;
	font-size: 10px;
	font-weight: 500;
	color: #f44336
}
