<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<meta name="renderer" content="webkit">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>壶中天</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc1/css/yixin_clay_pot.css" />

		<link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css">

	</head>

	<body>

		<div id="box">

			<header>

				<img src="__PUBLIC__/static/pc1/img/pot/pottery2_01.jpg">

			</header>

			<section>

				<div class="price tc">

					<h2>正宗宜兴紫砂作品 全场优惠中</h2>

					<h4>目前已有 <span>6096</span> 人参与定制</h4>

				</div>

			</section>

			<section class="mt15 pr">

				<img src="__PUBLIC__/static/pc1/img/pot/background_04.jpg">

				<div class="telphone">

					<div class="form-group" style="margin-bottom: 5%;">

						<label class="cell" for="telphone1">

							手机号码:

						</label>

						<div class="cell-input">

							<input name="telphone1" id="telphone1" placeholder="请输入您的手机号">

						</div>

					</div>

					<div class="form-group">

						<div class="cell" style="margin-bottom: 25%;">

							您的需求:

						</div>

						<div class="demand">

							<div class="form-group">

								<input type="checkbox" name="demand" id="checkbox1" value="送人紫砂，情真面子足" />

								<label for="checkbox1" class="checkbox"></label>

								<label for="checkbox1" class="checkbox-label">送人紫砂，情真面子足</label>



							</div>

							<div class="form-group">

								<input type="checkbox" name="demand" id="checkbox2" value="手工制壶，珍藏物价值" />

								<label for="checkbox2" class="checkbox"></label>

								<label for="checkbox2" class="checkbox-label">手工制壶，珍藏物价值</label>

							</div>

							<div class="form-group">

								<input type="checkbox" name="demand" id="checkbox3" value="获得大师亲笔签名或当面交流" />

								<label for="checkbox3" class="checkbox"></label>

								<label for="checkbox3" class="checkbox-label">获得大师亲笔签名或当面交流</label>

							</div>

							<div class="form-group" style="margin-bottom: 3%;">

								<input type="checkbox" name="demand" id="checkbox4" value="其他" />

								<label for="checkbox4" class="checkbox"></label>

								<label for="checkbox4" class="checkbox-label">其他</label>

							</div>

						</div>

					</div>

				</div>

			</section>

			<main class="mt30 pr">

				<a href="javascript:;" id="mbtn1"><img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/background_03.jpg"></a>

				<div class="white-click">

					<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/red_click.png">

				</div>

			</main>

			<section class="mt50">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_03.jpg">

			</section>

			<section>

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_05.jpg">

			</section>

			<main>

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_07.jpg">

			</main>

			<main class="mt25">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_10.jpg">

			</main>

			<main class="mt15">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_12.jpg">

			</main>

			<main class="mt5">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_15.jpg">

			</main>

			<main>

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_17.jpg">

			</main>



			<main class="mt15">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_20.jpg">

			</main>

			<main class="mt15">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_22.jpg">

			</main>

			<main class="mt15">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_25.jpg">

			</main>

			<main class="mt15">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery2_27.jpg">

			</main>



			<section class="mt15 pr">

				<img src="__PUBLIC__/static/pc1/img/pot/background_05.jpg">

				<div class="telphone">

					<div class="form-group" style="margin-bottom: 5%;">

						<label class="cell" for="telphone2">

							手机号码:

						</label>

						<div class="cell-input" style="background: #F5DFBA;">

							<input name="telphone2" id="telphone2" placeholder="">

						</div>

					</div>

					<div class="form-group">

						<div class="cell" style="margin-bottom: 25%;">

							您的需求:

						</div>

						<div class="demand" style="background: #F5DFBA;">

							<div class="form-group">

								<input type="checkbox" name="demand2" id="checkbox_form1" value="送人紫砂，情真面子足" />

								<label for="checkbox_form1" class="checkbox"></label>

								<label for="checkbox_form1" class="checkbox-label">送人紫砂，情真面子足</label>



							</div>

							<div class="form-group">

								<input type="checkbox" name="demand2" id="checkbox_form2" value="手工制壶，珍藏物价值" />

								<label for="checkbox_form2" class="checkbox"></label>

								<label for="checkbox_form2" class="checkbox-label">手工制壶，珍藏物价值</label>

							</div>

							<div class="form-group">

								<input type="checkbox" name="demand2" id="checkbox_form3" value="获得大师亲笔签名或当面交流" />

								<label for="checkbox_form3" class="checkbox"></label>

								<label for="checkbox_form3" class="checkbox-label">获得大师亲笔签名或当面交流</label>

							</div>

							<div class="form-group" style="margin-bottom: 3%;">

								<input type="checkbox" name="demand2" id="checkbox_form4" value="其他" />

								<label for="checkbox_form4" class="checkbox"></label>

								<label for="checkbox_form4" class="checkbox-label">其他</label>

							</div>

						</div>

					</div>

				</div>

			</section>

			<main class="mt30 pr">

				<a href="javascript:;" id="mbtn2"><img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/background_03.jpg"></a>

				<div class="white-click">

					<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/red_click.png">

				</div>

			</main>

			<footer data-v-de1f1c82="" data-v-7a7d1ec7="">

				<a data-v-de1f1c82="" href="/about">关于我们</a>
				<p class="partner">					
					©陕西明洋视界电子商务有限公司 版权所有<br>
					<span data-v-de1f1c82="">地址：陕西省西安市未央区太华北路大明宫万达1号甲写字楼906室</span>
				</p>
			</footer>

			<div style="width: 100%;height: 3.5rem"> </div>

			<footer class="mt30 pr">

				<div id="fbtn">

					<div class="full-gift">

						定制通道

					</div>

					<div class="details">

						立即领取优惠折扣券

					</div>

				</div>

				<div class="foot-xunjia">

					<div class="foot-xunjia-k">

						<p class="huanying"><b>欢迎咨询全手工紫砂壶</b><span>（10分钟内回复）</span></p>

						<p class="sraj">

							<input type="text" class="xjTel" placeholder="请输入您的手机号">

						</p>

						<div class="button-k"><button type="button">点击提交</button></div>

					</div>

				</div>

			</footer>

			<div class="footer-k"> </div>

		</div>

		<script src="__PUBLIC__/static/pc1/js/jquery.min.js"></script>

		<script src="__PUBLIC__/static/plugin/rem.js"></script>

		<script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
		
		<script src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>


		<script>



			layui.use('layer',function () {

				var layer = layui.layer;

			})

			$(function() {
				$(".lazy").lazyload({
					threshold: 200, //设置临界点
					effect: "fadeIn", //使用特效
					failure_limit: 20, //当图片不连续时,通过 failurelimit 选项来控制加载行为.
					skip_invisible: false //加载隐藏图片
				});




				function telphone() {

					const telphone = $("#telphone1").val();

					var regCode = /^1\d{10}$/;

					if (regCode.test(telphone) == false) {

						layer.close(layer.index);

						layer.msg('请输入您的手机号,手机号码不正确',{icon:5,time:1000})

						return false;

					}else{

						var demand = [];

						$('input[name = demand]:checked').each(function() {

							demand.push($(this).val());

						})

						var demand = JSON.stringify(demand);

						$.ajax({

							type:'post',

							url:'{:url("pc/Pot/add")}',

							data:{'telphone':telphone,'demand':demand},

							success:function (data) {

								console.log(data);

								layer.close(layer.index);

								if(data.code == 0){

									layer.msg('提交成功',{icon:6,time:2000})

								}else{

									layer.msg('提交失敗',{icon:5,time:2000})

								}

							},

							error:function () {

								layer.close(layer.index);

								layer.msg('提交失敗',{icon:5,time:2000});

							}

						})

					}

				}



				function telphone2() {

					const telphone = $("#telphone2").val();

					var regCode = /^1\d{10}$/;

					if (regCode.test(telphone) == false) {

						layer.close(layer.index);

						layer.msg('请输入您的手机号,手机号码不正确',{icon:5,time:1000})

						return false;

					}else{

						var demand2 = [];

						$('input[name = demand2]:checked').each(function() {

							demand2.push($(this).val());

						})

						var demand2 = JSON.stringify(demand2);

						// console.log(demand2);

						$.ajax({

							type:'post',

							url:'{:url("pc/Pot/add")}',

							data:{'telphone':telphone,'demand':demand2},

							traditional: true,

							success:function (data) {

								console.log(data);

								layer.close(layer.index);

								if(data.code == 0){

									layer.msg('提交成功',{icon:6,time:2000})

								}else{

									layer.msg('提交失敗',{icon:5,time:2000})

								}

							},

							error:function () {

								layer.close(layer.index);

								layer.msg('提交失敗',{icon:5,time:2000});

							}

						})

					}



				}



				function xunjiaSubmit() {

					const telphone = $(".xjTel").val();

					var regCode = /^1\d{10}$/;

					if (regCode.test(telphone) == false) {

						layer.close(layer.index);

						layer.msg('请输入您的手机号,手机号码不正确',{icon:5,time:1000})

						return false;

					}else{
						var demand3 = [];

					
						var demand3 = JSON.stringify(demand3);


						$.ajax({

							type:'post',

							url:'{:url("pc/Pot/add")}',

							data:{'telphone':telphone,'demand':demand3},

							success:function (data) {

								console.log(data);

								layer.close(layer.index);

								if(data.code == 0){

									layer.msg('提交成功',{icon:6,time:2000})

								}else{

									layer.msg('提交失敗',{icon:5,time:2000})

								}

							},

							error:function () {

								layer.close(layer.index);

								layer.msg('提交失敗',{icon:5,time:2000});

							}

						})

					}

				}

				$('#mbtn1').click(function() {

					layer.load();

					telphone();

				})

				$('#mbtn2').click(function() {

					layer.load();

					telphone2();

				})

				$('.button-k').click(function() {

					layer.load();

					xunjiaSubmit();

				})











				$('.full-gift,.details').click(function() {

					$('.footer-k').show();



					$('.foot-xunjia').stop().animate({

						bottom: 0

					}, 300);

					$('#fbtn').stop().animate({

						bottom: '13.33rem'

					}, 300);

					$(".xjTel").val('');

				})

				$('.footer-k').click(function() {

					$('.footer-k').hide();



					$('#fbtn').stop().animate({

						bottom: 0

					}, 300);

					$('.foot-xunjia').stop().animate({

						bottom: '-13.33rem'

					}, 300);

				})











			})

		</script>

	</body>

</html>

