<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
		{include file="public/header" /}

		<!-- 侧边栏 -->
		{include file="public/left" /}


		{include file="public/nav" /}

		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">關於我們</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<p>
						<font style="vertical-align: inherit;">
							【<span class="switch_title">開心樂購</span>】是一家女性線上網絡時裝精品店。主賣女性時裝、包包、鞋子、彩妝、護膚、配飾、小禮品等多元化商城。我們致力於為客戶提供原創、優質、獨家的產品。
						</font>
					</p>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								聯繫郵箱：</font>
						</font><span style="color:#191F25;font-family:-apple-system, system-ui;
		 								 font-size:14px;background-color:#ffffff;"=""="">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">Farmrefor4q6p@gmail.com</font>
							</font>
						</span>
					</p>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								電話：</font>
						</font><span style="color:#191F25;font-family:-apple-system, system-ui;
		 								 font-size:14px;background-color:#ffffff;"=""="">
							<font style="vertical-align: inherit;">
								<!-- <font style="vertical-align: inherit;">082370808181</font> -->
								<font style="vertical-align: inherit;">938637515</font>
							</font>
						</span>
					</p>
					<!-- <p> -->
						<!-- <span class="lephone"> -->
							<!-- <font style="vertical-align: inherit;"> -->
								<!-- <font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; 021-29508826</font> -->
							<!-- </font> -->
						<!-- </span> -->
					<!-- </p> -->
					<!-- <p> -->
						<!-- <span class="lephone"> -->
							<!-- <font style="vertical-align: inherit;"> -->
								<!-- <font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp;&nbsp;021-29508827</font> -->
							<!-- </font> -->
						<!-- </span> -->
					<!-- </p> -->
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								公司名稱：</font>
						</font>
						<span style="color:#191F25;font-family:-apple-system, system-ui;
		 								 font-size:14px;background-color:#ffffff;"=""="">
<!--					  			陝西明洋視界電子商務有限公司-->
							<span class="switch_address">航皓電子商務有限公司</span>
						</span>
					</p>
					<p class="hide">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								倉庫地址：</font>
						</font><span style="color:#191F25;font-family:-apple-system, system-ui;
		 								 font-size:14px;background-color:#ffffff;"=""="">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;"> 香港千禧大廣場皇后大道2608L</font>
							</font>
						</span>
					</p>

				</div>
			</div>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__MOBILE2__/js/common.js"></script>
	</body>
</html>
