<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
<!--		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/common.css" />-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}
		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">服务条款</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<p>我們提供此網站，包括用戶及用戶可以使用的所有信息，工具和服務，條件是您接受此處所述的所有條款，條件，政策和通知。</p>
					<p>通過訪問我們的網站或從我們這裡購買東西，您可以參與我們的“服務”並同意遵守以下條款和條件（“服務條款”，“條款”），包括那些附加條款和條件和政策在此引用和/或通過超鏈接提供。這些服務條款適用於本網站的所有用戶，包括但不限於瀏覽器，供應商，客戶，商家和/或內容貢獻者。<br></p>
					<p>在訪問或使用我們的網站之前，請仔細閱讀這些服務條款。訪問或使用本網站的任何部分，即表示您同意遵守這些服務條款。如果您不同意本協議的所有條款和條件，則您不得訪問該網站或使用任何服務。如果這些服務條款被視為要約，則接受明確限於這些服務條款。<br></p>
					<p>添加到當前商店的任何新功能或工具也應遵守服務條款。您可以隨時在此頁面上查看最新版本的服務條款。我們保留通過發布更新和/或更改我們網站來更新，更改或替換這些服務條款的任何部分的權利。您有責任定期查看此頁面以了解更改。您在發布任何更改後繼續使用或訪問本網站即表示接受這些更改。<br></p>
					<h4>第1節 - 在線商店條款<br></h4>
					<p>同意這些服務條款，即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許您的任何未成年家屬使用本網站。<br></p>
					<p>您不得將我們的產品用於任何非法或未經授權的目的，也不得在使用本服務時違反您所在司法轄區的任何法律（包括但不限於版權法）。<br></p>
					<p>您不得傳播任何蠕蟲或病毒或任何具有破壞性的代碼。<br></p>
					<p>違反或違反任何條款將導致您的服務立即終止。<br></p>
					<h4>第2節 - 一般條件<br></h4>
					<p>我們保留隨時以任何理由拒絕向任何人提供服務的權利。<br></p>
					<p>您了解您的內容（不包括信用卡信息）可能未經加密轉移，並涉及（a）中通過各種網絡傳輸; （B）改變以符合並適應連接網絡或設備的技術要求。在通過網絡傳輸期間，信用卡信息始終是加密的。<br></p>
					<p>您同意，未經我們明確書面許可，不得複製，抄襲，出售，轉售或利用本服務的任何部分，使用本服務，或訪問本服務或提供服務的網站上的任何聯繫人。<br></p>
					<h4>第3節 - 信息的準確性，完整性和及時性<br></h4>
					<p>如果本網站提供的信息不準確，完整或最新，我們概不負責。本網站上的資料僅供一般參考，不應依賴或作為決策的唯一依據，無需諮詢主要，更準確，更完整或更及時的信息來源。任何依賴本網站資料的風險由您自行承擔。<br></p>
					<p>本網站可能包含某些歷史信息。歷史信息必然不是最新信息，僅供參考。我們保留隨時修改本網站內容的權利，但我們沒有義務更新我們網站上的任何信息。您同意監控我們網站的變更是您的責任。<br></p>
					<h4>第4節 - 對服務和價格的修改<br></h4>
					<p>我們產品的價格如有變更，恕不另行通知。</p>
					<p>我們保留隨時修改或終止服務（或其任何部分或內容）的權利，恕不另行通知。</p>
					<p>對於本服務的任何修改，價格更改，暫停或終止，我們不對您或任何第三方承擔任何責任。</p>
					<h4>第5節 - 產品或服務（如適用）</h4>
					<p>某些產品或服務可通過網站在線獨家提供。這些產品或服務的數量有限，只能根據我們的退貨政策退貨或換貨。</p>
					<p>我們盡一切努力盡可能準確地顯示出現在商店的產品的顏色和圖像。我們無法保證您的計算機顯示器的任何顏色顯示都是準確的。</p>
					<p>我們保留權利，但沒有義務將我們的產品或服務的銷售限制在任何人，地理區域或管轄區。我們可以根據具體情況行使此權利。我們保留限制我們提供的任何產品或服務的數量的權利。產品或產品定價的所有描述如有變更，恕不另行通知，由我們自行決定。我們保留隨時終止任何產品的權利。對本網站上的任何產品或服務的任何要約在禁止的情況下均無效。</p>
					<p>我們不保證您購買或獲得的任何產品，服務，信息或其他材料的質量符合您的期望，或者本服務中的任何錯誤都將得到糾正。</p>
					<h4>第6節 - 賬單和賬戶信息的準確性</h4>
					<p>我們保留拒絕您與我們訂購的任何訂單的權利。我們可以自行決定限制或取消每人，每戶或每個訂單購買的數量。這些限制可能包括由同一客戶帳戶或相同客戶帳戶下的訂單，相同的信用卡和/或使用相同帳單和/或送貨地址的訂單。如果我們更改或取消訂單，我們可能會嘗試通過聯繫訂單時提供的電子郵件和/或帳單地址/電話號碼來通知您。我們保留限制或禁止經銷商，經銷商或分銷商認可的訂單的權利。</p>
					<p>您同意為我們在商店購買的所有商品提供最新，完整和準確的購買和帳戶信息。您同意及時更新您的帳戶和其他信息，包括您的電子郵件地址和信用卡號碼以及到期日期，以便我們完成您的交易並根據需要與您聯繫。</p>
					<p>有關詳細信息，請查看我們的退貨政策。</p>
					<h4>第7節 - 可選工具</h4>
					<p>我們可能會為您提供訪問第三方工具的權限，我們既不監控也不控制或輸入。</p>
					<p>您承認並同意我們提供對“此類工具”和“可用”等工具的訪問權，不附帶任何形式的任何保證，陳述或條件且無任何認可。對於您使用可選的第三方工具，我們不承擔任何責任。</p>
					<p>您通過本網站提供的可選工具的任何使用完全由您自行承擔風險和自行決定，您應確保您熟悉並批准相關第三方提供商提供工具的條款。</p>
					<p>我們將來還可能通過網站提供新的服務和/或功能（包括新工具和資源的發布）。此類新功能和/或服務還應遵守這些服務條款。</p>
					<h4>第8節 - 第三方鏈接</h4>
					<p>通過我們的服務提供的某些內容，產品和服務可能包含來自第三方的材料。</p>
					<p>本網站上的第三方鏈接可能會將您引導至與我們無關的第三方網站。我們不負責審查或評估內容或準確性，我們不保證也不對任何第三方材料或網站或第三方的任何其他材料，產品或服務承擔任何責任或義務。</p>
					<p>對於因購買或使用與任何第三方網站相關的商品，服務，資源，內容或任何其他交易而導致的任何損害或損害，我們概不負責。請仔細閱讀第三方的政策和做法，並確保在進行任何交易之前了解這些政策和做法。有關第三方產品的投訴，聲明，疑慮或問題應直接向第三方提出。</p>
					<h4>第9節 - 用戶評論，反饋和其他提交</h4>
					<p>如果根據我們的要求，您發送某些特定提交內容（例如參賽作品）或未經我們提出請求，您可以發送創意，建議，提案，計劃或其他材料，無論是在線，通過電子郵件，通過郵寄還是其他方式（統稱“評論”），您同意我們可以在任何時間，無限制地編輯，複製，出版，分發，翻譯和以其他方式在任何媒體中使用您轉發給我們的任何評論。我們現在並且沒有義務（1）保密任何評論;
						（2）對任何意見支付賠償金;或（3）回應任何意見。</p>
					<p>我們可以（但沒有義務）監控，編輯或刪除我們自行決定的內容，包括非法，攻擊性，威脅性，誹謗性，誹謗性，色情內容，淫穢內容或其他令人反感的內容，或違反任何一方的知識產權或本服務條款。</p>
					<p>您同意您的意見不會侵犯任何第三方的任何權利，包括版權，商標，隱私，個性或其他個人或專有權利。您進一步同意，您的評論不會包含誹謗或其他非法，侮辱性或淫穢內容，或包含任何可能以任何方式影響服務或任何相關網站運營的計算機病毒或其他惡意軟件。您不得使用虛假的電子郵件地址，假裝是您以外的其他人，或以其他方式誤導我們或第三方的任何評論的來源。您對自己提出的任何意見及其準確性負全部責任。對於您或任何第三方發布的任何評論，我們不承擔任何責任。</p>
					<h4>第10節 - 個人信息</h4>
					<p>您通過商店提交的個人信息受我們的隱私政策約束。</p>
					<h4>第11節 - 錯誤，不准確和遺漏</h4>
					<p>有時，我們網站或服務中可能包含與產品描述，定價，促銷，優惠，產品運費，運輸時間和可用性相關的印刷錯誤，不准確或遺漏的信息。如果服務或任何相關網站上的任何信息在任何時候不准確，我們保留更正或更新信息或取消訂單的權利，恕不另行通知（包括您提交訂單後）
						。</p>
					<p>我們沒有義務更新，修改或澄清服務或任何相關網站上的信息，包括但不限於定價信息，法律要求除外。未在服務或任何相關網站上應用指定的更新或刷新日期，應表明服務或任何相關網站上的所有信息均已被修改或更新。</p>
					<h4>第12節 - 禁止使用</h4>
					<p>除了服務條款中規定的其他禁令外，您不得使用本網站或其內容：（a）出於任何非法目的; （b）要求他人進行或參與任何非法行為; （c）違反任何國際，聯邦，省或州的法規，規則，法律或地方法令;
						（d）侵犯或侵犯我們的知識產權或他人的知識產權; （e）基於性別，性取向，宗教，種族，種族，年齡，國籍或殘疾進行騷擾，虐待，侮辱，傷害，誹謗，誹謗，貶低，恐嚇或歧視; （f）提交虛假或誤導性資料;
						（g）上傳或傳播將以或可能以任何方式使用的病毒或任何其他類型的惡意代碼，這些代碼將影響服務或任何相關網站，其他網站或互聯網的功能或操作; （h）收集或追踪他人的個人資料;
						（i）垃圾郵件，網絡釣魚，殺毒，藉口，蜘蛛，爬行或刮擦; （j）任何淫褻或不道德的目的;或（k）干擾或規避服務或任何相關網站，其他網站或互聯網的安全功能。我們保留因違反任何違禁用途而終止您使用服務或任何相關網站的權利。</p>
					<h4>第13節 - 免責聲明;責任限制</h4>
					<p>我們不保證，聲明或保證您對我們服務的使用不會中斷，及時，安全或沒有錯誤。</p>
					<p>我們不保證從使用服務中獲得的結果將是準確或可靠的。</p>
					<p>您同意我們可能會不定期地刪除服務或隨時取消服務，恕不另行通知。</p>
					<p>您明確同意，您自行承擔使用或無法使用服務的風險。通過服務向您提供的服務以及所有產品和服務（除非我們明確說明）以“原樣”和“可用”的形式提供給您使用，不作任何陳述，保證或任何類型的條件，無論是快遞還是暗示，包括所有暗示的適銷性，適銷性，適用於特定用途，耐用性，所有權和非侵權的保證或條件。</p>
					<p>在任何情況下，我們的控股公司，董事，高級職員，員工，關聯公司，代理商，承包商，實習生，供應商，服務提供商或許可方均不對任何傷害，損失，索賠或任何直接，間接，偶然，懲罰性，特殊性，或任何形式的間接損害，包括但不限於利潤損失，收入損失，儲蓄損失，數據丟失，重置成本或任何類似的損害，無論是基於合同，侵權（包括疏忽），嚴格責任還是其他，由您使用本服務或使用本服務獲得的任何產品，或以任何方式使用本服務或任何產品的任何其他聲明，包括但不限於任何內容中的任何錯誤或遺漏，或由於使用服務或通過服務發布，傳輸或以其他方式提供的任何內容（或產品）而導致的任何類型的任何損失或損害，即使已被告知其可能性。由於某些州或司法管轄區不允許排除或限制間接或附帶損害的責任，因此在此類州或司法管轄區，我們的責任應限於法律允許的最大範圍內。</p>
					<h4>第14節 - 賠償</h4>
					<p>您同意賠償，保護我們的父母，子公司，附屬機構，合作夥伴，高級職員，董事，代理商，承包商，許可人，服務提供商，分包商，供應商，實習生和員工，對任何索賠或要求無害，包括由於您違反本服務條款或通過引用而包含的文件或您違反任何法律或第三方權利而導致的任何第三方產生的合理律師費。</p>
					<h4>第15節 - 可分割性</h4>
					<p>如果本服務條款的任何規定被確定為非法，無效或無法執行，則此類規定仍應在適用法律允許的最大範圍內強制執行，並且不可執行部分應被視為與本條款中的服務，此類確定不得影響任何其他剩餘條款的有效性和可執行性。</p>
					<h4>第16節 - 終止</h4>
					<p>在終止日期之前發生的雙方的義務和責任在本協議終止後仍然有效。</p>
					<p>除非您或我們終止，否則這些服務條款均有效。您可以隨時通知我們您不再希望使用我們的服務，或者當您停止使用我們的網站時終止這些服務條款。</p>
					<p>如果我們單獨判斷您未能或我們懷疑您未能遵守本服務條款的任何條款或規定，我們也可以隨時終止本協議，恕不另行通知，您仍將對所有應付金額負責至終止日期;和/或因此可能拒絕您訪問我們的服務（或其任何部分）。</p>
					<h4>第17節 - 整個協議</h4>
					<p>我們未能行使或執行本服務條款的任何權利或規定，並不構成對此類權利或規定的放棄。</p>
					<p>這些服務條款以及我們在本網站或本服務中發布的任何政策或操作規則構成您與我們之間的完整協議和理解，並管轄您對本服務的使用，取代任何先前或同期的協議，通信和提案您和我們之間的口頭或書面形式（包括但不限於任何先前版本的服務條款）。</p>
					<p>對本服務條款的解釋中的任何含糊之處不得解釋為起草方。</p>
					<h4>第18節 - 管轄法律</h4>
					<p>這些服務條款以及我們向您提供服務的任何單獨協議應受其所在的管轄區和解釋所依據。</p>
					<h4>第19節 - 服務條款的變更</h4>
					<p>您可以隨時在此頁面查看最新版本的服務條款。</p>
					<p>我們保留自行決定權利。</p>
					<p><br></p>
				</div>
			</div>
		</div>


	{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
	<script src="__MOBILE2__/js/common.js"></script>
	</body>
</html>
