<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
		{include file="public/header" /}

		<!-- 侧边栏 -->
		{include file="public/left" /}
		
		{include file="public/nav" /}
		
		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">購物&amp;運送須知</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<div>
						<div style="text-align: center;"></div>
						<h4 style="text-align: center;">買家保障</h4>
						<p style="text-align: center;">如果您未收到商品<strong>全額退款</strong>！</p>
						<p style="text-align: center;">如果您購買的商品與描述不符，<strong>全額或部分退款</strong>！<br></p>
						<div style="text-align: left;"><span style="background-color: rgb(253, 239, 217); color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: 1.14rem;">❌七天鑑賞期並非試用期，產品經拆封使用，為保障下位消費者使用權益，非瑕疵問題無法辦理退貨！</span></div>
						<p></p>
					</div>
					<p>① 商品訂購後需幾天才能收到商品？<br></p>
					<p>台灣地區將於下單後約 5-7 個工作天到達(不含例/假日)</p>
					<p>台灣外島地區無法配送</p>
					<p></p>
					<p>② 我怎麼查詢出貨進度？</p>
					<p>請至網站首頁或點左上角「三」→「訂單查詢」，錄入手機或者訂單號碼查詢。</p>
					<p></p>
					<p>③我有急用可以提早到貨嗎？</p>
					<p>商品一般約在付款後的7個工作天內到達，若您有急用請謹慎下單。</p>
					<p></p>
					<p>④超商取貨方式</p>
					<p>※ 商品送達至超商門市時，我們會發送簡訊給收件人，請您在務必在下單時填寫正確的手機號碼，以免接收不到簡訊通知。</p>
					<p>※
						當您至超商取貨時，請先確認您取貨的店家地址，門市人員將會為您核對身分證件，請告知門市人員您下訂單時所留的「收件人姓名」，若您留的是英文姓名或其他暱稱，則需以此名稱取貨，否則會發生門市人員找不到您的包裹的情形或是因身份核對不符遭到退件。</p>
					<p></p>
					<p>⑤無法配送的品項</p>
					<p>1. 生鮮蔬果魚肉（生鮮食品、易壞水果）、低溫或需恆溫控制商品（冰淇淋、蛋糕）</p>
					<p>2. 貴重物品（身分證件、有價證券、展演會票券、禮券、藥品、限量不可複製品、現金、支票、金飾或鑽石）</p>
					<p>3. 易碎物品（瓶裝液體、玻璃瓶）</p>
					<p>4. 精密儀器、3C、家電</p>
					<p>5. 活體動物（寵物、昆蟲）</p>
					<p>6. 化學藥品、液體（易燃性、酒釀、鋁包飲料、中藥）</p>
					<p>7. 違反公共秩序與善良風俗之物品（煙、酒、情趣用品、限制級圖書）</p>
					<p>8. 非法禁運品項（毒品、槍支）</p>
					<p>9. 高價託運貨品（價值超過新台幣 20,000 元）</p>
					<p><span style="color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: large; white-space: normal; background-color: rgb(253, 239, 217);">❌七天鑑賞期並非試用期，產品經拆封使用，為保障下位消費者使用權益，非瑕疵問題無法辦理退貨！</span></p>
					<p><span style="color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: large; white-space: normal; background-color: rgb(253, 239, 217);"><span
							 style="color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: large; white-space: normal; background-color: rgb(253, 239, 217);">❌<span
								 style="color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: large; white-space: normal; background-color: rgb(253, 239, 217);">瑕疵問題</span></span>七天鑑賞期內我們將提供一次免費更換物品服務</span></p>
				</div>
			</div>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__MOBILE2__/js/common.js"></script>
	</body>
</html>
