{include file="./public/head" /}
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="/vindex">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <!--<div class="layui-inline layui-show-xs-block">-->
                                    <!--<input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">-->
                                <!--</div>-->
                                <!--<div class="layui-inline layui-show-xs-block">-->
                                    <!--<input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">-->
                                <!--</div>-->
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="code"  placeholder="折价码" autocomplete="off" class="layui-input">
                                </div>
                                <!--<div class="layui-inline layui-show-xs-block">-->
                                    <!--<input type="text" name="url"  placeholder="请输入路由" autocomplete="off" class="layui-input">-->
                                <!--</div>-->
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
                            <button class="layui-btn" onclick="xadmin.open('折价码添加','/vcodeadd',600,800)"><i class="layui-icon"></i>添加</button>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  <!--<th>-->
                                    <!--<input type="checkbox" name=""  lay-skin="primary">-->
                                  <!--</th>-->
                                  <th>ID</th>
                                  <th>折价码</th>

                                  <th>价值</th>
                                  <th>创建时间</th>
                                  <th>使用时间</th>
                                  <th>状态</th>

                                  <th>操作</th>
                              </thead>
                              <tbody>
                              {volist name="codelist" id="vo"}
                                <tr>
                                  <!--<td>-->
                                    <!--<input type="checkbox" name=""  lay-skin="primary">-->
                                  <!--</td>-->
                                  <td>{$key+1}</td>
                                  <td>{$vo.code}</td>
                                  <td>
                                      {switch $vo.cost_price}
                                      {case reduce_50}价值50台币{/case}
                                      {case reduce_100}价值100台币{/case}
                                      {case reduce_150}价值150台币{/case}
                                      {case multiply_70}7折劵{/case}
                                      {case multiply_75}7.5折劵{/case}
                                      {case multiply_80}8折劵{/case}
                                      {case multiply_85}8.5折劵{/case}
                                      {default /}默认情况
                                      {/switch}

                                  </td>
<!--                                  <td width="300px">{$vo.url}</td>-->
<!--                                  <td><img src="{$vo.img}" /></td>-->
<!--                                  <td>{$vo.order}</td>-->
                                  <td>{php}echo date('Y-m-d H:i:s',$vo['create_time']){/php}</td>

                                  <td>{if $vo.status != 0}{$vo['use_time']|date="Y-m-d H:i:s"}{/if}</td>
                                    <td class="td-status">
                                        <span class="layui-btn layui-btn-normal layui-btn-mini {if $vo.status==1}layui-btn-disabled{/if}">{if $vo.status == 0}正常{else /}已使用{/if}</span></td>
                                  <td class="td-manage">
<!--                                      <a onclick="member_stop(this,'{$vo.id}')"  href="javascript:;"  title="显示">-->
<!--                                          <i class="layui-icon">&#xe601;</i>-->
<!--                                      </a>-->
<!--                                      &nbsp;&nbsp;-->
<!--                                    <a title="编辑"  onclick="xadmin.open('编辑','/vbanneredit?eid={$vo.id}',1200,800)" href="javascript:;">-->
<!--                                      <i class="layui-icon">&#xe642;</i>-->
<!--                                  </a>-->
<!--                                      &nbsp;&nbsp;-->
                                    <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                                      <i class="layui-icon">&#xe640;</i>
                                    </a>
                                  </td>
                                </tr>
                              {/volist}
                              </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                    {$codelist|raw}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>

      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var form = layui.form;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

      /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){
              if($(obj).attr('title')=='显示'){
                  $.ajax({
                      type: 'post',
                      url:"/vbannershow",
                      data:{id:id},
                      success:function(data){
                          // console.log(data);return ;
                          if(data.code = 200){
                              $(obj).attr('title','隐藏')
                              $(obj).find('i').html('&#xe62f;');

                              $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('隐藏');
                              layer.msg('已隐藏!',{icon: 5,time:1000});
                          }else{
                              layer.msg('网络异常!',{icon: 5,time:1000});
                          }
                      },
                      error:function(data){
                          layer.msg('网络异常!',{icon: 5,time:1000});
                      }
                  })
                  //发异步把用户状态进行更改
              }else{
                  $.ajax({
                      url:"/vbannershow",
                      data:{id:id},
                      success:function(data){
                          if(data.code = 200){
                              $(obj).attr('title','显示')
                              $(obj).find('i').html('&#xe601;');

                              $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('显示');
                              layer.msg('已显示!',{icon: 6,time:1000});
                          }else{
                              layer.msg('网络异常!',{icon: 5,time:1000});
                          }
                      },
                      error:function(data){
                          layer.msg('网络异常!',{icon: 5,time:1000});
                      }
                  })

              }

          });
      }
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              $.ajax({
                  type:'post',
                  url:'/vcodedelete',
                  data:{id:id},
                  success:function(data){
                      if(data.code =200){
                          //发异步删除数据
                          $(obj).parents("tr").remove();
                          layer.msg('已删除!',{icon:1,time:1000});
                      }else{
                          layer.msg('删除失败!',{icon:5,time:1000});
                      }
                  },
                  error:function (data) {
                      if(data.code = 100){
                          layer.msg(data.message,{icon:1,time:1000});
                      }
                  }
              })

          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
    </script>
</html>