<section data-v-500864c6="" data-v-7a7d1ec7="" class="header_container">
    <img src="__INDEX__/img/picture/l_logo.png" alt="" class="logo" data-v-500864c6>
    <div data-v-500864c6="" class="search_container">
        <svg data-v-500864c6="" aria-hidden="true" class="icon icon-search">
            <use data-v-500864c6="" xlink:href="#icon-Search"></use>
        </svg>
        <input data-v-500864c6="" type="text" maxlength="20" placeholder="正宗紫砂壶" class="search_input">
    </div>
    <div data-v-500864c6="" class="right">
        <svg data-v-500864c6="" aria-hidden="true" class="icon icon-touxiang1">
            <use data-v-500864c6="" xlink:href="#icon-touxiang1"></use>
        </svg>
    </div>
</section>
<div data-v-7a7d1ec7="" class="menu_container">
    <ul data-v-7a7d1ec7="" class="menu_ul">
        <li data-v-7a7d1ec7=""><a data-v-7a7d1ec7="" href="/" class="nuxt-link-exact-active nuxt-link-active">首页</a></li>
        <li data-v-7a7d1ec7=""><a data-v-7a7d1ec7="" href="/category" class="">商城</a></li>
        <li data-v-7a7d1ec7=""><a data-v-7a7d1ec7="" href="/Artist" class="">名家</a></li>
        <!-- <li data-v-7a7d1ec7=""><a data-v-7a7d1ec7="" href="/article/baike" class="">百科</a></li> -->
        <li data-v-7a7d1ec7=""><a data-v-7a7d1ec7="" href="/collection" class="">收藏</a></li>
        <li data-v-7a7d1ec7="">
            <a data-v-7a7d1ec7="" href="/classification" class="">
                <svg data-v-7a7d1ec7="" aria-hidden="true" class="icon icon-caidanguanli">
                    <use data-v-7a7d1ec7="" xlink:href="#icon-caidanguanli"></use>
                </svg>
            </a>
        </li>
    </ul>
</div>