<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
		<link rel="stylesheet" href="__MOBILE2__/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/lib/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/lib/mobileSelect.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/address_mv2.css" />
		<title>開心樂購</title>
	</head>
	<body>
		{include file="public/heads" /}
		{include file="public/left" /}
		{include file="public/nav" /}
		<form class="form" action="/money" method="post" onsubmit="return false">


			<section style="margin-top: 9.75rem;">
				<p>
					<span style="padding: 0.5rem; background-color: rgb(253, 239, 217); color: red ; font-family: arial, helvetica, clean, sans-serif; font-size: 1.2rem;">為保障消費者權益，本商城不會洩露任何個人資訊！</span>
				</p>
				<div class="cart-wrap" style="margin-top: 1rem;">
					<div class="media_head">
						<p class="main__title">訂單預覽</p>
					</div>
					{volist name="shop_car" id="vo"}
					<div class="cart-item">
						<div class="media">
						 <!-- 产品标题价格 -->
							<div class="product_title hide">
								<p>{$vo.name}</p>
							</div>

							<div class="media_main">
								{php}

								if($vo['order']['size']){
								$sizeArr = array_values($vo['order']['size']);
								}else{
								$sizeArr = array();
								}

								{/php}
								{volist name="vo.order.photo" key="k" id="v"}
						
								<div class="index-goods">
									<div class="main-left">
										<a href="/goodsinfo?goodsid={$vo.id}">
											<img src="{$v}" title="">
										</a>
									</div>
									<div class="main-right">
										<!-- <h1 class="goods_title">{$vo.order.taocan}</h1> -->
										<div class="goods_main">
											顏色: <span class="attr1">{$vo.order.color[$k]}</span>&nbsp;
											{if $sizeArr != array()}
											&nbsp;尺碼: <span class="attr2">{$sizeArr[$k-1]}</span>
											{/if}
										</div>
									</div>
								</div>
								{/volist}
							</div>
							<!-- <div class="media_bottom">
								<p class="media_price">
									<span class="single_sell_price" style="display:none;">NT $ {$vo.order.sell_price}</span>
									<span class="single_market_price" style="display:none;">NT $ {$vo.order.market_price}</span>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">價格:</font>
									</font>
									<strong class="c-a lang-price" data-price="">
										<font style="vertical-align: inherit;">
											NT$<font style="vertical-align: inherit;" class="sell_price">{$vo.order.sell_price}</font>
										</font>
									</strong>
									<span class="list__item-price-old lang-price" data-price="">
										<font style="vertical-align: inherit;">
											NT$<font style="vertical-align: inherit;" class="market_price">{$vo.order.market_price}</font>
										</font>
									</span>
								</p>
								<div class="cart-order">
									<p class="cart-order__item fix"><span class="tit">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">數量：</font>
											</font>
										</span>
										<span class="val">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;" class="countNum">{$vo.order.num}</font>
											</font>
											件
										</span>
									</p>
								</div>
							</div> -->
						</div>
					</div>
					{/volist}


				</div>
			</section>

			<main>
				<div class="checkout-order">
					<p>
						<span>總價</span>
						<b class="sub-total font-black lang-price" data-price="">NT＄<font class="sub_price">{$data.total_sell_price}</font></b>
					</p>
					<p>
						<span>滿減優惠</span>
						<b class="lang-price" data-price="">NT＄{$data.total_sell_price>=2899?500:$data.total_sell_price>=1899&&$data.total_sell_price<2899?200:0}
							 {if $data.total_sell_price<1899}(再買NT＄{$data.total_sell_price-1899|abs}可減NT＄200){elseif
							 $data.total_sell_price<2899&&$data.total_sell_price>=1899
								/}(再買NT＄{$data.total_sell_price-2899|abs}可減NT＄500){/if}</b>
					</p>
					<p>
						<span>折扣碼減免</span>
						<b class="shipping-amount font-black lang-price" data-price="0">NT＄<span id="cost_price">0</span></b>
					</p>
					<p>
						<span>運費</span>
						<b class="lang-price" data-price="">NT＄<font class="freight">{$data.total_sell_price>=699?0:100}</font>(滿NT＄699免運)</b>
					</p>
					<div class="line"></div>
					<p>
						<span class="total_price font-black">最終應付</span>
						<b class="grand-total lang-price" data-price="">NT＄<font class="final_price" id="final_price">{$data.total_sell_price<699?$data.total_sell_price+100:($data.total_sell_price<1899?$data.total_sell_price:($data.total_sell_price<2899?$data.total_sell_price-200:$data.total_sell_price-500))}</font>
								 </b> </p> <!-- <div class="checkout-order__btn">
									<input type="hidden" name="payable_amount" value="">
									<button class="btnbtn-checkout" type="submit">完成訂單</button>
				</div> -->


				</div>
			</main>

			<main>
				<div class="coupon" data-name="">
					<h3 class="coupon__title">折價碼</h3>
					<div class="coupon__wrap">
						<input type="text" class="coupon__input"  value="" placeholder="點擊輸入折價碼">
						<input type="hidden" class="coupon_input" name="discount" value="">
						<button class="coupon__button" type="button">兌換</button>
					</div>
				</div>
			</main>

			<main>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						配送方式<span class="control-label-required">*</span>
					</label>
					<span class="payment">
						<input type="radio" name="payment" value="payment4" id="payment4">
						<label for="payment4" class="radio-box">黑貓宅配</label>
						<input type="radio" name="payment" value="payment1" id="payment1">
						<label for="payment1" class="radio-box active">711超商取貨</label>
						<input type="radio" name="payment" value="payment2" id="payment2">
						<label for="payment2" class="radio-box">全家超商取貨</label>
						<!-- <input type="radio" name="payment" value="payment3" id="payment3" checked="checked">
						<label for="payment3" class="radio-box">宅配到府</label> -->

					</span>
				</div>
			</main>

			<main>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						收貨地區<span class="control-label-required">*</span>
					</label>
					<div class="location">
						<div class="address">
							<div class="select" id="select1">
								<span>請選擇縣/市</span>
								<img src="__MOBILE2__/img/triangle_03.jpg">
							</div>
							<div class="select" id="select2">
								<span>請選擇鎮/鄉/區</span>
								<img src="__MOBILE2__/img/triangle_03.jpg">
							</div>
							<div class="select hide" id="select3">
								<span>請選擇店名/店址</span>
								<img src="__MOBILE2__/img/triangle_03.jpg">
							</div>

							<input class="form-control" name="address" placeholder="請輸入您的詳細地址" value="">
						</div>
					</div>

					<input type="hidden" name="detail_city" id="detail_city" value="">
					<input type="hidden" name="detail_area" id="detail_area" value="">
					<input type="hidden" name="detail_address" id="detail_address" value="">
					<input type="hidden" name="detail_delivery " id="detail_delivery " value="">
					<input type="hidden" name="ip_address" value="">

					<label id="SendAddress-error" class="error hidden" for="SendAddress">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入您的收貨地址。</font>
						</font>
					</label>
				</div>
			</main>

			<main>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						姓名<span class="control-label-required">*</span>
					</label>
					<input class="form-control" name="name" placeholder="於身份證件相同的真實姓名...">
					<p class="mdui-list-tip">註：為保證訂單順利到達，請您填寫完整姓名</p>
					<label id="SendName-error" class="error hidden" for="SendName">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入您的名字。</font>
						</font>
					</label>
				</div>
				<div class="form-group" style="display: none;">
					<label for="SendID" class="control-label">
						身份證<span class="control-label-required hidden">*</span>
					</label>
					<input class="form-control" name="ID" placeholder="請輸入身份證...">
					<label id="SendID-error" class="error hidden" for="SendID">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入您的身份證。</font>
						</font>
					</label>
				</div>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						手機號碼<span class="control-label-required">*</span>
					</label>
					<input class="form-control" name="telphone" placeholder="0912345678">
					<label id="SendCode-error" class="error hidden" for="SendCode">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入您的手機號碼。</font>
						</font>
					</label>
				</div>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						Line ID<span class="control-label-required hide">*</span>
					</label>
					<input class="form-control" type="text" name="lineid" placeholder="">
					<label id="Line-error" class="error hidden" for="SendCode">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入Line ID。</font>
						</font>
					</label>
				</div>
				<div class="form-group">
					<label for="SendFirstName" class="control-label">
						E-mail<span class="control-label-required"></span>
					</label>
					<input class="form-control" type="email" name="email" placeholder="訂單發貨通知提醒...">
					<label id="SendEmail-error" class="error hidden" for="SendEmail">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">請輸入電子郵件。</font>
						</font>
					</label>
				</div>
				<div class="form-group">
					<label for="SendAddress1" class="control-label">
						留言
					</label>
					<textarea placeholder="請輸入您的留言..." name="message"></textarea>
				</div>
				<div class="address-btns">
					<div class="info"><span>應付:</span> <span style="font-size:14px;">NT$</span><span class="final_price" style="font-size:24px;">{$data.total_sell_price<699?$data.total_sell_price+100:($data.total_sell_price<1899?$data.total_sell_price:($data.total_sell_price<2899?$data.total_sell_price-200:$data.total_sell_price-500))}</span></div>
						 <input type="hidden" name="address_id" value="">
							<input id="UPTRE_AddCart" type="button" class="btn-addBag trans" value="加入購物車" onclick="add_success()">
							<button type="submit" class="btn-address-submit disabled-save">
								<span id="minute_show" style="padding-bottom: 3px; display:none;">10:00</span>
								完成訂單
							</button>
					</div>

					<input type="hidden" name="payable_amount" value="{$data.total_sell_price<699?$data.total_sell_price+100:($data.total_sell_price<1899?$data.total_sell_price:($data.total_sell_price<2899?$data.total_sell_price-200:$data.total_sell_price-500))}">
					<input type="hidden" name="payable_costall" value="{$data.total_cost_price}">

			</main>
		</form>
		<div class="dialog boot hide" data-style="android">
			<div class="dialog-overlay"></div>
			<div class="dialog-content">
				<div class="dialog-content-hd">
					<h3 class="dialog-content-title">下單成功！<small>(建議截圖保存)</small></h3>
				</div>
				<div class="dialog-content-bd content-scroll" style="max-height: 440px;">
					<p class="am-text-left"><b>商品選擇:</b></p>
					<p class="am-text-left dialog_title"></p>
					<p class="am-text-left">[顏色：<span class="dialog_attr1"></span> 尺碼：<span class="dialog_attr2"></span>] </p>
					<p class="am-text-left"><b>訂單總價:</b><span class="dialog_price"></span></p>
					<p class="am-text-left">
						<b>訂單號:</b>
						<span class="dialog_order"></span>
						<button id="btn-copy" class="btn-copy" data-clipboard-text="123">複製</button>
					</p>
					<p class="am-text-left">
						<b>折價碼:</b>
						<span class="dialog_code"></span>
						<button id="btn-code" class="btn-copy" data-clipboard-text="123">複製</button>
					</p>
					<p class="am-text-left"><b>姓名:</b><span class="dialog_name"></span></p>
					<p class="am-text-left"><b>手機號碼:</b><span class="dialog_telphone"></span></p>
					<p class="am-text-left"><b>收貨地區:</b><span class="dialog_location"></span></p>
					<p class="am-text-left"><b>詳細地址:</b><span class="dialog_address"></span></p>
					<p class="am-text-center" style="background-color: #ee3d55;padding: 0;margin-top: 5px;"><img src="public/static/mobile2/img/image/scamalert.jpg"></p>
					<p style="color: #ee3d55;">詐騙集團猖獗,我們 <b>*不會主動電話聯絡您*</b> ,<b>切勿依照來電指示操作ATM自動櫃員機</b>。<br>若有接到疑似詐騙的電話,請儘快與 客服聯絡 或
						撥打165 反詐騙電話 協助您。</p>
				</div>
				<div class="dialog-content-ft"><button class="dialog-btn dialog-btn-confirm ">確定</button></div>
			</div>
		</div>
		<div style="width: 100%;height: 5rem"> </div>
		<script src="__MOBILE2__/lib/jquery.min.js"></script>
		<script src="__MOBILE2__/lib/rem.js"></script>
		<script src="__MOBILE2__/lib/swiper.min.js"></script>
		<script src="__MOBILE2__/lib/mobileSelect.min.js"></script>
		<script src="__MOBILE2__/lib/roc_711.js"></script>
		<script src="__MOBILE2__/lib/roc_qj.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="https://cdn.staticfile.org/clipboard.js/2.0.4/clipboard.min.js"></script>
		<script src="https://unpkg.com/dayjs"></script>
		<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
		<script src="__MOBILE2__/js/common.js"></script>
		<script src="__MOBILE2__/js/address_mv2.js"></script>

		{include file="public/facebook_pixel_code" /}
		<!-- Facebook Pixel Code -->
		<script>

			if(navigator.language!=='zh-CN'){
				fbq('track', 'AddPaymentInfo'); // 添加支付信息
				fbq('track', 'InitiateCheckout'); // 发起结账
			}
			
		</script>


		<script>
		       $('input[name="ip_address"]').val(returnCitySN["cname"]); 
		
				function add_success(){
					layer.msg('添加成功');
				}
			 
			
				
				$('.btn-address-submit').click(function() {
					 verification();
					
				});
				$('.dialog-btn-confirm').click(function() {
					$('.dialog').addClass('hide');
					location.href='/';
				});
				
				// 表单验证
				function verification() {
					let flag = true;
					if (!shipping_address()) {
						flag = false;
					}
					if (!name()) {
						flag = false;
					}
					if (!telphone()) {
						flag = false;
					}
					/*if (!line()) {
						flag = false;
					}*/

					console.log(flag)
					if (flag) {
						dialog_open();
						
					} else {
						layer.open({
							title: '購買中斷！',
							btn:['確定'],
							content: '<div style="width:80vw"><p>*姓名不能為空！姓名只能為漢語,於身份證件相同的真實姓名</p><hr><p>*手機號碼不能為空！09開頭,10位數</p><hr><p>*請選擇縣/市</p><hr><p>*请选择鎮/鄉/區</p><hr><p>*詳細地址不能為空</p><hr></div>'
						});
						return false;
					}
				}
				function dialog_open() {
					
					var title = $('.product_title').text();
					var attr1 = '';
					$('.attr1').each(function(){
						attr1 += $(this).text() + ' ';
					})					
					var attr2 = '';
					$('.attr2').each(function(){
						attr2 += $(this).text() + ' ';
					})
					var price = $('#final_price').text();
					var name = $('input[name="name"]').val();
					var telphone = $('input[name="telphone"]').val();
					var location = $('#detail_city').val() + '/' + $('#detail_area').val();
					var address = '';
					if ($('#payment4')[0].checked) {
						address = $('input[name="address"]').val();
					} else {
						address = $('#detail_address').val();
					}
					var payment = '';
					$('input[name="payment"]').each((i, e) => {
						if (e.checked) {
							payment = $(e).val();
							return false;
						}
					})
					var lineid = $('input[name="lineid"]').val();
					var email = $('input[name="email"]').val();
					var message = $('textarea[name="message"]').val();
					var discount = $('input[name="discount"]').val();
					var payable_costall = $('input[name="payable_costall"]').val();
					$('.dialog_title').text(title);
					$('.dialog_attr1').text(attr1);
					$('.dialog_attr2').text(attr2);
					$('.dialog_price').text(price);
					$('.dialog_name').text(name);
					$('.dialog_telphone').text(telphone);
					$('.dialog_location').text(location);
					$('.dialog_address').text(address);
					
					var load =  layer.load(0,{
						shade: [0.2, '#000'] //0.1透明度的白色背景
					});
					$.post("/moneyApi",{
						payment:payment,
						payable_amount:price,
						payable_costall:payable_costall,
						name: name,
						detail_city: location,
						detail_address: address,
						telphone: telphone,
						lineid:lineid,
						email:email,
						message:message,
						discount:discount
					},function(data,status){
						layer.close(load);
						
						
						
						if(!data.order_no){
							layer.msg('下單失敗,購物車沒有商品');
						}else{
							$('.dialog').removeClass('hide');
							var order = data.order_no;
							var code = data.code;
							$('.dialog_order').text(order);
							$('#btn-copy').attr('data-clipboard-text',order);
							$('.dialog_code').text(code);
							$('#btn-code').attr('data-clipboard-text',code);
							order_list();
							
							if(navigator.language!=='zh-CN'){
								fbq('track', 'Purchase',{
									value: "{$data.total_sell_price<699?$data.total_sell_price+100:($data.total_sell_price<1899?$data.total_sell_price:($data.total_sell_price<2899?$data.total_sell_price-200:$data.total_sell_price-500))}",
									currency: 'TWD'
								});
								console.log('facebook')
							}
						}
						
						
					
						
					 });
				
				}
				
	//本机订单			
	function order_list() {
		var link = $('.main-left a').attr('href');
		var title = $('.product_title').text();
		var attr1 = '';
		$('.attr1').each(function() {
			attr1 += $(this).text() + ' ';
		})
		var attr2 = '';
		$('.attr2').each(function() {
			attr2 += $(this).text() + ' ';
		})
		var price = $('#final_price').text();
		var address = '';
		if ($('#payment4')[0].checked) {
			address = $('#detail_city').val() + '/' + $('#detail_area').val() + '/' + $('input[name="address"]').val();
		} else {
			address = $('#detail_city').val() + '/' + $('#detail_area').val() + '/' + $('#detail_address').val();
		}
		var order_no = $('.dialog_order').text();
		var payment = '';
		$('input[name="payment"]').each((i, e) => {
			if (e.checked) {
				payment = $(e).val();
				console.log(payment)
				return false;
			}
		})
		var quantity = $('.index-goods').length;

		const order = {
			link,
			address,
			title,
			attr1,
			attr2,
			quantity,
			order_no,
			payment,
			price,
			status: "下單成功",
			time: dayjs().format('YYYY-MM-DD HH:mm:ss')

		};
		let order_list = [];
		if (localStorage.getItem("order_list") !== null) {
			order_list = JSON.parse(localStorage.getItem('order_list'));
			order_list.push(order);
			localStorage.setItem('order_list', JSON.stringify(order_list));
		} else {
			order_list.push(order);
			localStorage.setItem('order_list', JSON.stringify(order_list));
		}

		console.log(order_list)
	}			

	function shipping_address() {
		address_flag = false;
		//判断711超商取貨和全家超商取貨地址是否修改
		if ($('#payment1')[0].checked || $('#payment2')[0].checked) {
			if ($('#select1').find('span').text() != '請選擇縣/市' &&
				$('#select2').find('span').text() != '請選擇鎮/鄉/區' &&
				$('#select3').find('span').text() != '請選擇店名/店址'
				// $('input[name=address]').val() != '' && $('input[name=address]').val().indexOf(" ") != 0
			) {
				address_flag = true;
			} else {
				address_flag = false;
			}
		} else {
			if ($('#select1').find('span').text() != '請選擇縣/市' && $('#select2').find('span').text() != '請選擇鎮/鄉/區') {
				if ($('input[name=address]').val() != '' && $('input[name=address]').val().indexOf(" ") != 0) {
					address_flag = true;
				}
			}
		}
		if (address_flag) {
			$('#SendAddress-error').hide();
		} else {
			$('#SendAddress-error').show();
		}

		return address_flag;
	}

	function name() {

		$('#SendName-error').hide();

		const name = $(".form-control[name=name]");

		if (name.val() == "") {
			$('#SendName-error').html("請輸入您的名字。");
			$('#SendName-error').show();
			return false;
		} else if (name.val().indexOf("先生") != -1 || name.val().indexOf("女士") != -1 || name.val().indexOf("小姐") != -1 ||
			name.val().indexOf("太太") != -1 || name.val().indexOf("某某") != -1 || name.val().indexOf("老师") != -1) {
			$('#SendName-error').html("於身份證件相同的真實姓名");
			$('#SendName-error').show();
			return false;
		} else if (name.val().indexOf(" ") == 0) {
			$('#SendName-error').html("姓名不能輸入空格");
			$('#SendName-error').show();
			return false;
		} else if (name.val().indexOf("小") == 0) {
			$('#SendName-error').html("於身份證件相同的真實姓名");
			$('#SendName-error').show();
			return false;
		}

		const regCode = /^[\u4e00-\u9fa5]+$/;
		if (regCode.test(name.val()) == false) {
			$('#SendName-error').html("姓名只能為漢語");
			$('#SendName-error').show();
			return false;
		}

		return true;
	}

	function telphone() {
		const telphone = $(".form-control[name=telphone]").val();
		$('#SendCode-error').hide();
		if (telphone == "") {
			$('#SendCode-error').html("請輸入您的手機號碼。");
			$('#SendCode-error').show();
			return false;
		}
		const regCode = /^09\d{8}$/;
		if (regCode.test(telphone) == false) {
			$('#SendCode-error').html("手機號碼不正確,09開頭,10位數,請重新輸入");
			$('#SendCode-error').show();
			return false;
		}
		return true;

	}
				
			$(function() {
			
				// 复制文本内容
				var copyBtn = new ClipboardJS('#btn-copy');
				copyBtn.on("success", function(e) {
					$('#btn-copy').text('已複製');
					e.clearSelection();
				});
				var codeBtn = new ClipboardJS('#btn-code');
				codeBtn.on("success", function(e) {
					$('#btn-code').text('已複製');
					e.clearSelection();
				});
				 
				$('.coupon__button').click(function() {
					var code = $('.coupon__input').val();
					// layer.msg('暫時沒有此折價碼哦～',{time:1000,icon:5})
					layer.load();
					$.ajax({
						url: 'get_discount_code',
						data: {
							code: code
						},
						success: function(data) {
							layer.close(layer.index);

							if(data.code == 200){
								var discount = data.data.cost_price;
								$('.coupon_input').val(discount);
								if(discount == "reduce_50"){
									var msg = '50代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									var cost_price =  50;
									var final_price = parseInt($('#final_price').html());
									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "reduce_100"){
									var msg = '100代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									cost_price =  100;
									var final_price = parseInt($('#final_price').html());
									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "reduce_150"){
									var msg = '150代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									cost_price =  150;
									var final_price = parseInt($('#final_price').html());
									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "multiply_70"){
									var msg = '7折代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									var final_price = parseInt($('#final_price').html());
									cost_price = parseInt(final_price*0.3);
									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "multiply_75"){
									var msg = '7.5折代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									var final_price = parseInt($('#final_price').html());
									cost_price = parseInt(final_price*0.25);

									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "multiply_80"){
									var msg = '8折代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									var final_price = parseInt($('#final_price').html());
									cost_price = parseInt(final_price*0.2);

									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}else if(discount == "multiply_85"){
									var msg = '8.5折代金券';
									layer.msg(msg+'兌換成功,請勿離開此頁面,否則折價碼失效～',{time:4000,icon:6});
									var final_price = parseInt($('#final_price').html());
									cost_price = parseInt(final_price*0.15);

									var payable_amount = final_price - cost_price;
									$('#cost_price').html(cost_price);
									$('.final_price').html(payable_amount);
									$('input[name="payable_amount"]').val(payable_amount);
								}


							}else{
								layer.msg('暫時沒有這個折價碼哦, 趕緊聯繫客服申請吧～',{time:2000,icon:5});
							}

						},
						error: function(data) {
							layer.close(layer.index);
							layer.msg('暫時沒有這個折價碼哦, 趕緊聯繫客服申請吧～', {
								time: 2000,
								icon: 5
							});
						}

					})
				})
			})
		</script>




		{include file="public/statistical_code" /}
	</body>


</html>


<!--请将以下码嵌入到您网页源代码的最后面，通常是</body></HTML>之后,这样在服务器升级维护的时候也不会影响您的网页打开呈现速度。-->
<!--<script language=javascript>-->
<!--	&lt;!&ndash;-->
<!--	var LiveAutoInvite0='您好，来自%IP%的朋友';-->
<!--	var LiveAutoInvite1='来自首页的对话';-->
<!--	var LiveAutoInvite2='网站商务通 主要功能：<br>1、主动邀请<br>2、即时沟通<br>3、查看即时访问动态<br>4、访问轨迹跟踪<br>5、内部对话<br>6、不安装任何插件也实现双向文件传输<br><br><b>如果您有任何问题请接受此邀请以开始即时沟通</b>';-->
<!--	//&ndash;&gt;-->
<!--</script>-->
<!--<script language="javascript" src="https://dvt.zoosnet.net/JS/LsJS.aspx?siteid=DVT75903618&float=1&lng=cn"></script>-->


