<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}

		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">聯繫我們</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<form id="contactForm" novalidate="novalidate" onsubmit="return tip()">
					<div class="contact-us__form form-horizontal">
						<div class="form-group fix"><label class="control-label"><span class="control-label-required">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">*</font>
									</font>
								</span>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">姓名：</font>
								</font>
							</label>
							<div class="form-control-wrap"><input type="text" name="call_name" class="form-control error" placeholder=""
								 aria-required="true" aria-invalid="true">
								<label id="call_name-error" class="error hidden" for="call_name">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">這是必填欄。</font>
									</font>
								</label></div>
						</div>
						<div class="form-group fix"><label class="control-label"><span class="control-label-required">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">*</font>
									</font>
								</span>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">電子郵件：</font>
								</font>
							</label>
							<div class="form-control-wrap"><input type="text" name="user_email" class="form-control error" placeholder=""
								 aria-required="true" aria-invalid="true"><label id="user_email-error" class="error hidden" for="user_email">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">這是必填欄。</font>
									</font>
								</label></div>
						</div>
						<div class="form-group fix"><label class="control-label"><span class="control-label-required"></span>
								<span class="control-label-required" style="visibility:hidden">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">*</font>
									</font>
								</span>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">訂單號：</font>
								</font>
							</label>
							<div class="form-control-wrap"><input type="text" name="Order" class="form-control" placeholder=""></div>
						</div>
						<div class="form-group fix"><label class="control-label"><span class="control-label-required">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">*</font>
									</font>
								</span>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">主題：</font>
								</font>
							</label>
							<div class="form-control-wrap mt5"><select class="form-control valid" name="info_type" aria-required="true"
								 aria-invalid="false">
									<option value="">

										請選擇

									</option>
									<option>

										訂單跟踪

									</option>
									<option>

										尺寸不合適

									</option>
									<option>

										與描述不符/質量問題

									</option>
									<option>

										付款問題

									</option>
									<option>

										退換貨

									</option>
									<option>

										未收到訂單

									</option>
									<option>

										退款問題

									</option>
									<option>

										其他

									</option>
								</select><label id="info_type-error" class="error hidden" for="info_type" style="display: none;"></label></div>
						</div>
						<div class="form-group fix"><label class="control-label"><span class="control-label-required">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">*</font>
									</font>
								</span>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">評論：</font>
								</font>
							</label>
							<div class="form-control-wrap"><textarea name="send_content" class="form-control error" rows="3" style="height: 6.66rem;"
								 aria-required="true"></textarea><label id="send_content-error" class="error hidden" for="send_content">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">這是必填欄。</font>
									</font>
								</label></div>
						</div>
						<div class="form-group fix"><label class="control-label"></label>
							<div class="form-control-wrap"><input type="hidden" name="priority" value="urgent"><button type="submit" class="btn btn-purple">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">提交</font>
									</font>
								</button></div>
						</div>
					</div><input type="hidden" name="__hash__" value="11068bc73d0ccf4c3330dda4436d0e50_77d8e906b55678e396257f8fbb659060">
				</form>
				<div class="contact-bottom">

<!--						陕西明洋视界电子商务有限公司-->
					<span class="switch_address">航皓電子商務有限公司</span>
					<br>
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							香港千禧大廣場皇后大道2608L（不是回信地址，謝謝）
						</font>
					</font><br>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								電話：</font>
						</font><span style="color:#191F25;font-family:-apple-system, system-ui; font-size:1.14rem;">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">082370808181</font>
							</font>
						</span>
					</p>
					<p>
						<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 5%; font-size:1.14rem;">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; 021-29508826</font>
							</font>
						</span>
					</p>
					<p>
						<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 5%; font-size:1.14rem;">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp;&nbsp;021-29508827</font>
							</font>
						</span>
					</p>
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">
							如果您在48小時內沒有收到任何回復，請發送電子郵件至
							<span style="color:#191F25;font-family:-apple-system, system-ui; font-size:14px;" <font="">
								<font style="vertical-align: inherit;">fzq396673948@yahoo.com</font>
							</span></font>

					</font>

				</div>
			</div>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
		<script src="https://www.layuicdn.com/layer/layer.js"></script>
	<script src="__MOBILE2__/js/common.js"></script>
	<script src="__MOBILE2__/js/prudocts_mv2.js"></script>

		<script>
			function tip() {
				layer.msg('提交成功',{icon:1,time:2000},function () {
				});
				return false;
			}
		</script>
	</body>
</html>
