<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}


		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">配送</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<h3>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">付款後什麼時候可以收到包裹？</font>
						</font>
					</h3>
					<h4>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">超級儲蓄服務：</font>
						</font>
					</h4>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								歐洲和中東以外的地區：訂單處理：3-7天。</font>
							<font style="vertical-align: inherit;">訂單交付：7-14天。</font>
							<font style="vertical-align: inherit;">您訂購的物品將在20天內送達您。
							</font>
						</font>
					</p>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								歐洲和中東：訂單處理：3-7天。</font>
							<font style="vertical-align: inherit;">訂單交貨：10-20天。</font>
							<font style="vertical-align: inherit;">您訂購的商品將在30天內送達您。
							</font>
						</font>
					</p>

					<h4>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">快遞服務：</font>
						</font>
					</h4>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								訂單處理：3-7天。</font>
							<font style="vertical-align: inherit;">訂單交付：5-6天。</font>
							<font style="vertical-align: inherit;">您訂購的物品將在13天內送達您。
							</font>
						</font>
					</p>

					<h4>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">中國假期提醒：</font>
						</font>
					</h4>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								在為期一周的中國假期，中國國慶節（10月1日）和農曆新年期間，某些供應商和承運商的服務可能會受到影響，這意味著在這些假期前後下訂單的交貨可能會延遲3 -7天。
							</font>
						</font>
					</p>

					<h4>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">處理時間</font>
						</font>
					</h4>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								收到您的訂單後，我們將進行質量控制檢查和測試，以確保在發貨之前保證產品的質量。</font>
							<font style="vertical-align: inherit;">處理時間因具體產品而異，平均處理時間約為3-7天；</font>
							<font style="vertical-align: inherit;">但是，它也可能受物料的庫存狀態影響。
							</font>
						</font>
					</p>

					<h3>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">開心購物使用哪種運輸方式？</font>
						</font>
					</h3>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								目前，所有產品將通過航空運輸服務運送。</font>
							<font style="vertical-align: inherit;">對於快遞，DHL是貨運公司。
							</font>
						</font>
					</p>

					<h3>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">如何享受免費送貨政策？</font>
						</font>
					</h3>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								訂單滿$ 69美國境內免運費，其他國家訂單滿$ 89免運費。
							</font>
						</font>
					</p>

					<h3>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">如何追踪我的訂單？</font>
						</font>
					</h3>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								下訂單後，我們的系統將向您發送有關訂單詳細信息的電子郵件。</font>
							<font style="vertical-align: inherit;">您也可以登錄到開心購物帳戶並在“我的訂單”頁面上跟踪您的訂單。</font>
							<font style="vertical-align: inherit;">訂單發貨後，我們將通過電子郵件向您發送跟踪號和跟踪網站。
							</font>
						</font>
					</p>
				</div>
			</div>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
	<script src="__MOBILE2__/js/common.js"></script>
	<script src="__MOBILE2__/js/prudocts_mv2.js"></script>
	</body>
</html>
