<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}
		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">退換貨政策</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<p></p>
					<p>
						<span style="background-color: rgb(253, 239, 217); color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: 1.14rem;">❌七天鑑賞期並非試用期，產品經拆封使用，為保障下位消費者使用權益，非瑕疵問題無法辦理退貨！</span>
					</p>
					<p>我們的政策支持在7天內退貨並退款。如果您在購買後的7天后退貨並退款，很遺憾，我們無法為您提供退款或換貨服務。</p>
					<p>要想獲得退貨，您的商品必須未使用未損壞，並且必須是原始包裝。</p>
					<p>部分類型的商品可以免稅退貨。食品，鮮花，報紙或雜誌等易腐爛物品不予退貨。我們也不接收私人或衛生用品、含危險材料、易燃液體或氣體的產品。</p>
					<p><strong>其他不可退貨商品：</strong></p>
					<p>*禮品卡<br></p>
					<p>*可下載的軟件產品</p>
					<p>*一些健康和個人護理用品</p>
					<p>退貨需要提供收據或購買憑證。</p>
					<p>請不要將您購買的產品交還給製造商。<br></p>
					<p><strong>有如下情況時，只會部分退款或不退款:(如果適用）</strong><br></p>
					<p>*預訂有明顯的使用跡象<br></p>
					<p>*已打開的CD，DVD，VHS磁帶，軟件，視頻遊戲，盒式磁帶或黑膠唱片</p>
					<p>*任何不符合原始狀態的物品，由於操作或包裹錯誤而導致部件損壞或丟失</p>
					<p>*退回後的任何物品超過退貨和退款後7天內退回。</p>
					<p><span style="font-family: sans-serif; font-size: 16px;">*</span><span style="font-family: sans-serif; font-size: 16px;">因退貨造成訂單商品金額購物未達免運費和活動優惠標準，仍將於退貨退款時加計原出貨訂單之超商取貨100元物流費；黑猫宅配150元物流費&nbsp;;&nbsp;&nbsp;離島&nbsp;230元物流費。<span
							 style="font-family: sans-serif; font-size: 16px; white-space: normal;">加計</span>活動優惠按實際折價金額計算</span><br></p>
					<p><strong>退款（如適用）</strong></p>
					<p>收到並檢查好您的退貨後，我們會向您發送一封電子郵件，通知您我們已收到您退回的物品。我們還會通知您批准或拒絕退款。<br></p>
					<p>如果您獲得批准，那麼我們將處理您的退款，並會在一定的天數內自動返還應用到您的信用卡或原始付款方式。</p>
					<p><em><strong>延遲或遺失退款（如適用）</strong></em><br></p>
					<p>如果您尚未收到退款，請先重新檢查您的銀行帳戶。<br></p>
					<p>然後聯繫您的信用卡公司，可能需要一些時間才能正式發布退款。<br></p>
					<p>接下來聯繫您的銀行。在退款發布之前，通常需要一些處理時間。<br></p>
					<p><br></p>
					<p><strong>銷售商品（如適用）</strong></p>
					<p>只有正價貨品可以退换货，遺憾的是，限时出清促銷商品不能退换货。</p>
					<p><br></p>
					<p><strong>更換（如適用）</strong></p>
					<p>我們只更換有缺陷或損壞的物品。如果您需要將其換成同一物品，我們會通知您退貨地址。<br></p>
					<p><br></p>
					<p style="white-space: normal;"><strong>維修（如適用）</strong></p>
					<p style="white-space: normal;">如果您的產品在保修期內損壞或無法正常使用，可以聯繫我們索取廠商地址，郵寄需維修商品至廠商維修，維修後我們將為您再次郵寄，免郵費。</p>
					<p><strong>禮品</strong></p>
					<p>如果物品在購買時被標記為禮品並直接發送給您，您將收到退貨價值的禮品券。收到退回的物品後，禮品券將郵寄給您。</p>
					<p>如果物品在購買時未被標記為禮品，或者禮品贈送者將訂單發送給自己以後再送給您，我們將向禮品贈送者發送退款，他將告知您的退貨。</p>
					<p><strong>運輸</strong></p>
					<p>您將負責支付退回物品的運費。運費不予退還。如果您收到退款，退貨運費將從退款中扣除。</p>
					<p>根據您居住的地方，您交換的產品可能需要的時間可能會有所不同。</p>
					<p>因退貨造成訂單商品金額購物未達免運費標準，仍將於退貨退款時加計原出貨訂單之超商取貨100元物流費；黑猫宅配150元物流費&nbsp;;&nbsp;&nbsp;離島&nbsp;230元物流費。</p>
				</div>
			</div>
		</div>


	{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
		<script src="__MOBILE2__/js/common.js"></script>
	</body>
</html>
