<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}
		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">支付方式</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<h3 class="info-big-tit">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">用貝寶付款</font>
						</font>
					</h3><img src="public//static/images/pay_method.webp" alt="">
					<ul>
						<li>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">1.使用PayPal，您可以快速安全地在線發送付款。</font>
							</font>
						</li>
						<li>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">2.通過PayPal，您可以使用信用卡，借記卡或銀行帳戶餘額付款。</font>
							</font>
						</li>
						<li>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">3.提交訂單後，您將被重定向到貝寶（PayPal）網站，您可以在那裡進行付款。</font>
							</font>
						</li>
					</ul><br>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								當您通過貝寶（Paypal）下訂單時，您將被重定向到貝寶（PayPal）付款頁面，您可以通過使用貝寶（PayPal）用戶名和密碼登錄來確認付款。
							</font>
						</font>
					</p>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								即使沒有PayPal帳戶，您仍然可以結帳。</font>
							<font style="vertical-align: inherit;">為此，請點擊“ Paypal Checkout”，您將被重定向到一個安全頁面，您可以在其中輸入信用卡信息或通過PayPal安全地完成付款。
							</font>
						</font>
					</p>

					<h3>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">使用貝寶的優勢：</font>
						</font>
					</h3>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								付款是可追溯的。</font>
							<font style="vertical-align: inherit;">您可以使用PayPal帳戶跟踪付款狀態。Payment不需要您在線使用信用卡（您可以直接從銀行帳戶進行轉帳）。</font>
							<font style="vertical-align: inherit;">開心購物沒有收到您的信用卡號（通過PayPal的服務器對其進行了安全加密），這限制了未經授權使用的風險。

							</font>
						</font>
					</p>
					<p>
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">
								請注意，付款時開心購物不會收集您的信用卡/借記卡卡號或個人信息。</font>
							<font style="vertical-align: inherit;">如果您對我們網站上的交易有疑問，請諮詢您的發卡銀行以獲取更多信息。
							</font>
						</font>
					</p>
				</div>
			</div>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
	<script src="__MOBILE2__/js/common.js"></script>
	<script src="__MOBILE2__/js/prudocts_mv2.js"></script>
	</body>
</html>
