<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/information_mobile.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__MOBILE2__/css/prudocts_mv2.css" />
	</head>
	<body>
	{include file="public/header" /}

	<!-- 侧边栏 -->
	{include file="public/left" /}


	{include file="public/nav" /}
		<div class="hc-right">
			<h2 class="hc-right__title">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">隱私政策</font>
				</font>
			</h2>
			<div class="hc-right__content">
				<div class="hc-right__article">
					<p>第1節 - 個人信息的收集</p>
					<p>我們不會與第三方在線收集，分享或交易客戶的個人信息。<br></p>
					<p>在線收集的個人信息僅在我們的公司集團和第三方中披露，用於您收集的目的，並經您授權和同意。例如，在我們的網站上進行您選擇的產品的銷售交易。<br></p>
					<p>當您註冊我們的帳戶時，我們收集的個人信息可能包括您：<br></p>
					<p>名稱<br></p>
					<p>郵寄地址</p>
					<p>電子郵件地址</p>
					<p>出生日期（可選）</p>
					<p>性別（可選）</p>
					<p>當您在我們的網站上購物時，我們收集的其他個人信息可能包括：</p>
					<p>電話號碼<br></p>
					<p>手機號碼</p>
					<p>郵寄地址</p>
					<p>信用卡詳細信息（可選）和付款方式</p>
					<p>我們向您收集的強制性個人信息將在我們的公司集團和第三方之間使用和共享，用於以下目的：</p>
					<p>提供您從我們網站購買的產品。例如，我們可能會將您的姓名和地址傳遞給第三方，例如我們的快遞服務公司或選擇的供應商;<br></p>
					<p>通知和更新產品交付和客戶支持;</p>
					<p>為您提供相關的產品信息，如SKU;</p>
					<p>您可以要求我們處理您的訂單並向您提供通過我們的網站提供的服務和信息，</p>
					<p>允許我們管理您的註冊帳戶;</p>
					<p>驗證和執行與您在線支付相關的金融交易。例如，您通過我們網站進行的付款將由我們指定的代理商處理。在進行您選擇的銷售交易時，必須向這些數據處理代理商（例如我們在此上下文中指定代理商的代理商）進行披露。</p>
					<p>非強制性個人信息（如出生日期和性別）用於對用戶的人口統計數據進行研究，以及我們以促銷電子郵件的形式向您發送建議或信息，我們認為您可能認為這些有用，從而增強您訪問我們網站時的體驗。通過向我們提供這些非強制性個人信息，您被視為已同意參與我們的研究並接收上述建議或信息。您可以自由撤銷同意我們使用此可選提供的信息。</p>
					<p>第2節 - 同意</p>
					<p>你如何得到我的同意？<br></p>
					<p>當您向我們提供個人信息以完成交易，驗證您的信用卡，下訂單，安排交貨或退貨時，我們暗示您同意我們收集它並僅出於特定原因使用它。<br></p>
					<p>如果我們出於次要原因（如營銷）要求您提供個人信息，我們會直接詢問您的明確同意，或者為您提供拒絕或退出的機會。<br></p>
					<p>我該如何撤回同意？<br></p>
					<p>如果您選擇加入並改變主意後，您可以隨時聯繫我們，取消您同意我們與您聯繫，以便繼續收集，使用或披露您的信息。<br></p>
					<p>第3節 - 公開<br></p>
					<p>如果您違反我們的服務條款，我們可能會在法律要求的情況下公開您的個人信息。<br></p>
					<p>付款：<br></p>
					<p>如果您選擇直接付款網關來完成購買，那麼我們會存儲您的信用卡數據。它通過支付卡行業數據安全標準（PCI-DSS）加密。只有在完成購買交易所需的時間內，才會存儲您的購買交易數據。完成後，您的購買交易信息將被刪除。<br></p>
					<p>所有直接支付網關都遵循由PCI安全標準委員會管理的PCI-DSS設定的標準，這是Visa，MasterCard，American Express和Discover等品牌的共同努力。<br></p>
					<p>PCI-DSS要求有助於確保我們的商店及其服務提供商安全處理信用卡信息。<br></p>
					<p>有關更多信息，您可能還需要閱讀我們的服務條款或隱私聲明。</p>
					<p>第4節 - 第三方服務</p>
					<p>一般而言，我們使用的第三方提供商僅在必要時收集，使用和披露您的信息，以允許他們執行他們向我們提供的服務。<br></p>
					<p>但是，某些第三方服務提供商（如支付網關和其他支付交易處理商）對於我們需要為您的購買相關交易提供的信息有自己的隱私政策。<br></p>
					<p>對於這些提供商，我們建議您閱讀其隱私政策，以便了解這些提供商處理您的個人信息的方式。<br></p>
					<p>請記住，某些提供商可能位於或擁有與您或我們不同的轄區內的設施。因此，如果您選擇繼續涉及第三方服務提供商服務的交易，那麼您的信息可能會受到該服務提供商或其設施所在司法管轄區的法律的約束。<br></p>
					<p>一旦您離開我們商店的網站或被重定向到第三方網站或應用程序，您將不再受本隱私政策或我們網站的服務條款的約束。<br></p>
					<p>鏈接<br></p>
					<p>當您點擊我們商店的鏈接時，他們可能會引導您離開我們的網站。我們不對其他網站的隱私慣例負責，並鼓勵您閱讀其隱私聲明。<br></p>
					<p>第5節 - 安全<br></p>
					<p>為了保護您的個人信息，我們採取合理的預防措施並遵循行業最佳實踐，以確保其不會被錯誤地丟失，誤用，訪問，披露，更改或破壞。<br></p>
					<p>雖然沒有通過互聯網或電子存儲傳輸的方法是100％安全的，但我們遵循所有PCI-DSS要求並實施其他普遍接受的行業標準。<br></p>
					<p>收集計算機數據不是必需的個人信息<br></p>
					<p>當您訪問我們的網站時，我們公司的服務器將自動記錄您訪問網站時瀏覽器發送的信息。這些數據可能包括：<br></p>
					<p>您計算機的IP地址<br></p>
					<p>瀏覽器類型</p>
					<p>在您訪問我們的網站之前訪問的網頁</p>
					<p>在我們網站上搜索的頁面，項目和信息所花費的時間，訪問時間和日期以及其他統計信息</p>
					<p>收集此信息用於分析和評估，以幫助我們改進我們的網站以及我們提供的服務和產品。此數據不會與任何其他個人信息一起使用。</p>
					<p>第6節 - 同意年齡<br></p>
					<p>使用本網站即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許任何您的未成年家屬使用本網站。<br></p>
					<p>第7節 - 本隱私政策的變更<br></p>
					<p>使用本網站即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許任何您的未成年家屬使用本網站。<br></p>
					<p>如果我們的商店被收購或與其他公司合併，您的信息可能會轉移給新的所有者，以便我們繼續向您銷售產品。<br></p>
					<p>問題和聯繫信息<br></p>
					<p>如果您希望：訪問，更正，修改或刪除我們擁有的任何個人信息，註冊投訴或只是想了解更多信息，請聯繫我們的隱私合規官<br></p>
					<p>[回复：隱私合規官]<br></p>
					<p><br></p>
				</div>
			</div>
		</div>


	{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
	<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
	<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
	<script src="__PUBLIC__/static/mobile1/js/information_mobile.js"></script>
	<script src="__MOBILE2__/js/common.js"></script>
	</body>
</html>
