<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">

    <title>開心樂購</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">

    <link href="https://cdn.bootcss.com/Swiper/4.5.1/css/swiper.min.css" rel="stylesheet">

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="__IMG__/icon-desktop.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__IMG__/icon-desktop.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="__IMG__/icon-desktop.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="__IMG__/icon-desktop.png">
    <script src="__JS__/bootstrap.min.js"></script>

    <script src="https://cdn.bootcss.com/Swiper/4.5.1/js/swiper.min.js"></script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
              n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
              'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2467794713473944');
      fbq('track', 'PageView');
    </script>
    <noscript>< img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2467794713473944&ev=PageView&noscript=1"
      /></noscript>
    <!-- End Facebook Pixel Code -->

    <style media="screen">

      body{font-size:16px;}

      a{color:black;}



      ul,ol{list-style-type:none;}

      select,input,img,select{vertical-align:middle;}



      a{text-decoration:none;}

      a:link{color:black;}

      a:visited{color:black;}

      a:hover,a:active,a:focus{color:black;text-decoration:underline;}



      li{margin-bottom:0.6em;}



    </style>

  </head>

  <body>

    <div class="container-fluid">

      <div class="row" style="padding:0 8px;font-size:16px;line-height:44px;height:44px;color:#000;">

        <div class="col-xs-2">

          <a href="javascript:history.back(-1)">

            <img src="__IMG__\icon-back.png" style="width:28px;height:28px;">

          </a>

        </div>

        <div class="col-xs-8" style="text-align:center;">

          <span>创建快捷方式</span>

        </div>

        <div class="col-xs-2">



        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">

          <ul style="padding:1em 1em;">

            <li>第1步：在瀏覽器中打開我們的網站鏈接 <strong>https://www.tthuipin.com</strong></li>

            <li>第2步：點擊瀏覽器工具欄 <strong>【···】</strong>  按鈕</li>

            <li>第3步：選擇【添加到主屏幕】</li>

            <li>

              <img src="__IMG__\1.jpg" class="img-responsive" alt="">

            </li>

          </ul>

          <div class="" style="margin-left:1em;">

            <a href="javascript:void(0)" style="color:blue">无法添加到主屏幕？</a>

          </div>



        </div>

      </div>

    </div>
    <script>
      fbq('track', 'SubmitApplication');
    </script>

    {include file="public/statistical_code" /}
  </body>

</html>

