<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
<!--		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/Swiper/4.5.1/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/indexMobile.css" />
		<script type="text/javascript">
			var sUserAgent = navigator.userAgent;
			if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(sUserAgent)){
				window.location.href="/pc_index";
			}
		</script>
	</head>
	<body>
		{include file="public/header" /}

		<!-- 焦点图 -->
		<section>
			<div class="swiper-container">
				<div class="swiper-wrapper"></div>
				<!-- 分页器 -->
				<div class="swiper-pagination"></div>
			</div>
		</section>
		<!-- 分类模块 -->
		<div class="content-box">
			<div class="bride-grid">
				<div class="content-grid">
					<figure class="effect-bubba">
						<img src="__PUBLIC__/static/mobile1/img/m08.jpg" alt="" data-selector="img">
						<figcaption>
							<h4>Men's</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
					<div class="clearfix"></div>
					<h3>Men's</h3>
				</div>
				<div class="content-grid">
					<figure class="effect-bubba">
						<img src="__PUBLIC__/static/mobile1/img/m087.jpg" alt="" data-selector="img">
						<figcaption>
							<h4>Shoes</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
					<div class="clearfix"></div>
					<h3>Shoes</h3>
				</div>
				<div class="content-grid">
					<figure class="effect-bubba">
						<img src="__PUBLIC__/static/mobile1/img/m083.jpg" alt="" data-selector="img">
						<figcaption>
							<h4>Kids</h4>
							<p>In sit amet sapien eros Integer in tincidunt labore et dolore magna aliqua</p>
						</figcaption>
					</figure>
					<div class="clearfix"></div>
					<h3>Kids</h3>
				</div>
			</div>
		</div>
		<!-- TOP & NEW -->
		<div class="content-box">
			<div class="navigation-tab">
				<a class="navigation-tab__item active" href="javascript:;">TOP SELLING</a>
				<a class="navigation-tab__item" href="javascript:;">NEW ARRIVALS</a>
			</div>
			<div class="navigation-content">
				<ul class="list-wrap fix">
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="link__view-more" href="hot_deal.html"></a></div>
					</li>
				</ul>
			</div>
			<div class="navigation-content hidden">
				<ul class="list-wrap fix">
					<li class="list__item">
						<div class="list__item-inner"><a class="link__view-more" href="hot_deal.html"></a></div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>
					<li class="list__item">
						<div class="list__item-inner"><a class="list_item-img" href="">
								<img class="lazy" src="__PUBLIC__/static/mobile1/img/3269457_e49beed12a.jpg" style="display: block;"></a>
							<!-- <a href="javascript:;" class="list__btn-addcart" data-id="24872"><i class="iconfont icon-plus"></i>Add to Bag</a> -->
						</div>
						<div class="list__item-price"><span class="lang-price" data-price="12.70">US$12.70</span>
							<div class="list__item-price-old lang-price" data-price="25.40">US$25.40</div>
							<a class="list-add-wish" data-action="add-wishlist" data-sku="MY18102902" href="javascript:;">
								<i class="iconfont icon-like"></i>
							</a>
						</div>
						<div class="list__item-name">
							<a href="" title="Mom Girl Solid Color Bowknot Decorate Matching Dress">Mom Girl Solid Color Bowknot Decorate
								Matching Dress</a>
						</div>
						<div class="tag__flashsale mobile" style="background-image : url(__PUBLIC__/static/mobile1/img/fs.webp)">
							<span class="tag__val">70</span>
						</div>
					</li>

				</ul>
			</div>
		</div>

		<!--comment show-->
		<div class="content-box tc">
			<div class="show-title">
				<div class="show-line"></div>
				<div class="show-text">Popreal Show</div>
			</div>
			<a href=""><img class="mt10" src="__PUBLIC__/static/mobile1/img/popreal.jpg" alt=""></a>
			<ul data-name="reviewShow" class="list-wrap fix">
				<!-- model填充 -->
			</ul>
		</div>


		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/indexMobile.js"></script>
	</body>
</html>
