<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="renderer" content="webkit">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=yes,email=yes" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <script src="__JS__/rem.js"></script>
    <title>開心樂購</title>
    <link rel="stylesheet" type="text/css" href="__PLUGIN__/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/leo.css">

	</head>
	<body class="gray">
    <div class="container">


        <div class="nav-bar">
        	<div class="left-nav single">
        		<a class="menu" id="menu-btn"></a>
        		<!-- <a class="logo"></a> -->
        	</div>
			<div class="nav-title">查詢訂單</div>
        	<div class="right-nav">
        		<a class="service"></a>
        		<a class="share" id="share-btn"></a>
        	</div>
        </div>
        <div class="wrap on">
			<div class="search-box">
				<div class="search">
					<input class="keywords-input" type="text" name="keywords" placeholder="請輸入手機號或訂單號">
					<button class="clear-btn"></button>
					<button class="search-btn">查詢</button>
				</div>
			</div>
			<!-- 搜索结果，默认显示为隐藏 -->
			<div class="search-result">
				<div class="order-item">
					<div class="order-header">
						<div>
							<div class="order-code">订单号：XH1074192346</div>
							<div class="order-desc">
								<span>共2件商品</span>
								<span>2019/11/02 06:37:23</span>
							</div>
						</div>
						<span>查看订单详情 ></span>
					</div>
					<ul class="order-package">
						<li class="order-info">
							<div class="info-list">
								<span class="package-tit">
									<span class="package-name">包裹1</span>
									<i style="color:#C5221A">待发货</i>
								</span>
								<div class="package-detail">
									<div class="skuImg">
										<ul>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="btnBox">
								<button>查看商品</button>
								<button>提醒发货</button>
							</div>
						</li>
					</ul>
					<ul class="order-package">
						<li class="order-info">
							<div class="info-list">
								<span class="package-tit">
									<span class="package-name">包裹2</span>
									<i style="color:#C5221A">已发货</i>
								</span>
								<div class="package-detail">
									<div class="skuImg">
										<ul>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="btnBox">
								<button >查看商品</button>
								<button class="full">确认收货</button>
							</div>
						</li>
					</ul>
				</div>
				<div class="order-item">
					<div class="order-header">
						<div>
							<div class="order-code">订单号：XH1074192346</div>
							<div class="order-desc">
								<span>共1件商品</span>
								<span>2019/11/02 06:37:23</span>
							</div>
						</div>
						<span>查看订单详情 ></span>
					</div>
					<ul class="order-package">
						<li class="order-info">
							<div class="info-list">
								<span class="package-tit">
									<span class="package-name">包裹2</span>
									<i style="color:#C5221A">已发货</i>
								</span>
								<div class="package-detail">
									<div class="skuImg">
										<ul>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
											<li>
												<img src="__IMG__/pro1.jpg" alt="" />
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="btnBox">
								<button >查看商品</button>
								<button class="full">确认收货</button>
							</div>
						</li>
					</ul>
				</div>
			    <div class="result-empty">
					<img class="empty" src="__IMG__/empty.png" alt="" />
					<span class="empty-txt">未找到相关订单</span>
					<a class="more-btn" href="##">去逛逛</a>
				</div>
			</div>
			<!-- 搜索结果，默认显示为隐藏 -->
			<div class="funs">
				<div class="funs-title"><span>了解我們</span></div>
				<div class="funs-content">
					<div class="actions">
						<ul>
							<li>
								<a href="https://www.facebook.com/開心樂購-116332536481393/" target="_blank">
									<img src="__IMG__/fb.png">
								    <span>FB主頁</span>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="__IMG__/tel.png">
									<span style="line-height: 0">
										<span>周壹至周六</span><br>
									    <span style="font-size:0.32rem;padding-top:0.16rem;line-height: 0.32rem">10:00~19:00</span>
									</span>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/messages/t/116332536481393" >
									<img src="__IMG__/messager.png">
									<span>Messenger</span>
								</a>
							</li>
						</ul>
					</div>
				    <div class="links">
						<ul>
							<li><a href="/service">客戶服務條款</a></li>
							<li><a href="/privacy">客戶隱私政策</a></li>
							<li><a href="/question">常見問題說明</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="funs">
				<div class="funs-title"><span>最近瀏覽過的商品</span></div>
				<div class="funs-items">
					<!-- <a class="pro-item3">
						<div class="pro-img3">
							<img src="__IMG__/pro1.jpg" alt="" />
						</div>
						<div class="title">韩版拼色宽鬆条纹长袖打底衫多色可选</div>
						<div class="subtitle">
							<span class="price1">199</span>
							<span class="price2">$599</span>
						</div>
					</a>
					<a class="pro-item3">
						<div class="pro-img3">
							<img src="__IMG__/pro1.jpg" alt="" />
						</div>
						<div class="title">韩版拼色宽鬆条纹长袖打底衫多色可选</div>
						<div class="subtitle">
							<span class="price1">199</span>
							<span class="price2">$599</span>
						</div>
					</a> -->
					<!-- <a class="pro-item3"><div class="pro-img3"><img src="__IMG__/pro1.jpg" alt="" /></div><div class="title">韩版拼色宽鬆条纹长袖打底衫多色可选</div><div class="subtitle"><span class="price1">199</span><span class="price2">$599</span></div></a> -->
				</div>
			</div>
		</div>
		{include file="public/bottom" /}



		<!-- 分享弹出层 -->
		<div class="sharebox" id="sharebox">
			<div class="share-content">
				<div class="share-items">
					<h3>分享到</h3>
					<ul>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-facebook.png">
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-line.png">
								<span>Line</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-messenger.png">
								<span>Messenger</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-message.png">
								<span>讯息</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-Mail.png">
								<span>邮件</span>
							</a>
						</li>
						<li>
							<a target="_blank" href="#">
								<img src="__IMG__/icon-copy.png">
								<span>复制链接</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="share-close" id="share-close">
					取消
				</div>
			</div>
		</div>
		<!-- 分享弹出层 -->

        <!-- 分类弹出层 -->
        {include file="public/menucat" /}
		<!-- <div class="menubox" id="menubox">
			<div class="menu-header">
				<div class="header-content">
					<a class="menu-close" id="close2"></a>
					<a class="menu-service"></a>
				</div>
			</div>
			<div class="nav-box">
				<ul class="levelA ">
					<li class="active"><a href="#">热门</a></li>
					<li><a href="#"><span>女装</span></a></li>
					<li><a href="#"><span>男装</span></a></li>
					<li><a href="#"><span>女鞋</span></a></li>
					<li><a href="#"><span>男鞋</span></a></li>
					<li><a href="#"><span>女包</span></a></li>
					<li><a href="#"><span>配饰</span></a></li>
					<li><a href="#"><span>美妆</span></a></li>
					<li><a href="#"><span>男包</span></a></li>
					<li><a href="#"><span>家居</span></a></li>
					<li><a href="#"><span>电子</span></a></li>
					<li><a href="#"><span>童装</span></a></li>
				</ul>
				<ul class="levelB on">
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort1.jpg">
							</div>
							<span>全部商品</span>
						</a>
					</li>
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort2.jpg">
							</div>
							<span>T恤/衬衫</span>
						</a>
					</li>
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort3.jpg">
							</div>
							<span>套装</span>
						</a>
					</li>
				</ul>
				<ul class="levelB">
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort1.jpg">
							</div>
							<span>全部商品</span>
						</a>
					</li>
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort2.jpg">
							</div>
							<span>T恤/衬衫</span>
						</a>
					</li>
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort3.jpg">
							</div>
							<span>套装</span>
						</a>
					</li>
					<li>
						<a href="##">
							<div class="level_img_box">
								<img src="__IMG__/sort4.jpg">
							</div>
							<span>针织衫/卫衣</span>
						</a>
					</li>
				</ul>
			</div>
		</div> -->
		<!-- 分类弹出层 -->

        </div>

		<script src="__PLUGIN__/jquery/jquery-3.2.1.min.js"></script>
		<script src="__PLUGIN__/swiper/dist/js/swiper.js"></script>
		<script src="__JS__/slide.js"></script>
		<script src="__JS__/base.js"></script>
		<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script>
			var modal2 = document.getElementById("menubox");
			var modal4 = document.getElementById("sharebox");
			var btn3 = document.getElementById("close2");
			var btn4 = document.getElementById("menu-btn");
			var btn7 = document.getElementById("share-btn");
			var btn8 = document.getElementById("share-close");
			btn3.onclick = function() {
				modal2.style.display = "none";
			}
			btn4.onclick = function() {
				modal2.style.display = "block";
			}
			btn7.onclick = function() {
				modal4.style.display = "block";
			}
			btn8.onclick = function() {
				modal4.style.display = "none";
			}

		</script>
		<script> 
			//分类选项卡切换
			$('.nav-box .levelA li').on('click', function() {
				var index = $(this).index();
				$(this).addClass('active').siblings().removeClass('active');
				$('.nav-box .levelB').eq(index).addClass('on').siblings('.levelB').removeClass('on')
			});
		</script>
		<script>
    //获取最近浏览过的商品
    $(document).ready(function(){
        var goodsids = BindHistory();
        var str ='';
        $.ajax({
            type:'post',
            url:'/visitgoods',
            data:{goodids:goodsids},
            success:function(data){
                if(data.code == 200){
                    console.log(data.data);
                    $.each(data.data,function(i,val){
                        str += "<a class='pro-item3' href='/goodsinfo?goodsid="+ val.id +"><div class='pro-img3'><img src='"+ val.img +"' alt=' /></div><div class='title'>"+ val.name +"</div><div class='subtitle'><span class='price1'>"+ val.sell_price +"</span><span class='price2'>$"+ val.market_price +"</span></div></a>";
                        $(".funs-items").html(str);
                    });
                }else{
                    $(".funs-items").html('<span style="color:red;font-size: 16px;text-align: center;">暫無瀏覽<br /></span><span style="color:red;font-size: 6px;">^_^！！！<br />快去找喜歡的商品吧！！！</span>');
                }
            },
            error:function(){
                alert('網絡异常，請稍後再試...');
            },
        });
    });
      function BindHistory() {
          var cookieName = "PrdIDCookie";  //cookie名称
          var nid;             //最新访问的商品ID
          var N = 20;
          var historyp = "";
          if ($.cookie(cookieName) != null) //cookie 不存在
          {
              //获取浏览过的商品ID
              historyp = $.cookie(cookieName);
          }
          if (historyp == null && historyp == "") {
              return;
          }
          else
          {
              var prdIDs = [];  //将商品ID以列表或数据的方式保存
              var pArray = historyp.split(',');
              for (var i = 0; i < pArray.length; i++) {
                  if (pArray[i] != "") {
                      //alert(pArray[i]);
                      prdIDs.push(pArray[i]);
                  }
              }
              return prdIDs;
              //--->请求商品详细详细...
          }
      }
</script>
	</body>
</html>
