<!DOCTYPE html>

<html>

	<head>

		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

		<meta name="renderer" content="webkit">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>壶中天</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc1/css/purple_clay_pot.css" />

		<link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css">

	</head>

	<body>

	  <div id="box">

		<header>

			<img src="__PUBLIC__/static/pc1/img/pot/pottery1_01.jpg">

		</header>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_02.jpg">

		</section>

		<main class="mt15">

			<div class="good-gift">

				全场好礼

			</div>

			<div class="more">

				更多美壶点我抢

			</div>

		</main>

		<article class="mt25">

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_04.jpg">

		</article>

		<main class="mt15">

			<div class="back_img">

				<div class="phone">

					<div class="cell">

						手机号：

					</div>

					<div class="cell-input">

						<input name="telphone1" placeholder="请输入您的手机号">

					</div>

					<div class="confirm">

						提交

					</div>

				</div>

			</div>

		</main>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_06.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_07.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_08.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_10.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_11.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_12.jpg">

		</section>

		<section>

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_13.jpg">

		</section>

		<main class="mt30 pr">

			<a href="javascript:;" id="mbtn"><img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/background_02.jpg"></a>



			<div class="white-click">

				<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/white_click.png">

			</div>

		</main>

		<section class="mt15">

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_15.jpg">

		</section>

		<section class="mt25">

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_17.jpg">

		</section>

		<section class="mt5">

			<img src="__PUBLIC__/static/pc1/img/pot/pseudo_graph.jpg"  class="lazy" data-original="__PUBLIC__/static/pc1/img/pot/pottery1_18.jpg">

		</section>



		<footer class="mt30 pr">

			<div id="fbtn">

				<div class="full-gift">

					获取更多满赠信息

				</div>

				<div class="details">

					咨询紫砂大师作品详情

				</div>

			</div>

			<div class="foot-xunjia">

				<div class="foot-xunjia-k">

					<p class="huanying"><b>欢迎咨询全手工紫砂壶</b><span>（10分钟内回复）</span></p>

					<p class="sraj">

						<input type="text" class="xjTel" placeholder="请输入您的手机号">

					</p>

					<div class="button-k"><button type="button">点击提交</button></div>

				</div>

			</div>

		</footer>

		<div class="footer-k"> </div> <!-- <div style="width: 100%;height: 2.08rem;"> </div> -->

	  </div>

	</body>

	<script src="__PUBLIC__/static/plugin/jquery/jquery-3.2.1.min.js"></script>

	<script src="__PUBLIC__/static/plugin/rem.js"></script>
	<script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
	<script src="https://cdn.staticfile.org/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
	<script>

		layui.use('layer',function () {

			var layer = layui.layer;

		})

		$(function() {
				$(".lazy").lazyload({
					threshold: 200, //设置临界点
					effect: "fadeIn", //使用特效
					failure_limit: 20, //当图片不连续时,通过 failurelimit 选项来控制加载行为.
					skip_invisible: false //加载隐藏图片
				});
			




			function telphone() {

				const telphone = $("input[name=telphone1]").val();

				var regCode = /^1\d{10}$/;

				if (regCode.test(telphone) == false) {

					layer.close(layer.index);

					layer.msg('请输入您的手机号,手机号码不正确',{icon:5,time:1000})

					return false;

				}else{
						var demand = [];

					
						var demand = JSON.stringify(demand);


					$.ajax({

						type:'post',

						url:'{:url("pc/Pot/add")}',

						data:{'telphone':telphone,'demand':demand},

						success:function (data) {

							console.log(data);

							layer.close(layer.index);

							if(data.code == 0){

								layer.msg('提交成功',{icon:6,time:2000})

							}else{

								layer.msg('提交失敗',{icon:5,time:2000})

							}

						},

						error:function () {

							layer.close(layer.index);

							layer.msg('提交失敗',{icon:5,time:2000});

						}

					})

				}

			}



			function xunjiaSubmit() {

				const telphone = $(".xjTel").val();

				var regCode = /^1\d{10}$/;

				if (regCode.test(telphone) == false) {

					layer.close(layer.index);

					layer.msg('请输入您的手机号,手机号码不正确',{icon:5,time:1000})

					return false;

				}else{
						var demand2 = [];

					
						var demand2 = JSON.stringify(demand2);


					$.ajax({

						type:'post',

						url:'{:url("pc/Pot/add")}',

						data:{'telphone':telphone,'demand':demand2},

						success:function (data) {

							console.log(data);

							layer.close(layer.index);

							if(data.code == 0){

								layer.msg('提交成功',{icon:6,time:2000})

							}else{

								layer.msg('提交失敗',{icon:5,time:2000})

							}

						},

						error:function () {

							layer.close(layer.index);

							layer.msg('提交失敗',{icon:5,time:2000});

						}

					})

				}

			}

			$('.confirm').click(function() {

				layer.load();

				telphone();

			})

			$('.button-k').click(function() {

				layer.load();

				xunjiaSubmit();

			})





			$('#mbtn').click(function() {

				$('.footer-k').show();



				$('.foot-xunjia').stop().animate({

					bottom: 0

				}, 300);

				$('#fbtn').stop().animate({

					bottom: '13.33rem'

				}, 300);

				$(".xjTel").val('');

			})

			$('.full-gift,.details').click(function() {

				$('.footer-k').show();



				$('.foot-xunjia').stop().animate({

					bottom: 0

				}, 300);

				$('#fbtn').stop().animate({

					bottom: '13.33rem'

				}, 300);

				$(".xjTel").val('');

			})

			$('.footer-k').click(function() {

				$('.footer-k').hide();

				$('#fbtn').stop().animate({

					bottom: 0

				}, 300);

				$('.foot-xunjia').stop().animate({

					bottom: '-13.33rem'

				}, 300);

				

			})









		})

	</script>

</html>

