<!-- Header -->

<div class="header-wrap  header-fixed">

    <div class="header">

        <div class="header__left">

            <div class="header__aside-switch"><i class="iconfont icon-menu"></i></div>

        </div>

        <div class="header__center">

            <div class="header__logo">

                <a href="">

                    <img src="__IMG__/logo.jpg" alt="">

                </a>

            </div>

        </div>

        <div class="header__right">

            <div class="search-btn"><i class="iconfont icon-search"></i></div>

            <a class="cart-btn" href="" rel="nofollow""><i class=" iconfont icon-bag"></i><span class="cart-point" style="display: inline;">1</span></a>

        </div>

    </div>

</div>



<!-- 侧边栏 -->

<div class="slide slide-send " style='display:none;'>

    <div class="slide__wrap">

        <div class="slide-close trans"><i class="iconfont icon-close"></i></div>

        <div style="padding:2rem;border-bottom: 1px solid #f2f2f2;"></div>

        <div class="slide__menu-item"><a href="javascript:;">NEW IN<span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/Sale/New-In-LandingPage">View All</a></li>

                    <li><a href="/Sale/New-In/2019-11-06">2019-11-06</a></li>

                    <li><a href="/Sale/New-In/2019-09-10">2019-09-10</a></li>

                    <li><a href="/Sale/New-In/2019-08-30">2019-08-30</a></li>

                    <li><a href="/Sale/New-In/2019-08-27">2019-08-27</a></li>

                    <li><a href="/Sale/New-In/2019-08-20">2019-08-20</a></li>

                    <li><a href="/Sale/New-In/2019-08-19">2019-08-19</a></li>

                    <li><a href="/Sale/New-In/2019-08-13">2019-08-13</a></li>

                </ul>

            </div>

        </div>

        <div class="slide__menu-item"><a href="javascript:;">Matching Outfits

            <!-- 悬浮标 --><span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/matching-outfits-251/" title="Dresses">View All</a></li>

                    <li><a href="/mommy-me-257/" title="Mommy &amp; Me">Mommy &amp; Me</a></li>

                    <li><a href="/brothers-sisters-258/" title="Sisters &amp; Brothers">Sisters &amp; Brothers</a></li>

                    <li><a href="/matching-swimwear-261/" title="Matching Swimwear">Matching Swimwear</a></li>

                    <li><a href="/family-outfits-260/" title="Family Outfits">Family Outfits</a></li>

                </ul>

            </div>

        </div>

        <div class="slide__menu-item"><a href="javascript:;">Infants&amp;Toddler

            <!-- 悬浮标 --><span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/toddler-254/" title="Dresses">View All</a></li>

                    <li><a href="/jackets-outerwear-281/" title="Jackets / Outerwear">Jackets / Outerwear</a></li>

                    <li><a href="/toddleronepiece-rompers-286/" title="One Piece / Rompers">One Piece / Rompers</a></li>

                    <li><a href="/toddler-tops-280/" title="Infants&amp;Toddler Tops">Infants&amp;Toddler Tops</a></li>

                    <li><a href="/toddler-swimwear-284/" title="Infants&amp;Toddler Swimwear">Infants&amp;Toddler Swimwear</a></li>

                    <li><a href="/toddler-dress-skirt-283/" title="Infants&amp;Toddler Dress / Skirt">Infants&amp;Toddler Dress /

                        Skirt</a></li>

                    <li><a href="/daily-dress-306/" title="Daily Dress">Daily Dress</a></li>

                    <li><a href="/princess-dress-304/" title="Princess Dress">Princess Dress</a></li>

                    <li><a href="/tutu-307/" title="Tutu">Tutu</a></li>

                    <li><a href="/toddler-sets-282/" title="Infants&amp;Toddler Sets">Infants&amp;Toddler Sets</a></li>

                    <li><a href="/toddler-bottoms-285/" title="Infants&amp;Toddler Bottoms">Infants&amp;Toddler Bottoms</a></li>

                </ul>

            </div>

        </div>

        <div class="slide__menu-item"><a href="javascript:;">Kids

            <!-- 悬浮标 --><span class="iconNum" style="color:#999;">

							(5-12yr)

						</span><span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/kids-255/" title="Dresses">View All</a></li>

                    <li><a href="/kids-tops-287/" title="Kids Tops">Kids Tops</a></li>

                    <li><a href="/kids-sets-289/" title="Kids Sets">Kids Sets</a></li>

                    <li><a href="/jackets-outerwear-288/" title="Jackets / Outerwear">Jackets / Outerwear</a></li>

                    <li><a href="/kids-bottoms-292/" title="Kids Bottoms">Kids Bottoms</a></li>

                    <li><a href="/kids-dress-skirt-290/" title="Kids Dress / Skirt">Kids Dress / Skirt</a></li>

                    <li><a href="/daily-dress-296/" title="Daily Dress">Daily Dress</a></li>

                    <li><a href="/princess-dress-294/" title="Princess Dress">Princess Dress</a></li>

                    <li><a href="/tutu-297/" title="Tutu">Tutu</a></li>

                    <li><a href="/kids-swimwear-291/" title="Kids Swimwear">Kids Swimwear</a></li>

                    <li><a href="/kids-one-piece-bodysuits-293/" title="Kids One Piece/Bodysuits">Kids One Piece/Bodysuits</a></li>

                </ul>

            </div>

        </div>

        <div class="slide__menu-item"><a href="javascript:;">Accessories

            <!-- 悬浮标 --><span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/accessories-256/" title="Dresses">View All</a></li>

                    <li><a href="/socks-298/" title="Socks">Socks</a></li>

                    <li><a href="/shoes-299/" title="Shoes">Shoes</a></li>

                    <li><a href="/hats-caps-300/" title="Hats/Caps">Hats/Caps</a></li>

                    <li><a href="/baby-photo-props-309/" title="Baby Photo Props">Baby Photo Props</a></li>

                    <li><a href="/hair-accessories-301/" title="Hair Accessories">Hair Accessories</a></li>

                    <li><a href="/bags-302/" title="Bags">Bags</a></li>

                </ul>

            </div>

        </div>



        <div class="slide__menu-item"><a href="javascript:;">Matching Swimwear

            <!-- 悬浮标 --><span class="iconfont icon-arrows_down"></span></a>

            <div class="slide__menu-children">

                <ul>

                    <li><a href="/matching-swimwear-261/" title="Dresses">View All</a></li>

                </ul>

            </div>

        </div>

    </div>

</div>



<div class="home-nav header-fixed">

    <div class="swiper-container">

        <div class="nav-bar swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">

            <a class="swiper-slide active" href="" style="width: auto;">热门<span></span></a>

            <a class="swiper-slide" href="">女裝<span></span></a>

            <a class="swiper-slide" href="">女鞋<span></span></a>

            <a class="swiper-slide" href="">包包<span></span></a>

            <a class="swiper-slide" href="">配飾 <span></span></a>

            <a class="swiper-slide" href="">童裝<span></span></a>

            <a class="swiper-slide" href="">美妝<span></span></a>

            <a class="swiper-slide" href="">家居<span></span></a>

            <a class="swiper-slide" href="">電子 <span></span></a>

            <a class="swiper-slide" href="">寵物<span></span></a>

        </div>

    </div>

</div>



