<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="開心樂購">
  
  <meta name="author" content="">

  <title>開心樂購</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" src="__PUBLIC__/static/pc/images/favicon.png" />
  
  <!-- Themefisher Icon font -->
  <link rel="stylesheet" href="__PUBLIC__/static/pc/plugins/themefisher-font/style.css">
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="__PUBLIC__/static/pc/plugins/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick-theme.css"/>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_721843_4racy1y7fm.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="__PUBLIC__/static/pc/css/style.css">

	<link rel="stylesheet" type="text/css" href="__PLUGIN__/swiper/dist/css/swiper.css">
	<link rel="stylesheet" href="__CSS__/base.css">
	<link rel="stylesheet" href="__CSS__/leo.css">
	<script src="__JS__/rem.js"></script>
	<script src="__PLUGIN__/jquery/jquery-3.2.1.min.js"></script>

</head>

<body id="body">

<!-- Start Top Header Bar -->
<!--<section class="top-header">-->
<!--	<div class="container-fluid">-->
<!--		<div class="row">-->
<!--			<div class="nav-bar" style="flex-direction: column;padding:0rem;line-height:2.5rem;position:relative;max-width: 9999px; ">-->
<!--				<div style="display: flex;height:1rem;width:100%;">-->
<!--					<div class="left-nav" style="left:50%;height:1rem;position:absolute;">-->
<!--&lt;!&ndash;						<a class="menu" id="menu-btn"></a>&ndash;&gt;-->
<!--						<a class="logo"></a>-->
<!--					</div>-->
<!--&lt;!&ndash;					<div class="right-nav" style="right:0rem;height:1rem;position:absolute;width:1.56rem !important;">&ndash;&gt;-->
<!--&lt;!&ndash;						<a class="service"></a>&ndash;&gt;-->
<!--&lt;!&ndash;						<a class="foot" id="foot-btn"></a>&ndash;&gt;-->
<!--&lt;!&ndash;					</div>&ndash;&gt;-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</section>&lt;!&ndash; End Top Header Bar &ndash;&gt;-->

{include file="public/header" /}


<!-- Main Menu Section -->
<!--<section class="menu">-->
<!--	<nav class="navbar navigation">-->
<!--	    <div class="container-fluid">-->
<!--	      <div class="navbar-header">-->
<!--	      	<h2 class="menu-title">Main Menu</h2>-->
<!--	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--	          <span class="sr-only">Toggle navigation</span>-->
<!--	          <span class="icon-bar"></span>-->
<!--	          <span class="icon-bar"></span>-->
<!--	          <span class="icon-bar"></span>-->
<!--	        </button>-->

<!--	      </div>&lt;!&ndash; / .navbar-header &ndash;&gt;-->

<!--	      &lt;!&ndash; Navbar Links &ndash;&gt;-->
<!--	      <div id="navbar" class="navbar-collapse collapse text-center">-->


<!--				<div class="bottom-bar" style="left:0;margin-left:0;position:relative;width:100%;max-width:9999px;">-->
<!--					<a class="home on" href="/">首页</a>-->
<!--					<a class="sort" href="/class">分类</a>-->
<!--&lt;!&ndash;					<a class="purch" href="/sure">购物车</a>&ndash;&gt;-->
<!--&lt;!&ndash;					<a class="mine" href="/myself">我的</a>&ndash;&gt;-->
<!--				</div>-->





<!--	      	</div>&lt;!&ndash;/.navbar-collapse &ndash;&gt;-->
<!--	    </div>&lt;!&ndash; / .container &ndash;&gt;-->
<!--	</nav>-->
<!--</section>-->

<ul id="right_fixed" class="list-unstyled" style="position: fixed;right:0rem;top:30%;z-index:999;">
	<li><a class="purch on" href="/sure" style="
    display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/purch.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;
    ">购物</a></li>
	<li><a class="mine on" href="/myself" style="
	display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/mine.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;">我的</a></li>
	<li><a class="service on" href="https://www.facebook.com/messages/t/116332536481393" style="display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/service.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;">客服</a></li>
</ul>

<div class="home-slider">

 	<div>
		<a href="#products">
  		<div class="slider-item dark-bg" style="background-image:url(__PUBLIC__/static/pc/images/banner1.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slide-inner text-left">
<!--							<h1>Minimal  Summer Collection</h1>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aut illum ratione? <br> Aliquam facilis dolorem dolor illum saepe commodi ratione.</p>-->
<!--							<a href="" class="btn btn-main">Buy Now</a>-->
						</div>
					</div>
				</div>

			</div>
		</div>
		</a>
  	</div>
	<div>
		<a href="#products">
  		<div class="slider-item dark-bg" style="background-image:url(__PUBLIC__/static/pc/images/banner2.jpg)">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="slide-inner text-left">
<!--							<h1>Minimal  Summer Collection</h1>-->
<!--							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aut illum ratione? <br> Aliquam facilis dolorem dolor illum saepe commodi ratione.</p>-->
<!--							<a href="" class="btn btn-main">Buy Now</a>-->
						</div>
					</div>
				</div>

			</div>
		</div>
		</a>
  	</div>


</div>
<!--<div class="character">-->
<!--	<div class="item"><img src="__IMG__/check.png" alt="" />满$899免运费</div>-->
<!--	<div class="item"><img src="__IMG__/check.png" alt="" />货到付款</div>-->
<!--	<div class="item"><img src="__IMG__/check.png" alt="" />7天无忧退换货</div>-->
<!--</div>-->

<section class="product-category section">
	<div class="container">
		<div class="row">
<!--			<div class="col-md-12">-->
<!--				<div class="title text-center">-->
<!--					<h2>商品分类</h2>-->
<!--				</div>-->
<!--			</div>-->
			{volist name="catlist" id="vo"}
			<div class="col-md-6">
				<div class="category-box">

						<img src="__PUBLIC__/static/pc/images/shop/category/category-{$key+1}.jpg" alt="" />
						<div class="content">
							<h3>{$vo.cat_name}</h3>
							<ul>
								{volist name="$vo.cat_two" id="v"}

								<li style="margin-top:30px;"><a href="pc_categorylist?cat_id={$v.cat_id}&cat_name={$v.cat_name}" style="position: relative;">{$v.cat_name}</a></li>

								{/volist}
							</ul>

						</div>

				</div>

			</div>
			{/volist}
		</div>
	</div>
</section>

<section class="products section bg-gray" id="products">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>热销商品</h2>
			</div>
		</div>
		<div class="row">
			{volist name="hotgoods" id="vo"}

			<div class="col-md-4">
				<div class="product-item">

					<div class="product-thumb">
						<span class="bage">Sale</span>
						<a href="/pc_goodsinfo?goodsid={$vo.id}" style="display:inline-block;">
						<img class="img-responsive" src="{$vo.img}" alt="product-img" style="height:450px !important;"/>
						</a>
						<div class="preview-meta">
							<ul>
								<li>
									<span  data-toggle="modal" data-target="#product-modal{$vo.id}">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
								</li>
								<li>
			                        <a href="javascript:void(0);" ><i class="tf-ion-ios-heart"></i></a>
								</li>
<!--								<li>-->
<!--									<a href=""><i class="tf-ion-android-cart"></i></a>-->
<!--								</li>-->
							</ul>
                      	</div>

					</div>

					<div class="product-content">
						<h4 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><a href="/pc_goodsinfo?goodsid={$vo.id}">{$vo.name}</a></h4>
						<p class="price">${$vo.sell_price}</p>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal product-modal fade" id="product-modal{$vo.id}">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="tf-ion-close"></i>
				</button>
				<div class="modal-dialog " role="document">
					<div class="modal-content">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8 col-sm-6 col-xs-12">
									<div class="modal-image">
										<img class="img-responsive" src="{$vo.img}" alt="product-img" />
									</div>
								</div>
								<div class="col-md-4 col-sm-6 col-xs-12">
									<div class="product-short-details">
										<h2 class="product-title">{$vo.keywords}</h2>
										<p class="product-price">${$vo.sell_price}</p>
										<p class="product-short-description">
											{$vo.content}
										</p>
										<a href="/pc_goodsinfo?goodsid={$vo.id}" class="btn btn-main">查看商品详情</a>
<!--										<a href="/pc_goodsinfo?goodsid={$vo.id}" class="btn btn-transparent">查看商品详情</a>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /.modal -->

			{/volist}
		


		</div>
	</div>
</section>








{include file="public/footer" /}

<!--<a class="btn btn&#45;&#45;success btn&#45;&#45;floating box-shadow-wide" target="_blank" href="#products/aviato-e-commerce-template/">-->
<!--    <span class="btn__text">-->
<!--        Purchase Full Template Pack-->
<!--    </span>-->
<!--</a>-->


    <!-- 
    Essential Scripts
    =====================================-->
    

    <!-- Main jQuery -->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="__PUBLIC__/static/pc/plugins/bootstrap/js/bootstrap.min.js"></script>
  
    <!-- Slick Carousel -->
    <script src="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick.min.js"></script>
   

    <!-- Main Js File -->
    <script src="__PUBLIC__/static/pc/js/script.js"></script>

	<script>

		$('#right_fixed li a').hover(function(){
			$(this).css({'backgroundColor':'skyblue'})
		})
		$('#right_fixed li a').mouseleave(function(){
			$(this).css({'backgroundColor':'rgb(241,252,255)'})
		})
		$('.tf-ion-ios-heart').click(function(){
			$(this).toggleClass('change_color');
		})

	</script>

<script>
	$(window).scroll(function () {
		var h = $('.nav_fixed').offset().top - $(window).scrollTop();
		if(h <= 0){
			$('.nav_fixed').addClass('navbar-fixed-top');
			$('.home-slider').css({'marginTop':$('.nav_fixed').height()+'px'})
		}
		if($(window).scrollTop()<$('.top').height()){
			$('.nav_fixed').removeClass('navbar-fixed-top');
			$('.home-slider').css({'marginTop':0})
		}
	})

</script>
  </body>
  </html>
