<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="開心樂購">

    <meta name="author" content="">

    <title>開心樂購</title>

    <!-- Mobile Specific Meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" src="__PUBLIC__/static/pc/images/favicon.png" />

    <!-- Themefisher Icon font -->
    <link rel="stylesheet" href="__PUBLIC__/static/pc/plugins/themefisher-font/style.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="__PUBLIC__/static/pc/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_721843_4racy1y7fm.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick-theme.css"/>

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="__PUBLIC__/static/pc/css/style.css">

    <link rel="stylesheet" type="text/css" href="__PLUGIN__/swiper/dist/css/swiper.css">
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/leo.css">
    <script src="__JS__/rem.js"></script>
    <script src="__PLUGIN__/jquery/jquery-3.2.1.min.js"></script>

</head>

<body id="body">
<div class="container top" style="border-bottom: 1px solid #ccc;">
    <div class="row">
        <div class="col-md-6">
            <div class="left-nav" style="height:1rem;padding-right:1rem;">
                <!--						<a class="menu" id="menu-btn"></a>-->
                <a class="logo" href="/pc_index"></a>
            </div>
        </div>
        <div class="col-md-6">
            <div style="">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default nav_fixed" role="navigation">
    <!--	navbar-fixed-top-->

    <div>
        <ul class="nav navbar-nav" style="padding-left:50%;position:relative;left:-100px;">
            <li class="active"><a href="/pc_index">热门</a></li>


            {volist name="catlist" id="vo"}
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    {$vo.cat_name} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {volist name="$vo.cat_two" id="v"}
                    <li><a href="pc_categorylist?cat_id={$v.cat_id}&cat_name={$v.cat_name}">{$v.cat_name}</a></li>
                    <li class="divider"></li>
                    {/volist}
                </ul>
            </li>
            {/volist}

        </ul>
    </div>

</nav>

<ul id="right_fixed" class="list-unstyled" style="position: fixed;right:0rem;top:30%;z-index:999;">
    <li><a class="purch on" href="/sure" style="
    display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/purch.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;
    ">购物</a></li>
    <li><a class="mine on" href="/myself" style="
	display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/mine.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;">我的</a></li>
    <li><a class="service on" href="https://www.facebook.com/messages/t/116332536481393" style="display: inline-block;
    text-align: center;
    padding-top: 0.66666666rem;
    padding-bottom: 0.13333333rem;
    font-size: 0.29333333rem;
    line-height: 0.53333333rem;
    color: #333333;
    background: rgb(241,252,255) url(__IMG__/service.png) center top 0.13333333rem no-repeat;
    background-size: 0.53333333rem 0.53333333rem;padding-left:0.3rem;padding-right:0.3rem;">客服</a></li>
</ul>




<section class="products section bg-gray">
    <div class="container">

        <div class="row">
            {volist name="goods" id="vo"}

            <div class="col-md-4">
                <div class="product-item">

                    <div class="product-thumb">
                        <span class="bage">Sale</span>
                        <a href="/pc_goodsinfo?goodsid={$vo.id}" style="display:inline-block;">
                        <img class="img-responsive" src="{$vo.img}" alt="product-img" style="height:450px !important;"/>
                        </a>
                        <div class="preview-meta">
                            <ul>
                                <li>
									<span  data-toggle="modal" data-target="#product-modal{$vo.id}">
										<i class="tf-ion-ios-search-strong"></i>
									</span>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" ><i class="tf-ion-ios-heart"></i></a>
                                </li>
                                <!--								<li>-->
                                <!--									<a href=""><i class="tf-ion-android-cart"></i></a>-->
                                <!--								</li>-->
                            </ul>
                        </div>

                    </div>

                    <div class="product-content">
                        <h4 style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"><a href="/pc_goodsinfo?goodsid={$vo.id}">{$vo.name}</a></h4>
                        <p class="price">${$vo.sell_price}</p>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal product-modal fade" id="product-modal{$vo.id}">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tf-ion-close"></i>
                </button>
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <div class="modal-image">
                                        <img class="img-responsive" src="{$vo.img}" alt="product-img" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-short-details">
                                        <h2 class="product-title">{$vo.keywords}</h2>
                                        <p class="product-price">${$vo.sell_price}</p>
                                        <p class="product-short-description">
                                            {$vo.content}
                                        </p>
                                        <a href="/pc_goodsinfo?goodsid={$vo.id}" class="btn btn-main">查看商品详情</a>
                                        <!--										<a href="/pc_goodsinfo?goodsid={$vo.id}" class="btn btn-transparent">查看商品详情</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->

            {/volist}



        </div>
    </div>
</section>







<section id="footer" style="background-color: rgb(18, 18, 18);color:#fff;text-align: center;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <dl>
                    <dt style="padding:30px;">顾客服务</dt>

                    <dd style="padding:6px;"><a href="javascript:void(0);" style="color:#fff;">联系我们</a></dd>
                    <dd style="padding:6px;"><a href="javascript:void(0);" style="color:#fff;">退货</a></dd>
                    <dd style="padding:6px;"><a href="javascript:void(0);" style="color:#fff;">网站导航</a></dd>

                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt style="padding:30px;">产品</dt>
                    {volist name="catlist" id="vo"}
                    <dd style="padding:6px;">{$vo.cat_name}</dd>
                    {/volist}
                </dl>
            </div>

            <div class="col-sm-3">
                <dl>
                    <dt style="padding:30px;">信息</dt>
                    <dd style="padding:6px;"><a href="javascript:void(0);" style="color:#fff;">关于我们</a></dd>

                </dl>
            </div>
            <div class="col-sm-3">
                <dl>
                    <dt style="padding:30px;">联系我们</dt>
                    <dd style="padding:6px;">
                        <a href="" class="iconfont icon-Facebook" style="font-size:20px;"></a>
                        <a href="" class="iconfont icon-pinterest" style="font-size:20px;"></a>
                        <a href="" class="iconfont icon-google" style="font-size:20px;"></a>
                        <a href="" class="iconfont icon-Twitter" style="font-size:20px;"></a>
                        <a href="" class="iconfont icon-linkedin" style="font-size:20px;"></a>
                    </dd>
                    <dd style="padding:6px;">
                        <form class="navbar-form navbar-right" role="search" style="margin-right:70px;">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="您的邮箱地址">
                            </div>
                            <button type="submit" class="btn btn-sm">提交</button>
                        </form>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row" style="margin:20px;">
            <div class="col-xs-6" style="text-align:left;font-size:16px;color:#4c4c4c;">Xorder model by xorder @2018-2020</div>
            <div class="col-xs-6" style="text-align:right;"><img src="https://demob2c027_qq_com.xweb.net.cn/image/179/xorder/pay.png" alt=""></div>
        </div>
    </div>
</section>

<!--<a class="btn btn&#45;&#45;success btn&#45;&#45;floating box-shadow-wide" target="_blank" href="#products/aviato-e-commerce-template/">-->
<!--    <span class="btn__text">-->
<!--        Purchase Full Template Pack-->
<!--    </span>-->
<!--</a>-->


<!--
Essential Scripts
=====================================-->


<!-- Main jQuery -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="__PUBLIC__/static/pc/plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- Slick Carousel -->
<script src="__PUBLIC__/static/pc/plugins/slick-carousel/slick/slick.min.js"></script>


<!-- Main Js File -->
<script src="__PUBLIC__/static/pc/js/script.js"></script>

<script>

    $('#right_fixed li a').hover(function(){
        $(this).css({'backgroundColor':'skyblue'})
    })
    $('#right_fixed li a').mouseleave(function(){
        $(this).css({'backgroundColor':'rgb(241,252,255)'})
    })
    $('.tf-ion-ios-heart').click(function(){
        $(this).toggleClass('change_color');
    })
</script>
<script>
    $(window).scroll(function () {
        var h = $('.nav_fixed').offset().top - $(window).scrollTop();
        if(h <= 0){
            $('.nav_fixed').addClass('navbar-fixed-top');
        }
        if($(window).scrollTop()<$('.top').height()){
            $('.nav_fixed').removeClass('navbar-fixed-top');
        }
    })

</script>
</body>
</html>
