<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
<!--		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
		<link rel="stylesheet" href="__PUBLIC__/static/mobile1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/Swiper/4.5.1/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/mobile1/css/prudocts_mobile.css" />
		<script type="text/javascript">
			var sUserAgent = navigator.userAgent;
			if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(sUserAgent)){

				var href = window.location.protocol+'//'+window.location.host+'/pc_goodsinfo'+window.location.search;

				window.location.href=href;
			}
		</script>
	</head>
	<body>
		{include file="public/header" /}


		<section style="margin-top: 10rem;">
			<div class="swiper-container swiper3">
				<div class="swiper-wrapper" onload="HistoryRecord()" style="transition-duration: 0ms; transform: translate3d(-1035px, 0px, 0px);">
					<div class="swiper-slide" style="width: 345px;">
						<img src="http://shop.tthuipin.com/uploads/20191209/f23765e86efe99396295cdf45a55c44e.jpg" alt=" 【每日上新】ins新款雙面格子千鳥格潮韓國絲巾 ">

					</div>
					<div class="swiper-slide" style="width: 345px;">
						<img src="http://shop.tthuipin.com/uploads/20191209/5879e5e512adc0b94fc99035b89006bc.jpg" alt=" 【每日上新】ins新款雙面格子千鳥格潮韓國絲巾 ">

					</div>
					<div class="swiper-slide swiper-slide-prev" style="width: 345px;">
						<img src="http://shop.tthuipin.com/uploads/20191209/cb26d0c07a351b81a591bd071caa4b6c.jpg" alt=" 【每日上新】ins新款雙面格子千鳥格潮韓國絲巾 ">

					</div>
					<div class="swiper-slide swiper-slide-active" style="width: 345px;">
						<img src="http://shop.tthuipin.com/uploads/20191209/b4f9404d034e1e96cfe9b46d06b04497.jpg" alt=" 【每日上新】ins新款雙面格子千鳥格潮韓國絲巾 ">

					</div>
				</div>
				<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet"
					 tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0"
					 role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button"
					 aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0"
					 role="button" aria-label="Go to slide 4"></span></div>
				<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
			</div>

			<form action="" id="details-form">
				<div class="content-box mt10">
					<!-- 产品标题价格 -->
					<div class="title fix">
						<p>Bowknot Back Floor Length Princess Dress</p>
					</div>
					<p class="goods-sku">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">SKU：MY18101003</font>
						</font>
					</p>
					<!-- 价格 -->
					<div class="detail-price fix">
						<p><span data-name="priceModel" data-initval="33.71" data-price="33.71" class="lang-price">US$33.71</span><span
							 style="" data-initval="37.45" data-price="37.45" class="detail-price-old lang-price">US$37.45</span><a class="list-add-wish mr10"
							 data-action="add-wishlist" data-sku="DR18110506" href="javascript:;"><i class="iconfont icon-like"></i></a><span
							 class="iconfont icon-share"></span></p>
					</div>
					<div class="goods-meal mt5">
						<h4 class="goods-meal__title">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">套餐选择：</font>
							</font>
						</h4>
						<div class="goods-meal__list mt15 fix" target="meal">
							<input type="radio" name="" id="radio1" class="hidden" checked="checked"><label for="radio1" class="active"
							 data-key="0">套餐1</label>
							<input type="radio" name="" id="radio2" class="hidden"><label for="radio2" data-key="1">套餐2</label>
							<input type="radio" name="" id="radio3" class="hidden"><label for="radio3" data-key="2">套餐3</label>
						</div>
					</div>
					<div class="taocan">
						<div class="goods-color mt5">
							<h4 class="goods-color__title">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">颜色：</font>
								</font><span data-value="color">
									<font style="vertical-align: inherit;">
										<font class="color" style="vertical-align: inherit;">黑色</font>
									</font>
								</span>
							</h4>
							<div class="goods-color__list mt15 fix" target="color">
								<input type="radio" name="" id="radio1" class="hidden" checked="checked"><label for="radio1" class="active"
								 data-key="0" data-src="//pr.aopcdn.com/goods/MY19080213/3508127_14fe20aa37.jpg@!h320-w320">黑色</label>
								<input type="radio" name="" id="radio2" class="hidden"><label for="radio2" data-key="1" data-src="//pr.aopcdn.com/goods/MY18102902/3269457_e49beed12a.jpg@!h180-w180">白色</label>
								<input type="radio" name="" id="radio3" class="hidden"><label for="radio3" data-key="2" data-src="//pr.aopcdn.com/goods/MY18102902/3269457_898f9c3575.jpg@!h180-w180">红色</label>
							</div>
						</div>
						<div class="goods-size mt5">
							<h4 class="goods-size__title">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">尺寸：</font>
								</font><a class="goods-size__link-sizechart" href="javascript:;">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;" class="size">尺码表</font>
									</font>
								</a>
							</h4>
							<div class="goods-size__list mt15 fix" target="size">
								<input type="radio" name="" id="radio1" class="hidden" checked="checked"><label for="radio1" class="active"
								 data-key="0">35</label>
								<input type="radio" name="" id="radio2" class="hidden"><label for="radio2" data-key="1">36</label>
								<input type="radio" name="" id="radio3" class="hidden"><label for="radio3" data-key="2">37</label>
							</div>
							<font style="vertical-align: inherit;"> </font>
						</div>
					</div>
					<div class="goods-btns pr mt10">
						<input id="UPTRE_AddCart" type="button" class="btn-addBag submitbtn trans" value="添加至购物袋" onclick="">
					</div>
				</div>
				<div class="content-box">
					<ul class="menu-list">
						<li data-name="menuList"><a href="javascript:;">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">產品詳細資訊</font>
								</font><i class="iconfont icon-arrow-down"></i>
							</a>
							<div class="menu-content">
								<table width="100%">
									<tbody>
										<tr>
											<td>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">季节：&nbsp;</font>
												</font>
											</td>
											<td>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">秋天，春天，冬天</font>
												</font>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</li>

						<li data-name="menuList">
							<a href="javascript:;">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">運輸和退貨詳細信息 </font>
								</font><i class="iconfont icon-arrow-down"></i>
							</a>
							<div class="menu-content">
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">全球交付</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">超級儲蓄：5-12個工作日；</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">快遞：2-8個工作日；</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">付款後通常需要5-7個工作日才能準備運輸。</font>
									</font>
								</p><br>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">自交貨日期起30天內退貨或換貨…被接受。</font>
										<font style="vertical-align: inherit;">要求：</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">1.從交貨日期起30天內收到的物品</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">2.收到的物品未使用，未損壞且為原始包裝</font>
									</font>
								</p>
								<p>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">3.退貨運費由客戶承擔</font>
									</font>
								</p>
							</div>
						</li>
						<li data-name="menuList"><a href="javascript:;">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">商品詳情</font>
								</font><i class="iconfont icon-arrow-down"></i>
							</a>
							<div class="menu-content">
								<div class="dialog-content__inner">
									<div class="dialog-body">
										<p><img src="http://shop.tthuipin.com/uploads/20191204/ae5b8de1c3fe7cb458950b27b01b5e66.jpg"></p>
									</div>
									<div class="photobox">
										<div class="dialog-header">
											<h3>
												客戶須知
											</h3>
										</div>
										<div class="notify">
											<p>註：應台灣海關要求，顧客須填寫真實姓名，以便部分海外商品順利過關。</p>
											<p>本產品的實際使用效果根據個人情況決定，不保證每位用戶都能享受到所宣傳的效果。若有疑問請諮詢在線客服或通過電子郵箱聯絡我們，本公司享有最終解釋權。</p>

											<dl>
												<dt>•關於發貨方式</dt>
												<dd>支援貨到付款+免運費+質量問題無理由退換貨！收到商品後如有任何疑問請聯繫我們：vip8service@gmail.com.同時，請附上您的姓名和聯繫方式及訂單編號在郵件當中，以便我們能快速的給您及時處理，祝您購物愉快！！！</dd>
											</dl>

											<dl>
												<dt>•關於配送時間</dt>
												<dd>下單成功後，我們會按照下單先後順序進行配貨，配貨週期為3個工作日，一般送達時間為7個工作日左右</dd>
											</dl>

										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div class="content-box"></div><input type="hidden" name="__hash__" value="dedaaf997908a0d6b0cd524e2ad5329e_3189c9dc53ed7c0a934acbed3da0e055">
			</form>
		</section>

		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/Swiper/4.5.1/js/swiper.min.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/remstyle.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/common.js"></script>
		<script src="__PUBLIC__/static/mobile1/js/prudocts_mobile.js"></script>
	</body>
</html>
