{include file="./public/head" /}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">

                <form class="layui-form" id="LAY-component-form-setval" lay-filter="example">
                    <div class="layui-form-item">

                        <label for="taocan" class="layui-form-label">
                            <span class="x-red">*</span>套餐名称
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="taocan" name="taocan" value="{$info.taocan}" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>套餐名称
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">关联套餐</label>
                        <div class="layui-input-block">
                            {if $jointc == ''}暂无套餐选择{else /}
                            {volist name="jointc" id="vo"}
                                <input type="checkbox" name="joinid[]" value="{$vo.id}" {if $vo.id == $info.id} disabled {/if}title="{$vo.taocan}" {in name="$vo.id" value="$ejointc"}checked{/in}>
                            {/volist}
                            {/if}
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请选择
                        </div>
                    </div>
                    <div class="layui-form-item">

                        <label for="taocan" class="layui-form-label">
                            <span class="x-red">*</span>排序
                        </label>
                        <div class="layui-input-inline">
                            <input type="text" id="order" name="order" value="{$info.order}" required="" lay-verify="required"
                                   autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>排序
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label">
                        </label>
                        <input type="hidden" name="tid" value="{$info.id}">
                        <button  class="layui-btn" lay-filter="add" lay-submit="">
                            提交
                        </button>
                    </div>
              </form>
            </div>
        </div>
        <script>layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //监听提交
                form.on('submit(add)',
                    function(data) {
                        // console.log(data.field);return ;
                        //发异步，把数据提交给php
                        $.ajax({
                            url:'/vgoodsieditt',
                            type:'post',
                            data:data.field,
                            success:function(data) {
                                // console.log(data);return;
                                if(data.code =="200" ){
                                    // console.log(data.data);return ;
                                    // view("添加成功！");
                                    layer.alert("修改成功", {
                                            icon: 6
                                        },
                                        function() {
                                            //关闭当前frame
                                            xadmin.close();

                                            // 可以对父窗口进行刷新
                                            xadmin.father_reload();
                                        });
                                    // window.location.reload();
                                }else{
                                    alert(data.message);
                                    // view(data.msg);
                                }
                            },
                            error : function() {
                                // view("异常！");
                                alert("异常！");
                            }
                        });
                        return false;
                    });

            });
        </script>
        <script>
            layui.use('upload', function(){
                var $ = layui.jquery
                    ,upload = layui.upload;

                //普通图片上传
                var uploadInst = upload.render({
                    elem: '#test1'
                    ,url: '/vupload'
                    ,before: function(obj){
                        //预读本地文件示例，不支持ie8
                        obj.preview(function(index, file, result){
                            $('#demo1').attr('src', result); //图片链接（base64）
                        });
                    }
                    ,done: function(res){
                        if(res.code == 200){
                            $('#headimg').val(res.data);
                        }
                        // console.log(res.data);
                        // return ;
                        //如果上传失败
                        if(res.code == 100){
                            return layer.msg('上传失败');
                        }
                        //上传成功

                    }
                    ,error: function(){
                        //演示失败状态，并实现重传
                        var demoText = $('#demoText');
                        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                        demoText.find('.demo-reload').on('click', function(){
                            uploadInst.upload();
                        });
                    }
                });
            });
        </script>
    </body>

</html>
