<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>開心樂購</title>
		<!--		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">-->
		<link rel="stylesheet" href="__PUBLIC__/static/pc1/css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc1/css/common.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/pc1/css/information.css" />
	</head>
	<body>
		<!-- 公用頭部 -->

		{include file="public/header" /}

		<div class="wrap-box ucenter-page">
			<div class="container fix">
				<div class="hc-left l">
					<div class="hc-title">
						<p class="hc-title-text">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">信息</font>
							</font>
						</p>
					</div>
					<div class="hc-left-bar">
						<ul>
							<li class="active"><a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">關於我們</font>
									</font>
								</a></li>
							<li class="">
								<a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">服務條款</font>
									</font>
								</a>
							</li>
							<li class="">
								<a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">隱私協議</font>
									</font>
								</a>
							</li>
							<li class=""><a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">購物須知</font>
									</font>
								</a></li>
							<li class="">
								<a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">聯繫我們</font>
									</font>
								</a>
							</li>

							<li class=""><a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">支付方式</font>
									</font>
								</a>
							</li>
							<li class=""><a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">配送</font>
									</font>
								</a>
							</li>
							<li class="">
								<a href="" rel="nofollow">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">退換貨政策</font>
									</font>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="hc-right">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">關於我們</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<p>
								<font style="vertical-align: inherit;">
									【<span class="switch_title">開心樂購</span>】是一個女性線上時裝精品店，主賣女性時裝、包包、鞋子、創意禮物、化妝品、學步兒童，兒童服裝和配件。我們致力於為客戶提供原創、優質、獨家的產品。對於Flash銷售部分，客戶應在銷售結束前完成付款。在開心購物，我們
									相信做出明智的選擇和簡單的選擇是一樣的。
								</font>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										聯繫郵箱：</font>
								</font><span style="color:#191F25;font-family:-apple-system, system-ui;
								 font-size:14px;background-color:#ffffff;"="">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">fzq396673948@yahoo.com</font>
									</font>
								</span>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										電話：</font>
								</font><span style="color:#191F25;font-family:-apple-system, system-ui;
								 font-size:14px;background-color:#ffffff;"="">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">082370808181</font>
									</font>
								</span>
							</p>
							<p>
								<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 2.2%; font-size:14px;background-color:#ffffff;"="">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; 021-29508826</font>
									</font>
								</span>
							</p>
							<p>
								<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 2.2%; font-size:14px;background-color:#ffffff;">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp;&nbsp;021-29508827</font>
									</font>
								</span>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										公司名稱：</font>
								</font><span style="color:#191F25;font-family:-apple-system, system-ui;
								 font-size:14px;background-color:#ffffff;"="">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;"> <span class="switch_address">航皓電子商務有限公司</span></font>
									</font>
								</span>
							</p>
							<p class="hide">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										倉庫地址：</font>
								</font><span style="color:#191F25;font-family:-apple-system, system-ui;
								 font-size:14px;background-color:#ffffff;"="">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;"> 香港千禧大廣場皇后大道2608L</font>
									</font>
								</span>
							</p>

						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">服务条款</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<p>我們提供此網站，包括用戶及用戶可以使用的所有信息，工具和服務，條件是您接受此處所述的所有條款，條件，政策和通知。</p>
							<p>通過訪問我們的網站或從我們這裡購買東西，您可以參與我們的“服務”並同意遵守以下條款和條件（“服務條款”，“條款”），包括那些附加條款和條件和政策在此引用和/或通過超鏈接提供。這些服務條款適用於本網站的所有用戶，包括但不限於瀏覽器，供應商，客戶，商家和/或內容貢獻者。<br></p>
							<p>在訪問或使用我們的網站之前，請仔細閱讀這些服務條款。訪問或使用本網站的任何部分，即表示您同意遵守這些服務條款。如果您不同意本協議的所有條款和條件，則您不得訪問該網站或使用任何服務。如果這些服務條款被視為要約，則接受明確限於這些服務條款。<br></p>
							<p>添加到當前商店的任何新功能或工具也應遵守服務條款。您可以隨時在此頁面上查看最新版本的服務條款。我們保留通過發布更新和/或更改我們網站來更新，更改或替換這些服務條款的任何部分的權利。您有責任定期查看此頁面以了解更改。您在發布任何更改後繼續使用或訪問本網站即表示接受這些更改。<br></p>
							<h4>第1節 - 在線商店條款<br></h4>
							<p>同意這些服務條款，即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許您的任何未成年家屬使用本網站。<br></p>
							<p>您不得將我們的產品用於任何非法或未經授權的目的，也不得在使用本服務時違反您所在司法轄區的任何法律（包括但不限於版權法）。<br></p>
							<p>您不得傳播任何蠕蟲或病毒或任何具有破壞性的代碼。<br></p>
							<p>違反或違反任何條款將導致您的服務立即終止。<br></p>
							<h4>第2節 - 一般條件<br></h4>
							<p>我們保留隨時以任何理由拒絕向任何人提供服務的權利。<br></p>
							<p>您了解您的內容（不包括信用卡信息）可能未經加密轉移，並涉及（a）中通過各種網絡傳輸; （B）改變以符合並適應連接網絡或設備的技術要求。在通過網絡傳輸期間，信用卡信息始終是加密的。<br></p>
							<p>您同意，未經我們明確書面許可，不得複製，抄襲，出售，轉售或利用本服務的任何部分，使用本服務，或訪問本服務或提供服務的網站上的任何聯繫人。<br></p>
							<h4>第3節 - 信息的準確性，完整性和及時性<br></h4>
							<p>如果本網站提供的信息不準確，完整或最新，我們概不負責。本網站上的資料僅供一般參考，不應依賴或作為決策的唯一依據，無需諮詢主要，更準確，更完整或更及時的信息來源。任何依賴本網站資料的風險由您自行承擔。<br></p>
							<p>本網站可能包含某些歷史信息。歷史信息必然不是最新信息，僅供參考。我們保留隨時修改本網站內容的權利，但我們沒有義務更新我們網站上的任何信息。您同意監控我們網站的變更是您的責任。<br></p>
							<h4>第4節 - 對服務和價格的修改<br></h4>
							<p>我們產品的價格如有變更，恕不另行通知。</p>
							<p>我們保留隨時修改或終止服務（或其任何部分或內容）的權利，恕不另行通知。</p>
							<p>對於本服務的任何修改，價格更改，暫停或終止，我們不對您或任何第三方承擔任何責任。</p>
							<h4>第5節 - 產品或服務（如適用）</h4>
							<p>某些產品或服務可通過網站在線獨家提供。這些產品或服務的數量有限，只能根據我們的退貨政策退貨或換貨。</p>
							<p>我們盡一切努力盡可能準確地顯示出現在商店的產品的顏色和圖像。我們無法保證您的計算機顯示器的任何顏色顯示都是準確的。</p>
							<p>我們保留權利，但沒有義務將我們的產品或服務的銷售限制在任何人，地理區域或管轄區。我們可以根據具體情況行使此權利。我們保留限制我們提供的任何產品或服務的數量的權利。產品或產品定價的所有描述如有變更，恕不另行通知，由我們自行決定。我們保留隨時終止任何產品的權利。對本網站上的任何產品或服務的任何要約在禁止的情況下均無效。</p>
							<p>我們不保證您購買或獲得的任何產品，服務，信息或其他材料的質量符合您的期望，或者本服務中的任何錯誤都將得到糾正。</p>
							<h4>第6節 - 賬單和賬戶信息的準確性</h4>
							<p>我們保留拒絕您與我們訂購的任何訂單的權利。我們可以自行決定限制或取消每人，每戶或每個訂單購買的數量。這些限制可能包括由同一客戶帳戶或相同客戶帳戶下的訂單，相同的信用卡和/或使用相同帳單和/或送貨地址的訂單。如果我們更改或取消訂單，我們可能會嘗試通過聯繫訂單時提供的電子郵件和/或帳單地址/電話號碼來通知您。我們保留限制或禁止經銷商，經銷商或分銷商認可的訂單的權利。</p>
							<p>您同意為我們在商店購買的所有商品提供最新，完整和準確的購買和帳戶信息。您同意及時更新您的帳戶和其他信息，包括您的電子郵件地址和信用卡號碼以及到期日期，以便我們完成您的交易並根據需要與您聯繫。</p>
							<p>有關詳細信息，請查看我們的退貨政策。</p>
							<h4>第7節 - 可選工具</h4>
							<p>我們可能會為您提供訪問第三方工具的權限，我們既不監控也不控制或輸入。</p>
							<p>您承認並同意我們提供對“此類工具”和“可用”等工具的訪問權，不附帶任何形式的任何保證，陳述或條件且無任何認可。對於您使用可選的第三方工具，我們不承擔任何責任。</p>
							<p>您通過本網站提供的可選工具的任何使用完全由您自行承擔風險和自行決定，您應確保您熟悉並批准相關第三方提供商提供工具的條款。</p>
							<p>我們將來還可能通過網站提供新的服務和/或功能（包括新工具和資源的發布）。此類新功能和/或服務還應遵守這些服務條款。</p>
							<h4>第8節 - 第三方鏈接</h4>
							<p>通過我們的服務提供的某些內容，產品和服務可能包含來自第三方的材料。</p>
							<p>本網站上的第三方鏈接可能會將您引導至與我們無關的第三方網站。我們不負責審查或評估內容或準確性，我們不保證也不對任何第三方材料或網站或第三方的任何其他材料，產品或服務承擔任何責任或義務。</p>
							<p>對於因購買或使用與任何第三方網站相關的商品，服務，資源，內容或任何其他交易而導致的任何損害或損害，我們概不負責。請仔細閱讀第三方的政策和做法，並確保在進行任何交易之前了解這些政策和做法。有關第三方產品的投訴，聲明，疑慮或問題應直接向第三方提出。</p>
							<h4>第9節 - 用戶評論，反饋和其他提交</h4>
							<p>如果根據我們的要求，您發送某些特定提交內容（例如參賽作品）或未經我們提出請求，您可以發送創意，建議，提案，計劃或其他材料，無論是在線，通過電子郵件，通過郵寄還是其他方式（統稱“評論”），您同意我們可以在任何時間，無限制地編輯，複製，出版，分發，翻譯和以其他方式在任何媒體中使用您轉發給我們的任何評論。我們現在並且沒有義務（1）保密任何評論;
								（2）對任何意見支付賠償金;或（3）回應任何意見。</p>
							<p>我們可以（但沒有義務）監控，編輯或刪除我們自行決定的內容，包括非法，攻擊性，威脅性，誹謗性，誹謗性，色情內容，淫穢內容或其他令人反感的內容，或違反任何一方的知識產權或本服務條款。</p>
							<p>您同意您的意見不會侵犯任何第三方的任何權利，包括版權，商標，隱私，個性或其他個人或專有權利。您進一步同意，您的評論不會包含誹謗或其他非法，侮辱性或淫穢內容，或包含任何可能以任何方式影響服務或任何相關網站運營的計算機病毒或其他惡意軟件。您不得使用虛假的電子郵件地址，假裝是您以外的其他人，或以其他方式誤導我們或第三方的任何評論的來源。您對自己提出的任何意見及其準確性負全部責任。對於您或任何第三方發布的任何評論，我們不承擔任何責任。</p>
							<h4>第10節 - 個人信息</h4>
							<p>您通過商店提交的個人信息受我們的隱私政策約束。</p>
							<h4>第11節 - 錯誤，不准確和遺漏</h4>
							<p>有時，我們網站或服務中可能包含與產品描述，定價，促銷，優惠，產品運費，運輸時間和可用性相關的印刷錯誤，不准確或遺漏的信息。如果服務或任何相關網站上的任何信息在任何時候不准確，我們保留更正或更新信息或取消訂單的權利，恕不另行通知（包括您提交訂單後）
								。</p>
							<p>我們沒有義務更新，修改或澄清服務或任何相關網站上的信息，包括但不限於定價信息，法律要求除外。未在服務或任何相關網站上應用指定的更新或刷新日期，應表明服務或任何相關網站上的所有信息均已被修改或更新。</p>
							<h4>第12節 - 禁止使用</h4>
							<p>除了服務條款中規定的其他禁令外，您不得使用本網站或其內容：（a）出於任何非法目的; （b）要求他人進行或參與任何非法行為; （c）違反任何國際，聯邦，省或州的法規，規則，法律或地方法令;
								（d）侵犯或侵犯我們的知識產權或他人的知識產權; （e）基於性別，性取向，宗教，種族，種族，年齡，國籍或殘疾進行騷擾，虐待，侮辱，傷害，誹謗，誹謗，貶低，恐嚇或歧視; （f）提交虛假或誤導性資料;
								（g）上傳或傳播將以或可能以任何方式使用的病毒或任何其他類型的惡意代碼，這些代碼將影響服務或任何相關網站，其他網站或互聯網的功能或操作; （h）收集或追踪他人的個人資料;
								（i）垃圾郵件，網絡釣魚，殺毒，藉口，蜘蛛，爬行或刮擦; （j）任何淫褻或不道德的目的;或（k）干擾或規避服務或任何相關網站，其他網站或互聯網的安全功能。我們保留因違反任何違禁用途而終止您使用服務或任何相關網站的權利。</p>
							<h4>第13節 - 免責聲明;責任限制</h4>
							<p>我們不保證，聲明或保證您對我們服務的使用不會中斷，及時，安全或沒有錯誤。</p>
							<p>我們不保證從使用服務中獲得的結果將是準確或可靠的。</p>
							<p>您同意我們可能會不定期地刪除服務或隨時取消服務，恕不另行通知。</p>
							<p>您明確同意，您自行承擔使用或無法使用服務的風險。通過服務向您提供的服務以及所有產品和服務（除非我們明確說明）以“原樣”和“可用”的形式提供給您使用，不作任何陳述，保證或任何類型的條件，無論是快遞還是暗示，包括所有暗示的適銷性，適銷性，適用於特定用途，耐用性，所有權和非侵權的保證或條件。</p>
							<p>在任何情況下，我們的控股公司，董事，高級職員，員工，關聯公司，代理商，承包商，實習生，供應商，服務提供商或許可方均不對任何傷害，損失，索賠或任何直接，間接，偶然，懲罰性，特殊性，或任何形式的間接損害，包括但不限於利潤損失，收入損失，儲蓄損失，數據丟失，重置成本或任何類似的損害，無論是基於合同，侵權（包括疏忽），嚴格責任還是其他，由您使用本服務或使用本服務獲得的任何產品，或以任何方式使用本服務或任何產品的任何其他聲明，包括但不限於任何內容中的任何錯誤或遺漏，或由於使用服務或通過服務發布，傳輸或以其他方式提供的任何內容（或產品）而導致的任何類型的任何損失或損害，即使已被告知其可能性。由於某些州或司法管轄區不允許排除或限制間接或附帶損害的責任，因此在此類州或司法管轄區，我們的責任應限於法律允許的最大範圍內。</p>
							<h4>第14節 - 賠償</h4>
							<p>您同意賠償，保護我們的父母，子公司，附屬機構，合作夥伴，高級職員，董事，代理商，承包商，許可人，服務提供商，分包商，供應商，實習生和員工，對任何索賠或要求無害，包括由於您違反本服務條款或通過引用而包含的文件或您違反任何法律或第三方權利而導致的任何第三方產生的合理律師費。</p>
							<h4>第15節 - 可分割性</h4>
							<p>如果本服務條款的任何規定被確定為非法，無效或無法執行，則此類規定仍應在適用法律允許的最大範圍內強制執行，並且不可執行部分應被視為與本條款中的服務，此類確定不得影響任何其他剩餘條款的有效性和可執行性。</p>
							<h4>第16節 - 終止</h4>
							<p>在終止日期之前發生的雙方的義務和責任在本協議終止後仍然有效。</p>
							<p>除非您或我們終止，否則這些服務條款均有效。您可以隨時通知我們您不再希望使用我們的服務，或者當您停止使用我們的網站時終止這些服務條款。</p>
							<p>如果我們單獨判斷您未能或我們懷疑您未能遵守本服務條款的任何條款或規定，我們也可以隨時終止本協議，恕不另行通知，您仍將對所有應付金額負責至終止日期;和/或因此可能拒絕您訪問我們的服務（或其任何部分）。</p>
							<h4>第17節 - 整個協議</h4>
							<p>我們未能行使或執行本服務條款的任何權利或規定，並不構成對此類權利或規定的放棄。</p>
							<p>這些服務條款以及我們在本網站或本服務中發布的任何政策或操作規則構成您與我們之間的完整協議和理解，並管轄您對本服務的使用，取代任何先前或同期的協議，通信和提案您和我們之間的口頭或書面形式（包括但不限於任何先前版本的服務條款）。</p>
							<p>對本服務條款的解釋中的任何含糊之處不得解釋為起草方。</p>
							<h4>第18節 - 管轄法律</h4>
							<p>這些服務條款以及我們向您提供服務的任何單獨協議應受其所在的管轄區和解釋所依據。</p>
							<h4>第19節 - 服務條款的變更</h4>
							<p>您可以隨時在此頁面查看最新版本的服務條款。</p>
							<p>我們保留自行決定權利。</p>
							<p><br></p>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">隱私政策</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<p>第1節 - 個人信息的收集</p>
							<p>我們不會與第三方在線收集，分享或交易客戶的個人信息。<br></p>
							<p>在線收集的個人信息僅在我們的公司集團和第三方中披露，用於您收集的目的，並經您授權和同意。例如，在我們的網站上進行您選擇的產品的銷售交易。<br></p>
							<p>當您註冊我們的帳戶時，我們收集的個人信息可能包括您：<br></p>
							<p>名稱<br></p>
							<p>郵寄地址</p>
							<p>電子郵件地址</p>
							<p>出生日期（可選）</p>
							<p>性別（可選）</p>
							<p>當您在我們的網站上購物時，我們收集的其他個人信息可能包括：</p>
							<p>電話號碼<br></p>
							<p>手機號碼</p>
							<p>郵寄地址</p>
							<p>信用卡詳細信息（可選）和付款方式</p>
							<p>我們向您收集的強制性個人信息將在我們的公司集團和第三方之間使用和共享，用於以下目的：</p>
							<p>提供您從我們網站購買的產品。例如，我們可能會將您的姓名和地址傳遞給第三方，例如我們的快遞服務公司或選擇的供應商;<br></p>
							<p>通知和更新產品交付和客戶支持;</p>
							<p>為您提供相關的產品信息，如SKU;</p>
							<p>您可以要求我們處理您的訂單並向您提供通過我們的網站提供的服務和信息，</p>
							<p>允許我們管理您的註冊帳戶;</p>
							<p>驗證和執行與您在線支付相關的金融交易。例如，您通過我們網站進行的付款將由我們指定的代理商處理。在進行您選擇的銷售交易時，必須向這些數據處理代理商（例如我們在此上下文中指定代理商的代理商）進行披露。</p>
							<p>非強制性個人信息（如出生日期和性別）用於對用戶的人口統計數據進行研究，以及我們以促銷電子郵件的形式向您發送建議或信息，我們認為您可能認為這些有用，從而增強您訪問我們網站時的體驗。通過向我們提供這些非強制性個人信息，您被視為已同意參與我們的研究並接收上述建議或信息。您可以自由撤銷同意我們使用此可選提供的信息。</p>
							<p>第2節 - 同意</p>
							<p>你如何得到我的同意？<br></p>
							<p>當您向我們提供個人信息以完成交易，驗證您的信用卡，下訂單，安排交貨或退貨時，我們暗示您同意我們收集它並僅出於特定原因使用它。<br></p>
							<p>如果我們出於次要原因（如營銷）要求您提供個人信息，我們會直接詢問您的明確同意，或者為您提供拒絕或退出的機會。<br></p>
							<p>我該如何撤回同意？<br></p>
							<p>如果您選擇加入並改變主意後，您可以隨時聯繫我們，取消您同意我們與您聯繫，以便繼續收集，使用或披露您的信息。<br></p>
							<p>第3節 - 公開<br></p>
							<p>如果您違反我們的服務條款，我們可能會在法律要求的情況下公開您的個人信息。<br></p>
							<p>付款：<br></p>
							<p>如果您選擇直接付款網關來完成購買，那麼我們會存儲您的信用卡數據。它通過支付卡行業數據安全標準（PCI-DSS）加密。只有在完成購買交易所需的時間內，才會存儲您的購買交易數據。完成後，您的購買交易信息將被刪除。<br></p>
							<p>所有直接支付網關都遵循由PCI安全標準委員會管理的PCI-DSS設定的標準，這是Visa，MasterCard，American Express和Discover等品牌的共同努力。<br></p>
							<p>PCI-DSS要求有助於確保我們的商店及其服務提供商安全處理信用卡信息。<br></p>
							<p>有關更多信息，您可能還需要閱讀我們的服務條款或隱私聲明。</p>
							<p>第4節 - 第三方服務</p>
							<p>一般而言，我們使用的第三方提供商僅在必要時收集，使用和披露您的信息，以允許他們執行他們向我們提供的服務。<br></p>
							<p>但是，某些第三方服務提供商（如支付網關和其他支付交易處理商）對於我們需要為您的購買相關交易提供的信息有自己的隱私政策。<br></p>
							<p>對於這些提供商，我們建議您閱讀其隱私政策，以便了解這些提供商處理您的個人信息的方式。<br></p>
							<p>請記住，某些提供商可能位於或擁有與您或我們不同的轄區內的設施。因此，如果您選擇繼續涉及第三方服務提供商服務的交易，那麼您的信息可能會受到該服務提供商或其設施所在司法管轄區的法律的約束。<br></p>
							<p>一旦您離開我們商店的網站或被重定向到第三方網站或應用程序，您將不再受本隱私政策或我們網站的服務條款的約束。<br></p>
							<p>鏈接<br></p>
							<p>當您點擊我們商店的鏈接時，他們可能會引導您離開我們的網站。我們不對其他網站的隱私慣例負責，並鼓勵您閱讀其隱私聲明。<br></p>
							<p>第5節 - 安全<br></p>
							<p>為了保護您的個人信息，我們採取合理的預防措施並遵循行業最佳實踐，以確保其不會被錯誤地丟失，誤用，訪問，披露，更改或破壞。<br></p>
							<p>雖然沒有通過互聯網或電子存儲傳輸的方法是100％安全的，但我們遵循所有PCI-DSS要求並實施其他普遍接受的行業標準。<br></p>
							<p>收集計算機數據不是必需的個人信息<br></p>
							<p>當您訪問我們的網站時，我們公司的服務器將自動記錄您訪問網站時瀏覽器發送的信息。這些數據可能包括：<br></p>
							<p>您計算機的IP地址<br></p>
							<p>瀏覽器類型</p>
							<p>在您訪問我們的網站之前訪問的網頁</p>
							<p>在我們網站上搜索的頁面，項目和信息所花費的時間，訪問時間和日期以及其他統計信息</p>
							<p>收集此信息用於分析和評估，以幫助我們改進我們的網站以及我們提供的服務和產品。此數據不會與任何其他個人信息一起使用。</p>
							<p>第6節 - 同意年齡<br></p>
							<p>使用本網站即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許任何您的未成年家屬使用本網站。<br></p>
							<p>第7節 - 本隱私政策的變更<br></p>
							<p>使用本網站即表示您至少是您所在州或省的成年年齡，或者您是您所在州或省的多數年齡，並且您已經同意我們允許任何您的未成年家屬使用本網站。<br></p>
							<p>如果我們的商店被收購或與其他公司合併，您的信息可能會轉移給新的所有者，以便我們繼續向您銷售產品。<br></p>
							<p>問題和聯繫信息<br></p>
							<p>如果您希望：訪問，更正，修改或刪除我們擁有的任何個人信息，註冊投訴或只是想了解更多信息，請聯繫我們的隱私合規官<br></p>
							<p>[回复：隱私合規官]<br></p>
							<p><br></p>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">購物&運送須知</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<div>
								<h4 style="text-align: center;">買家保障</h4>
								<p style="text-align: center;">如果您未收到商品<strong>全額退款</strong>！</p>
								<p style="text-align: center;">如果您購買的商品與描述不符，<strong>全額或部分退款</strong>！<br></p>
								<div style="text-align: left;"><span style="background-color: rgb(253, 239, 217); color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; font-size: large;">❌七天鑑賞期並非試用期，產品經拆封使用，為保障下位消費者使用權益，非瑕疵問題無法辦理退貨！</span></div>
								<p></p>
								<p><br></p>
							</div>
							<p>① 商品訂購後需幾天才能收到商品？<br></p>
							<p>台灣地區將於下單後約 5-7 個工作天到達(不含例/假日)</p>
							<p>台灣外島地區無法配送</p>
							<p><br></p>
							<p>② 我怎麼查詢出貨進度？</p>
							<p>請至網站首頁或點左上角「三」→「訂單查詢」，錄入手機或者訂單號碼查詢。</p>
							<p><br></p>
							<p>③我有急用可以提早到貨嗎？</p>
							<p>商品一般約在付款後的7個工作天內到達，若您有急用請謹慎下單。</p>
							<p><br></p>
							<p>④超商取貨方式</p>
							<p>※ 商品送達至超商門市時，我們會發送簡訊給收件人，請您在務必在下單時填寫正確的手機號碼，以免接收不到簡訊通知。</p>
							<p>※
								當您至超商取貨時，請先確認您取貨的店家地址，門市人員將會為您核對身分證件，請告知門市人員您下訂單時所留的「收件人姓名」，若您留的是英文姓名或其他暱稱，則需以此名稱取貨，否則會發生門市人員找不到您的包裹的情形或是因身份核對不符遭到退件。</p>
							<p><br></p>
							<p>⑤無法配送的品項</p>
							<p>1. 生鮮蔬果魚肉（生鮮食品、易壞水果）、低溫或需恆溫控制商品（冰淇淋、蛋糕）</p>
							<p>2. 貴重物品（身分證件、有價證券、展演會票券、禮券、藥品、限量不可複製品、現金、支票、金飾或鑽石）</p>
							<p>3. 易碎物品（瓶裝液體、玻璃瓶）</p>
							<p>4. 精密儀器、3C、家電</p>
							<p>5. 活體動物（寵物、昆蟲）</p>
							<p>6. 化學藥品、液體（易燃性、酒釀、鋁包飲料、中藥）</p>
							<p>7. 違反公共秩序與善良風俗之物品（煙、酒、情趣用品、限制級圖書）</p>
							<p>8. 非法禁運品項（毒品、槍支）</p>
							<p>9. 高價託運貨品（價值超過新台幣 20,000 元）</p>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">聯繫我們</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<form id="contactForm" novalidate="novalidate" onsubmit="return tip()">
							<div class="contact-us__form form-horizontal">
								<div class="form-group fix"><label class="control-label"><span class="control-label-required">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">*</font>
											</font>
										</span>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">姓名：</font>
										</font>
									</label>
									<div class="form-control-wrap"><input type="text" name="call_name" class="form-control error" placeholder=""
										 aria-required="true" aria-invalid="true">
										<label id="call_name-error" class="error hidden" for="call_name">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">這是必填欄。</font>
											</font>
										</label></div>
								</div>
								<div class="form-group fix"><label class="control-label"><span class="control-label-required">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">*</font>
											</font>
										</span>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">電子郵件：</font>
										</font>
									</label>
									<div class="form-control-wrap"><input type="text" name="user_email" class="form-control error" placeholder=""
										 aria-required="true" aria-invalid="true"><label id="user_email-error" class="error hidden" for="user_email">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">這是必填欄。</font>
											</font>
										</label></div>
								</div>
								<div class="form-group fix"><label class="control-label"><span class="control-label-required"></span>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">訂單號：</font>
										</font>
									</label>
									<div class="form-control-wrap"><input type="text" name="Order" class="form-control" placeholder=""></div>
								</div>
								<div class="form-group fix"><label class="control-label"><span class="control-label-required">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">*</font>
											</font>
										</span>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">主題：</font>
										</font>
									</label>
									<div class="form-control-wrap mt5"><select class="form-control valid" name="info_type" aria-required="true"
										 aria-invalid="false">
											<option value="">
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">請選擇</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">訂單跟踪</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">尺寸不合適</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">與描述不符/質量問題</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">付款問題</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">退換貨</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">未收到訂單</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">退款問題</font>
												</font>
											</option>
											<option>
												<font style="vertical-align: inherit;">
													<font style="vertical-align: inherit;">其他</font>
												</font>
											</option>
										</select><label id="info_type-error" class="error hidden" for="info_type" style="display: none;"></label></div>
								</div>
								<div class="form-group fix"><label class="control-label"><span class="control-label-required">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">*</font>
											</font>
										</span>
										<font style="vertical-align: inherit;">
											<font style="vertical-align: inherit;">評論：</font>
										</font>
									</label>
									<div class="form-control-wrap"><textarea name="send_content" class="form-control error" rows="3" style="height: 120px;"
										 aria-required="true"></textarea><label id="send_content-error" class="error hidden" for="send_content">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">這是必填欄。</font>
											</font>
										</label></div>
								</div>
								<div class="form-group fix"><label class="control-label"></label>
									<div class="form-control-wrap"><input type="hidden" name="priority" value="urgent"><button type="submit" class="btn btn-purple">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">提交</font>
											</font>
										</button></div>
								</div>
							</div><input type="hidden" name="__hash__" value="11068bc73d0ccf4c3330dda4436d0e50_77d8e906b55678e396257f8fbb659060">
						</form>
						<div style="background: #f5f5f5;padding: 10px;font-size: 14px">
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;"><span class="switch_address">航皓電子商務有限公司</span> </font>
							</font><br>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">
									香港千禧大廣場皇后大道2608L（不是回信地址，謝謝）
								</font>
							</font><br>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										電話：</font>
								</font><span style="color:#191F25;font-family:-apple-system, system-ui; font-size:14px;">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">082370808181</font>
									</font>
								</span>
							</p>
							<p>
								<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 2.5%; font-size:14px;">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp; 021-29508826</font>
									</font>
								</span>
							</p>
							<p>
								<span style="color:#191F25;font-family:-apple-system, system-ui;margin-left: 2.5%; font-size:14px;">
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">&nbsp; &nbsp; &nbsp;&nbsp;021-29508827</font>
									</font>
								</span>
							</p>
							<font style="vertical-align: inherit;">
								<font style="vertical-align: inherit;">
									如果您在48小時內沒有收到任何回復，請發送電子郵件至
									<span style="color:#191F25;font-family:-apple-system, system-ui; font-size:14px;" <font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">fzq396673948@yahoo.com</font>
								</font>
								</span>
							</font>
							</font>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">支付方式</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<h3 class="info-big-tit">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">用貝寶付款</font>
								</font>
							</h3><img src="__PUBLIC__/static/images/pay_method.webp" alt="">
							<ul>
								<li>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">1.使用PayPal，您可以快速安全地在線發送付款。</font>
									</font>
								</li>
								<li>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">2.通過PayPal，您可以使用信用卡，借記卡或銀行帳戶餘額付款。</font>
									</font>
								</li>
								<li>
									<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">3.提交訂單後，您將被重定向到貝寶（PayPal）網站，您可以在那裡進行付款。</font>
									</font>
								</li>
							</ul><br>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										當您通過貝寶（Paypal）下訂單時，您將被重定向到貝寶（PayPal）付款頁面，您可以通過使用貝寶（PayPal）用戶名和密碼登錄來確認付款。
									</font>
								</font>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										即使沒有PayPal帳戶，您仍然可以結帳。</font>
									<font style="vertical-align: inherit;">為此，請點擊“ Paypal Checkout”，您將被重定向到一個安全頁面，您可以在其中輸入信用卡信息或通過PayPal安全地完成付款。
									</font>
								</font>
							</p>

							<h3>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">使用貝寶的優勢：</font>
								</font>
							</h3>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										付款是可追溯的。</font>
									<font style="vertical-align: inherit;">您可以使用PayPal帳戶跟踪付款狀態。Payment不需要您在線使用信用卡（您可以直接從銀行帳戶進行轉帳）。</font>
									<font style="vertical-align: inherit;">開心購物沒有收到您的信用卡號（通過PayPal的服務器對其進行了安全加密），這限制了未經授權使用的風險。

									</font>
								</font>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										請注意，付款時開心購物不會收集您的信用卡/借記卡卡號或個人信息。</font>
									<font style="vertical-align: inherit;">如果您對我們網站上的交易有疑問，請諮詢您的發卡銀行以獲取更多信息。
									</font>
								</font>
							</p>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">配送</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<h3>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">付款後什麼時候可以收到包裹？</font>
								</font>
							</h3>
							<h4>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">超級儲蓄服務：</font>
								</font>
							</h4>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										歐洲和中東以外的地區：訂單處理：3-7天。</font>
									<font style="vertical-align: inherit;">訂單交付：7-14天。</font>
									<font style="vertical-align: inherit;">您訂購的物品將在20天內送達您。
									</font>
								</font>
							</p>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										歐洲和中東：訂單處理：3-7天。</font>
									<font style="vertical-align: inherit;">訂單交貨：10-20天。</font>
									<font style="vertical-align: inherit;">您訂購的商品將在30天內送達您。
									</font>
								</font>
							</p>

							<h4>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">快遞服務：</font>
								</font>
							</h4>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										訂單處理：3-7天。</font>
									<font style="vertical-align: inherit;">訂單交付：5-6天。</font>
									<font style="vertical-align: inherit;">您訂購的物品將在13天內送達您。
									</font>
								</font>
							</p>

							<h4>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">中國假期提醒：</font>
								</font>
							</h4>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										在為期一周的中國假期，中國國慶節（2017年10月1日）和農曆新年（2017年1月28日）期間，某些供應商和承運商的服務可能會受到影響，這意味著在這些假期前後下訂單的交貨可能會延遲3 -7天。
									</font>
								</font>
							</p>

							<h4>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">處理時間</font>
								</font>
							</h4>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										收到您的訂單後，我們將進行質量控制檢查和測試，以確保在發貨之前保證產品的質量。</font>
									<font style="vertical-align: inherit;">處理時間因具體產品而異，平均處理時間約為3-7天；</font>
									<font style="vertical-align: inherit;">但是，它也可能受物料的庫存狀態影響。
									</font>
								</font>
							</p>

							<h3>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">開心購物使用哪種運輸方式？</font>
								</font>
							</h3>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										目前，所有產品將通過航空運輸服務運送。</font>
									<font style="vertical-align: inherit;">對於快遞，DHL是貨運公司。
									</font>
								</font>
							</p>

							<h3>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">如何享受免費送貨政策？</font>
								</font>
							</h3>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										訂單滿$ 69美國境內免運費，其他國家訂單滿$ 89免運費。
									</font>
								</font>
							</p>

							<h3>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">如何追踪我的訂單？</font>
								</font>
							</h3>
							<p>
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">
										下訂單後，我們的系統將向您發送有關訂單詳細信息的電子郵件。</font>
									<font style="vertical-align: inherit;">您也可以登錄到開心購物帳戶並在“我的訂單”頁面上跟踪您的訂單。</font>
									<font style="vertical-align: inherit;">訂單發貨後，我們將通過電子郵件向您發送跟踪號和跟踪網站。
									</font>
								</font>
							</p>
						</div>
					</div>
				</div>

				<div class="hc-right hidden">
					<h2 class="hc-right__title">
						<font style="vertical-align: inherit;">
							<font style="vertical-align: inherit;">退換貨政策</font>
						</font>
					</h2>
					<div class="hc-right__content">
						<div class="hc-right__article">
							<p></p>
							<p><span style="color: rgb(75, 74, 74); font-family: arial, helvetica, clean, sans-serif; white-space: normal; background-color: rgb(253, 239, 217);font-size:18px">❌七天鑑賞期並非試用期，產品經拆封使用，為保障下位消費者使用權益，非瑕疵問題無法辦理退貨！</span></p>
							<p>我們的政策支持在7天內退貨並退款。如果您在購買後的7天后退貨並退款，很遺憾，我們無法為您提供退款或換貨服務。</p>
							<p>要想獲得退貨，您的商品必須未使用未損壞，並且必須是原始包裝。</p>
							<p>部分類型的商品可以免稅退貨。食品，鮮花，報紙或雜誌等易腐爛物品不予退貨。我們也不接收私人或衛生用品、含危險材料、易燃液體或氣體的產品。</p>
							<p><strong>其他不可退貨商品：</strong></p>
							<p>*禮品卡<br></p>
							<p>*可下載的軟件產品</p>
							<p>*一些健康和個人護理用品</p>
							<p>退貨需要提供收據或購買憑證。</p>
							<p>請不要將您購買的產品交還給製造商。<br></p>
							<p><strong>有如下情況時，只會部分退款或不退款:(如果適用）</strong><br></p>
							<p>*預訂有明顯的使用跡象<br></p>
							<p>*已打開的CD，DVD，VHS磁帶，軟件，視頻遊戲，盒式磁帶或黑膠唱片</p>
							<p>*任何不符合原始狀態的物品，由於操作或包裹錯誤而導致部件損壞或丟失</p>
							<p>*退回後的任何物品超過退貨和退款後7天內退回。</p>
							<p><span style="font-family: sans-serif; font-size: 16px;">*</span><span style="font-family: sans-serif; font-size: 16px;">因退貨造成訂單商品金額購物未達免運費和活動優惠標準，仍將於退貨退款時加計原出貨訂單之超商取貨100元物流費；黑猫宅配150元物流費&nbsp;;&nbsp;&nbsp;離島&nbsp;230元物流費。<span
									 style="font-family: sans-serif; font-size: 16px; white-space: normal;">加計</span>活動優惠按實際折價金額計算</span><br></p>
							<p><strong>退款（如適用）</strong></p>
							<p>收到並檢查好您的退貨後，我們會向您發送一封電子郵件，通知您我們已收到您退回的物品。我們還會通知您批准或拒絕退款。<br></p>
							<p>如果您獲得批准，那麼我們將處理您的退款，並會在一定的天數內自動返還應用到您的信用卡或原始付款方式。</p>
							<p><em><strong>延遲或遺失退款（如適用）</strong></em><br></p>
							<p>如果您尚未收到退款，請先重新檢查您的銀行帳戶。<br></p>
							<p>然後聯繫您的信用卡公司，可能需要一些時間才能正式發布退款。<br></p>
							<p>接下來聯繫您的銀行。在退款發布之前，通常需要一些處理時間。<br></p>
							<p><br></p>
							<p><strong>銷售商品（如適用）</strong></p>
							<p>只有正價貨品可以退换货，遺憾的是，限时出清促銷商品不能退换货。</p>
							<p><br></p>
							<p><strong>更換（如適用）</strong></p>
							<p>我們只更換有缺陷或損壞的物品。如果您需要將其換成同一物品，我們會通知您退貨地址。<br></p>
							<p><br></p>
							<p style="white-space: normal;"><strong>維修（如適用）</strong></p>
							<p style="white-space: normal;">如果您的產品在保修期內損壞或無法正常使用，可以聯繫我們索取廠商地址，郵寄需維修商品至廠商維修，維修後我們將為您再次郵寄，免郵費。</p>
							<p><strong>禮品</strong></p>
							<p>如果物品在購買時被標記為禮品並直接發送給您，您將收到退貨價值的禮品券。收到退回的物品後，禮品券將郵寄給您。</p>
							<p>如果物品在購買時未被標記為禮品，或者禮品贈送者將訂單發送給自己以後再送給您，我們將向禮品贈送者發送退款，他將告知您的退貨。</p>
							<p><strong>運輸</strong></p>
							<p>您將負責支付退回物品的運費。運費不予退還。如果您收到退款，退貨運費將從退款中扣除。</p>
							<p>根據您居住的地方，您交換的產品可能需要的時間可能會有所不同。</p>
							<p>因退貨造成訂單商品金額購物未達免運費標準，仍將於退貨退款時加計原出貨訂單之超商取貨100元物流費；黑猫宅配150元物流費&nbsp;;&nbsp;&nbsp;離島&nbsp;230元物流費。</p>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- 公用底部 -->
		{include file="public/footer" /}

		<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
		<script src="__PUBLIC__/static/pc1/js/browser-polyfill.min.js"></script>
		<script src="__PUBLIC__/static/pc1/js/browser.min.js"></script>
		<script src="__PUBLIC__/static/pc1/js/common.js" type="text/babel"></script>
		<script src="__PUBLIC__/static/pc1/js/information.js" type="text/babel"></script>
		<script src="https://www.layuicdn.com/layer/layer.js"></script>


		<script>
			function tip() {
				layer.msg('提交成功',{icon:1,time:2000},function () {
				});
				return false;
			}
		</script>
	</body>
</html>
