<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');

    if(/qiboshop\.store|excellenthall\.shop|chaodaihall\.shop/.test(location.href)){
        // 西安天机英策像素代码
        fbq('init', '994674294326206');
        console.log('pixel_code:'+994674294326206);
    }else if(/chaolgw\.shop|lovexiaoshi\.shop|youpinxuanwu\.shop/.test(location.href)){
        fbq('init', '867614080315189');
        console.log('pixel_code:'+867614080315189);
    }else if(/qiboshop\.shop|youxuanjingpin\.shop|likegouwu\.shop|youxuanjingpin\.store|meiriyigou\.shop/.test(location.href)){
        fbq('init', '298292088016388');
        console.log('pixel_code:'+298292088016388);
    }else if(/psion\.shop|bigonestore\.shop/.test(location.href)){
        fbq('init', '869254980231211');
        console.log('pixel_code:'+869254980231211);
    }else if(/xinpinshishang\.shop|xinxingou\.shop/.test(location.href)){
        fbq('init', '979271529178000');
        console.log('pixel_code:'+979271529178000);
    }else if(/meipingowu\.shop|beautifulhall\.shop/.test(location.href)){
        fbq('init', '685209448699801');
        console.log('pixel_code:'+685209448699801);
    }else if(/hothotgoods\.shop|chaodijia\.shop/.test(location.href)){
        fbq('init', '4130613360345012');
        console.log('pixel_code:'+4130613360345012);
    }else if(/chaofengshop\.shop|chaofengstore\.shop/.test(location.href)){
        fbq('init', '1040249396395755');
        fbq('init', '628914421065224');
        console.log('pixel_code:'+1040249396395755);
        console.log('pixel_code:'+628914421065224);
    }else if(/happygouwu\.shop|tiantianyigou\.shop|daydayshop\.shop|newgoods\.shop|promiseyou\.shop/.test(location.href)){
        fbq('init', '677361279657630');
        console.log('pixel_code:'+677361279657630);
    }else if(/meipinstore\.shop|meipinshop\.shop|dreamfantasy\.shop/.test(location.href)){
        fbq('init', '327086908472557');
        console.log('pixel_code:'+327086908472557);
    }else if(/chaofengguwu\.shop|happyguwu\.shop|youmeishop\.shop/.test(location.href)){
        fbq('init', '650148492513660');
        console.log('pixel_code:'+650148492513660);
    }else if(/jingwyd\.shop/.test(location.href)){
        fbq('init', '214061326655971');
        console.log('pixel_code:'+214061326655971);
    }else if(/jingwenxuan\.shop|chaolowprice\.shop|youmeistore\.shop/.test(location.href)){
        fbq('init', '618956598761009');
        console.log('pixel_code:'+618956598761009);
    }else if(/yougouchaopin\.shop|qualityhall\.shop|fashiongou\.shop/.test(location.href)){
        fbq('init', '768090303950502');
        console.log('pixel_code:'+768090303950502);
    }else{
        fbq('init', '702249683865857');
        console.log('pixel_code:'+702249683865857);
    }
    fbq('track', 'PageView');

</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=702249683865857&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->