<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="css/iconfont.css">
		<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="lib/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/activity_mv2.css" />
		<title></title>
	</head>
	<body>
		<header>
			<div id="head_icon">
				<div class="back">
					<img src="img/white_arrow_03.png">
				</div>
				<div class="share">
					<img src="img/share_05.png">
				</div>


			</div>
		</header>
		<section>
			<div class="list_wrap">
				<div class="list_items">
					<div class="items_icon">
						<img src="img/recommond_03.png">
						<span>
							為你推薦
						</span>
					</div>
					<div class="items_img">
						<a href="" title="">
							<img src="http://shop.tthuipin.com/uploads/20191201/edde05bfc78c6197dc70149497aa64bb.jpg" class="lazy" style="display: block;">
						</a>
					</div>
					<div class="items_main">
						<a href="" title="">
							<div class="list_item_name">
								女装2020新款法式純棉打底長袖t恤
							</div>
							<div class="list_item_details">
								外观漂亮|尺码不错
							</div>
							<div class="list_item_discount">
								满300减30
							</div>
							<div class="list_item_price">
								<span id="festival">
									年货节
								</span>
								<span data-price="" class="lang-price">￥99.00</span>
							</div>
							<div class="list_item_buy">
								<div class="sales_buy">
									月销209件
								</div>
								<div class="rush_to_buy">
									马上抢
								</div>
								<div class="shape">
									<img src="img/shape_10.jpg">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="list_items">
					<div class="items_icon">
						<img src="img/top_03.png">
						<span id="items_num">
							01
						</span>
					</div>
					<div class="items_img">
						<a href="" title="">
							<img src="http://shop.tthuipin.com/uploads/20191201/edde05bfc78c6197dc70149497aa64bb.jpg" class="lazy" style="display: block;">
						</a>
					</div>
					<div class="items_main">
						<a href="" title="">
							<div class="list_item_name">
								女装2020新款法式純棉打底長袖t恤
							</div>
							<div class="list_item_details">
								外观漂亮|尺码不错
							</div>
							<div class="list_item_discount">
								满300减30
							</div>
							<div class="list_item_price">
								<span id="festival">
									年货节
								</span>
								<span data-price="" class="lang-price">￥99.00</span>
							</div>
							<div class="list_item_buy">
								<div class="sales_buy">
									月销209件
								</div>
								<div class="rush_to_buy">
									马上抢
								</div>
								<div class="shape">
									<img src="img/shape_10.jpg">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="list_items">
					<div class="items_icon">
						<img src="img/top_06.png">
						<span id="items_num">
							02
						</span>
					</div>
					<div class="items_img">
						<a href="" title="">
							<img src="http://shop.tthuipin.com/uploads/20191201/edde05bfc78c6197dc70149497aa64bb.jpg" class="lazy" style="display: block;">
						</a>
					</div>
					<div class="items_main">
						<a href="" title="">
							<div class="list_item_name">
								女装2020新款法式純棉打底長袖t恤
							</div>
							<div class="list_item_details">
								外观漂亮|尺码不错
							</div>
							<div class="list_item_discount">
								满300减30
							</div>
							<div class="list_item_price">
								<span id="festival">
									年货节
								</span>
								<span data-price="" class="lang-price">￥99.00</span>
							</div>
							<div class="list_item_buy">
								<div class="sales_buy">
									月销209件
								</div>
								<div class="rush_to_buy">
									马上抢
								</div>
								<div class="shape">
									<img src="img/shape_10.jpg">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="list_items">
					<div class="items_icon">
						<img src="img/top_08.png">
						<span id="items_num">
							03
						</span>
					</div>
					<div class="items_img">
						<a href="" title="">
							<img src="http://shop.tthuipin.com/uploads/20191201/edde05bfc78c6197dc70149497aa64bb.jpg" class="lazy" style="display: block;">
						</a>
					</div>
					<div class="items_main">
						<a href="" title="">
							<div class="list_item_name">
								女装2020新款法式純棉打底長袖t恤
							</div>
							<div class="list_item_details">
								外观漂亮|尺码不错
							</div>
							<div class="list_item_discount">
								满300减30
							</div>
							<div class="list_item_price">
								<span id="festival">
									年货节
								</span>
								<span data-price="" class="lang-price">￥99.00</span>
							</div>
							<div class="list_item_buy">
								<div class="sales_buy">
									月销209件
								</div>
								<div class="rush_to_buy">
									马上抢
								</div>
								<div class="shape">
									<img src="img/shape_10.jpg">
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="list_items">
					<div class="items_icon">
						<img src="img/shape_10.png">
						<span id="item_shape_num">
							04
						</span>
					</div>
					<div class="items_img">
						<a href="" title="">
							<img src="http://shop.tthuipin.com/uploads/20191201/edde05bfc78c6197dc70149497aa64bb.jpg" class="lazy" style="display: block;">
						</a>
					</div>
					<div class="items_main">
						<a href="" title="">
							<div class="list_item_name">
								女装2020新款法式純棉打底長袖t恤
							</div>
							<div class="list_item_details">
								外观漂亮|尺码不错
							</div>
							<div class="list_item_discount">
								满300减30
							</div>
							<div class="list_item_price">
								<span id="festival">
									年货节
								</span>
								<span data-price="" class="lang-price">￥99.00</span>
							</div>
							<div class="list_item_buy">
								<div class="sales_buy">
									月销209件
								</div>
								<div class="rush_to_buy">
									马上抢
								</div>
								<div class="shape">
									<img src="img/shape_10.jpg">
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div style="width: 100%; height: 2rem; opacity: 0;">占位符</div>
		</section>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/rem.js"></script>
		<script src="lib/swiper.min.js"></script>
		<script src="https://www.layuicdn.com/layer-v3.1.1/layer.js"></script>
		<script src="js/common.js"></script>
		<script src="js/shopcart_mv2.js"></script>
	</body>
</html>
